#editor-ai-project-edit-view
  .treema-root
    margin-bottom: 20px

  .ai-project-tool-button
    float: right
    margin-bottom: 15px
    margin-left: 10px
    
  .ai-chat-message-link
    float: left      

  .ai-chat-message-link-text
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    float: right

  textarea
    width: 92%
    height: 300px


