nav.navbar.navbar-default(role='navigation')

  ul.nav.navbar-nav.nav-tabs
    li.active
      a(href="#system-code" data-toggle="tab")#system-code-tab Code
    li
      a(href="#system-config-schema" data-toggle="tab")#system-config-schema-tab Config Schema
    li
      a(href="#system-settings" data-toggle="tab")#system-settings-tab Settings
    li
      a(href="#system-patches" data-toggle="tab" data-i18n="resources.patches")#system-patches-tab Patches

  ul.nav.navbar-nav.navbar-right
    li.dropdown
      a(data-toggle='dropdown')
        span.glyphicon-chevron-down.glyphicon
      ul.dropdown-menu
        li.dropdown-header Actions
        li
          a#system-watch-button
            span.watch
              span.glyphicon.glyphicon-eye-open
              span.spl Watch
            span.unwatch.secret
              span.glyphicon.glyphicon-eye-close
              span.spl Unwatch
        li#patch-system-button
          a(data-i18n="common.submit_patch") Submit Patch
        if me.isAdmin()
          li#create-new-system
            a(data-i18n="editor.level_system_btn_new") Create New System
        li.divider
        li.dropdown-header Info
        li#system-history-button
          a(data-i18n="general.version_history") Version History

  .navbar-header
    span.navbar-brand= editTitle
  
.tab-content
  .tab-pane.active#system-code
    #system-code-editor
  .tab-pane#system-config-schema
    #config-schema-treema
  .tab-pane#system-settings
    #edit-system-treema
  .tab-pane#system-patches
    .patches-view