extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="editor.create_system_title") Create New System

block modal-body-content
  form.form-horizontal
    .control-group
      label.control-label(for="level-system-name") Name
      .controls
        input#level-system-name.input-large(name="name", type="text")

block modal-footer-content
  button.btn(data-dismiss="modal") Cancel
  button.btn.btn-primary#new-level-system-submit Create
