#auth-modal
  .network-login
    float: left
    width: 100px
    text-align: left
    
  #gplus-login-button
    position: relative
    top: 1px
    
  #recover-account-wrapper
    float: right

  .modal-footer
    height: 70px
    padding: 20px 10px
    border-top: 1px solid darkgray
 
  .btn
    margin-right: 10px