#login-modal, #signup-modal
  .network-logins div
    float: left
    margin-right: 20px
    
  .wait
    margin-bottom: 20px
    h3
      text-align: center

  a[data-toggle="coco-modal"]
    cursor: pointer

#signup-modal
  .modal-footer
    padding-top: 0
    div
      text-align: center
    .social-login-text
      padding-top: 20px
  .network-logins
    width: 263px
    margin: 0 auto
    div:last-of-type
      margin-right: 0px
