@import "app/styles/mixins"
@import "app/styles/bootstrap/variables"

#mine-modal
  .modal-dialog
    margin: 60px auto 0 auto
    padding: 0
    width: 746px
    height: 520px
    background: none

  li
    margin-bottom: 16px

  //- Header
  h1
    position: absolute
    left: 155px
    top: 8px
    margin: 0
    width: 410px
    text-align: center
    color: rgb(254,188,68)
    font-size: 32px
    text-shadow: black 4px 4px 0, black -4px -4px 0, black 4px -4px 0, black -4px 4px 0, black 4px 0px 0, black 0px -4px 0, black -4px 0px 0, black 0px 4px 0, black 6px 6px 6px
    font-variant: normal
  //- Close modal button


  #image-content
    position: absolute
    left: 0%
    width: 50%
    height: 100%

    #heroes
      position: absolute
      top: 57%
      left: 62%
      transform: translateX(-50%) translateY(-50%)
      width: 375px
      z-index: 1

  #close-modal
    position: absolute
    left: 568px
    top: 17px
    width: 60px
    height: 60px
    color: white
    text-align: center
    font-size: 30px
    padding-top: 15px
    cursor: pointer
    @include rotate(-3deg)

    &:hover
      color: yellow

  #info-text
    font-size: 17px
    div
      margin: 6px


  #button-container
    position: absolute
    bottom: -35px
    width: 100%
    text-align: center

    #submit-button
      width: 256px

      .no-text-transform
        text-transform: none


  .sale-button
    width: 100%
    font-size: 24px
    line-height: 30px
    border-style: solid
    border-image: url(/images/common/button-background-success-active.png) 14 20 20 20 fill round
    /* Preload hover image */
    &:after
      content: ""
      border-image: url(/images/common/button-background-success-inactive.png)
    /* Preload active image*/
    &:before
      content: ""
      border-image: url(/images/common/button-background-success-pressed.png)  
    &:hover
      border-image: url(/images/common/button-background-success-inactive.png) 14 20 20 20 fill round
    &:active
      border-image: url(/images/common/button-background-success-pressed.png) 14 20 20 20 fill round
    border-width: 14px 20px 20px 20px
    color: darken(white, 5%)
    filter: drop-shadow(4px 4px 8px black)

    span
      pointer-events: none

  .purchase-button
    flex-grow: 1
    font-size: 24px
    line-height: 30px
    border-style: solid
    border-image: url(/images/common/button-background-primary-active.png) 14 20 20 20 fill round
    border-width: 14px 20px 20px 20px
    color: darken(white, 5%)

    span
      pointer-events: none

    &:hover
      border-image: url(/images/common/button-background-primary-disabled.png) 14 20 20 20 fill round

    &:active
      border-image: url(/images/common/button-background-primary-pressed.png) 14 20 20 20 fill round
      padding: 2px 0 0 2px
      color: white

  #mine-details
    text-align: center
    width: 625px
    height: 325px
    position: absolute
    left: 60px
    top: 140px
    border-style: solid
    border-image: url('/images/pages/play/level-info-background.png') 14 20 20 20 fill stretch
    border-width: 14px 20px 20px 20px
    display: none
  #text-content
    
    #details-header
      text-align: center
      #heroes
        z-index: 1

  #mine-info
    position: absolute
    right: -20px
    top: 480px
    width: 256px

  #modal-background
    position: absolute
    top: -61px
    left: 0px

  #mine-content
    width: 685px
    height: 385px
    position: absolute
    left: 30px
    top: 110px
    overflow: visible
    background-image: url('/images/roblox/live_background.png')
    border-radius: 8px
    background-size: cover
    background-position: 50% 75%
