#save-version-modal
  .modal-body
    padding: 10px 50px 30px 20px
   
  .modal-footer
    text-align: left
    .buttons
      text-align: right
  
  #cla-link
    cursor: pointer
    text-decoration: underline
    
  #agreement-button
    margin-left: 10px
    

  .loading
    text-align: center

  .progress
    margin: 0 20%
    width: 60%

  .progress-bar
    width: 100%

  .modal textarea
    width: 92%
    height: 300px

  .help-block
    font-size: 0.9em
    font-style: italic

  .delta-view
    overflow-y: auto
    padding: 10px
    border: 1px solid black
    background: lighten(#add8e6, 17%)
    margin-bottom: 10px
    ul
      padding-left: 20px

  form
    width: 100%
    
  .commit-message
    display: block
    width: 100%
  
  .checkbox
    margin: 10px 10px 0
    input
      margin-right: 5px
      
  #errors-wrapper
    margin-top: 20px
    margin-bottom: 0