#wizard-settings-modal
  color: black
  
  #wizard-settings-view #color-settings
    width: 480px
    
  canvas
    margin: 0px auto 20px
    display: block
    float: none
    background: white

  #wizard-settings-name-wrapper
    padding-left: 0px !important

  .help-block
    text-align: center
