@import "app/styles/mixins"
@import "app/styles/bootstrap/variables"

.spell-list-entry-view
  .spell-list-entry-thangs-view
    position: absolute
    z-index: 11
    top: 50px
    right: -10%
    max-width: 70%
    max-height: 500px
    overflow: scroll
    padding: 4%
    border-style: solid
    border-image: url(/images/level/popover_border_background.png) 16 12 fill round
    border-width: 16px 12px
    
    .thang-avatar-view
      cursor: pointer
      max-width: 100px
      width: 20%
      display: inline-block
    

html.no-borderimage
  .spell-list-entry-view
    .spell-list-entry-thangs-view
      background: transparent url(/images/level/popover_background.png)
      background-size: 100% 100%
      border: 0
