@import "app/styles/mixins"
@import "app/styles/bootstrap/variables"

#spell-list-view
  display: none
  position: absolute
  z-index: 10
  top: 50px
  left: 0%
  right: 10%
  padding: 4%
  border-style: solid
  border-image: url(/images/level/popover_border_background.png) 16 12 fill round
  border-width: 16px 12px
  
html.no-borderimage
  #spell-list-view
    background: transparent url(/images/level/popover_background.png)
    background-size: 100% 100%
    border: 0
