@import "../../../bootstrap/mixins"

.spell-list-entry-view
  code
    background-color: transparent
    border: 0
    font-size: 1.1em
    display: inline-block
    padding: 4px

.spell-list-entry-view.spell-tab
  $height: 38px
  $childMargin: 2px
  $childSize: $height - 2 * $childMargin
  height: $height
  width: 80%
  width: -webkit-calc(100% - 100px)
  width: calc(100% - 100px)
  padding: 0px 8px
  // background: transparent url(/images/level/code_editor_tab_background.png) no-repeat
  // background-size: 100% 100%
  border-width: 3px
  border-image: url(/images/level/code_editor_tab_background.png) 4 fill repeat
  text-align: center

  &.read-only
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url(/images/level/code_editor_tab_background.png)
    background-size: 100% 100%
  
  .spell-list-button, .thang-avatar-wrapper, .reload-code, .beautify-code, .fullscreen-code
    width: $childSize
    height: $childSize
    margin: $childMargin
    box-sizing: border-box

  .spell-list-button, .thang-avatar-wrapper
    float: left

  .reload-code
    float: right
    display: none

  .beautify-code
    float: right

  .fullscreen-code
    float: right

  .btn.btn-small
    background: transparent
    padding: 0

    &:not(:hover)
      border-color: transparent
      @include box-shadow(none)

    .icon-chevron-down, .icon-repeat, .icon-magnet, .icon-fullscreen
      margin-top: 7px
    
  .thang-avatar-wrapper
    border-width: 0

  code
    margin-top: 7px

.spell-list-entry-view:not(.spell-tab)
  cursor: pointer
  @include opacity(0.90)
  clear: both
  padding: 5px
  position: relative

  &:hover
    @include opacity(1)
    background-color: hsla(240, 40, 80, 0.25)

  &.shows-top-divider:not(:first-child)
    border-top: 1px dashed #ccc

  code
    margin-top: 5px

  .thang-names
    float: right
    margin: 8px
    font-variant: small-caps
    color: darken(#ca8, 50%)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-size: 13px
    max-width: 35%
    text-align: right

  .thang-avatar-view
    width: 40px
    float: right

    .thang-avatar-wrapper
      margin: 0 5px 0 0
      //margin: 2px 10px 2px 5px
