@import "../../../bootstrap/mixins"

.spell-debug-view
  position: absolute
  z-index: 9001
  min-width: 250px
  max-width: 400px
  padding: 10px
  background: transparent url(/images/level/popover_background.png)
  background-size: 100% 100%
  .progress
    position: relative
    span
      position: absolute
      display: block
      color: black
      width: 100%
      
