@import "../../../bootstrap/mixins"

#spell-list-view
  display: none
  position: absolute
  z-index: 10
  top: 50px
  left: 0%
  right: 10%
  padding: 4%
  background: transparent url(/images/level/popover_background.png)
  background-size: 100% 100%
  
