@import "../../../bootstrap/mixins"

.thang-list-entry-spells

  .thang-list-entry-spell
    padding: 4px
    cursor: pointer

    &:hover
      background-color: hsla(240, 40, 80, 0.25)

  code
    background-color: transparent
    border: 0
    font-size: 1.1em
