@import "../../../bootstrap/mixins"

#thang-list-view
  margin: 50px 15px 15px 15px
  overflow: auto
  height: 80%
  height: -webkit-calc(100% - 65px)
  height: calc(100% - 65px)

  h3
    line-height: 25px
    margin: 0
    text-align: center
    letter-spacing: 0.1em
  
  .thang-list-section
    margin: 5px
    padding: 5px
    background-color: rgba(200, 200, 200, 0.25)
    border-radius: 5px
    overflow: hidden
