#editor-level-components-tab-view
  h3
    margin-top: 0

  .components-container
    position: absolute
    top: 0
    bottom: 0

    .treema-root
      position: absolute
      top: 35px
      bottom: 0
      width: 250px
      overflow: scroll
      
      .treema-children .treema-row *
        cursor: pointer !important

  .edit-component-container
    margin-left: 290px
    position: absolute
    right: 0
    left: 0px
    top: 0
    bottom: 0
    
    .treema-root
      position: absolute
      top: 35px
      right: 0
      left: 0px
      bottom: 0
      overflow: scroll

    #create-new-component-button-no-select
      position: absolute
      top: 0
      right: 0
