#editor-level-scripts-tab-view
  
  .treema-script
    cursor: pointer
    
  #scripts-treema
    position: absolute
    top: 0
    bottom: 0
    width: 250px
    overflow: scroll
    
  #script-treema
    margin-left: 290px
    max-height: 100%
    overflow: scroll
    box-sizing: border-box
