#editor-level-settings-tab-view
  color: black
  
  .treema-value img
    max-width: 100%

  .treema-node
    &.concept-automatic .treema-value
      color: #333

    &.concept-deprecated .treema-value
      color: gray
