#editor-level-tasks-tab-view
  td
    cursor: pointer
  .task-check
    width: 5em
  .task-check, .task-check *
    margin: auto
    text-align: center
  .edit-cell
    width: 5em
  .edit-cell, .edit-cell *
    margin: auto
    text-align: center
  .task-name
    margin: auto
  .start-edit
    cursor: pointer
  .no-article
    color: rgba(160, 0, 0, 1)
