#editor-ai-chat-message-edit-view
  .treema-root
    margin-bottom: 20px

  .ai-chat-message-tool-button
    float: right
    margin-bottom: 15px
    margin-left: 10px

  .ai-chat-message-link
    float: left  

  .ai-chat-message-parent-name
    float: right 
    
  .ai-document-link 
    float: left

  textarea
    width: 92%
    height: 300px


