#admin-school-licenses-view

  table
    td, th
      padding: 0px

  .range-container
    position: relative
    width: 100%
    .range-background
      position: absolute
      height: 100%
      left: 0px
      top: 0px
      background-color: green
      opacity: 0.25
    .range-dates
      position: absolute
      height: 100%
      width: 100%
      left: 0px
      top: 0px
