#administer-user-modal
  .modal-dialog
    width: 90%

  .user-props
    font-size: 11px

#edit-school-admins-link
  text-decoration: underline

#license-type-select
  .license-type
    display: block

  #select-courses
    .course-name
      margin-right: 10px