#administer-user-modal
  .modal-dialog
    width: 90%

  .user-props
    font-size: 11px

  #edit-school-admins-link
    text-decoration: underline
  
  #license-type-select
    .license-type
      display: block
  
    #select-courses
      .course-name
        margin-right: 10px

  .model-container
    line-height: 1.42857

  .modal-header
    padding-bottom: 0

    .btn + .btn
      margin-left: 0

  .modal-body
    padding-top: 0

  [data-toggle="collapse"]
    cursor: pointer

  #online-teacher-info
    h5
      display: block

    h7
      margin-right: 10px
      font-weight: bold

    .checkbox
      display: inline-block
      margin-right: 20px
      margin-top: 0

    .codeLanguages, .day
      display: inline-block
      width: 8em

    .day-time
      width: 25em
