#admin-outcomes-report-result-view
  
  margin-left: auto
  margin-right: auto
  width: 8.5in
  background-color: white
  
  .header-art
    float: right
    width: 2.25in
    margin-top: 0.8in
    margin-right: 0.4in
    transform: scaleX(-1);

  .header
    height: 2.15in
    padding-top: 0.1in
    padding-left: 0.25in
    padding-right: 0.25in
    background-color: rgb(14, 76, 96)
    -webkit-print-color-adjust: exact !important
    background: linear-gradient(rgb(14, 76, 96), rgb(14, 76, 96)) !important

    h3,h4,h5
      padding-left: 0.25in
      bottom: 0px
      color: white !important

    .print-logo
      margin: 0 0 0 0
      width: 3.75in

  .address
    margin-top: 0.25in
    padding-left: 0.5in
    padding-right: 0.5in
    text-align: left
    p
      line-height: 14pt
      font-size: 12pt

  .course
    margin-bottom: 0.25in
    .bar
      page-break-inside: avoid
      //border: 1px solid orange
      .el
        margin-right: 0.25in
        svg
          transform: rotate(-90deg)
          circle.top
            fill: rgb(14,75,96)
            stroke-width: 50
            stroke: rgb(242, 190, 24)
          circle.bottom
            fill: rgb(14,75,96)

        
        .big
          display: block
          font-size: 48pt
          line-height: 48pt
          text-align: center
          width: 1.5in
        .under
          display: block
          text-align: center
          width: 1.5in
        li
          line-height: 14pt
          font-size: 12pt

        height: 1in
        float: left
    .bar::after
       clear: both
       display: table
       content: " "
    h3
      font-size: 14pt
      font-weight: bold

  .block
    margin-top: 0.25in
    margin-left: 0.5in
    margin-right: 0.5in

    h1, h2
      border-bottom: 1px solid #ccc
      border-radius: 0px
      margin-bottom: 0.1in

    h1
      font-size: 18pt
      line-height: 18pt

    h2
      font-size: 14pt
      line-height: 15pt

    h4
      font-size: 16pt
      line-height: 16pt

    div.fakebar

      margin-top: 0.1in
      margin-bottom: 0.5in

      background-color: rgb(31, 87, 43)
      height: 0.4in
      line-height: 0.4in
      >div
        background-color: white
        height: 100%
        padding-left: 0.1in
        float: right
        font-size: 30pt
        small
          font-size: 16pt
      >div::after
        clear: both
        content: ' '
        display: table

    p
      font-size: 12pt
      line-height: 14pt


    .left-col
      page-break-inside: avoid
      float: left
      width: 4in
      margin-right: 1in

    .right-col
      page-break-inside: avoid
      float: left
      width: 2in
      font-size: 10pt
      line-height: 14pt
      ul
        padding-left: 2ex

    .row-row
      page-break-inside: avoid

    .rob-row::after
      page-break-inside: avoid
      content: " "
      display: table
      clear: both

  img.anya
    margin-left: 0.5in
    margin-top: 0.2in
    float: left

  .room-for-anya
    margin-left: 2.5in

  .bottom
    border-top: 2px solid black
    padding-top: 0.1in
    margin-top: 0.25in
    margin-left: 0.25in
    margin-right: 0.25in
    p
      text-align: center
      line-height: 14pt
      font-weight: bold
