#admin-analytics-view

  // Force compact top site chrome
  background-position: center -226px
  padding-top: 50px
  #site-nav
    top: -80px
    #nav-logo
      display: none
    #small-nav-logo
      display: inline-block
      height: 30px
  
  #site-content-area
    width: 100%
  .big-stat
    width: auto
  .active-classes
    color: blue
  .recurring-revenue
    color: green
  .campaign-active-users
    color: purple
  .classroom-active-users
    color: red
  .count
    font-size: 70pt
  .description
    font-size: 8pt

  .line-chart-container
    height: 500px
    width: 100%
    .x.axis
      font-size: 9pt
      path
        display: none
    .y.axis
      font-size: 9pt
      path
        display: none
