#codeplayback-view
  border: 1px black solid
  padding: 8px
  width: 50%
  margin: auto
  background-color: rgba(0,0,0,0.125)
  border-radius: 8px
  .number, #slider-container
    display: inline-block
  .number
    text-align: center
    width: 12.5%
  #slider-container
    width: 75%
    position: relative
  #codearea, #slider
    width: 100%
  #codearea
    height: 384px
  #acearea
    height: 384px
    width: 100%
  #play-container
    float: left
  #speed-container 
    float: right
  #control-container
    min-height: 24px
  .event
    position: absolute
    background-color: rgba(100, 100, 255, 0.125)
    left: 7px
    top: 0px
    width: 1px
    height: 16px
    pointer-events: none
  .clicked
    background-color: orange
