#admin-level-sessions-view
  .session_tile
    display: inline-block
    position: relative
    margin: 8px

    .session_info
      position: absolute
      top: 0
      left: 0
      right: 0
      text-align: center
      background: rgba(0, 0, 0, 0.5)
      color: white
