#about-view

  @import "bootstrap/variables"

  .team-column
    padding-left: 0

    ul.thumbnails
      margin-left: 40px
      padding: 0

      li
        list-style-type: none


    img.img-thumbnail
      background-color: transparent
      &:hover
        background-color: rgba(200, 244, 255, 0.2)
      float: left
      width: 80px
      height: 80px
      margin: 0px 10px 22px 0px

  .team_name
    font-size: 20px
    margin-top: 0

  .team_bio
    width: 150px
    float: left

    div
      font-size: 12px
      line-height: 14px
      padding-bottom: 5px