#admin-view
  color: black

  #free-sub-input
    min-width: 50%

  .search-help
    position: relative
    display: none
    width: 500px
    border: 1px solid black
    background-color: white
    padding: 5px

  #user-search-result .avatar
    max-width: 18px
    max-height: 18px
