#careers-view

  .big-side-margins
    margin-left: 15%
    margin-right: 15%

  .big-text
    font-size: 16px

  .center
    text-align: center

  .praise-author
    font-size: 12px

  .praise-quote
    font-size: 20px
    font-style: italic
