#community-view

	.community_columns
		width: 330px
		float: left
		padding-left: 10px
		padding-right: 10px

	.half_width
		width: 50%
		height: 175px
		float: left

	.logo_row
		padding-top: 10px
		width: 80%
		margin: 0 auto

	.logo_row img
		height: 50px
		margin: 7px

	.lower_titles
		text-align: center