.contribute_class  

  #homepage_screenshot
    margin: 20px 0px
  .signature
    text-align: right 
    
  a
    cursor: pointer  

  .class_image
    float: left
    width: 150px
    margin: 10px 10px 20px 20px
    
  #contribute-nav
    float: left
    max-width: 20%
    width: 250px
    box-sizing: border-box
    margin-left: 20px
    padding-top: 40px

    li
      float: none
      width: 100%
   
  .class-main
    margin-left: 25%
    padding: 40px
    box-sizing: border-box        

    .header-scrolling-fix
      padding-top: 20px !important
      
    .well
      padding: 5px 5px 5px 30px

    .saved-notification
      display: none
      float: right

  .thumbnail
    background-color: transparent
    height: 176px
    &:hover
      background-color: rgba(200, 244, 255, 0.2)

    h4
      text-align: center
    img
      max-width: 100px
      max-height: 100px
    
