@import "app/styles/bootstrap/variables"
@import "app/styles/mixins"
@import "app/styles/style-flat-variables"

#contact-view

  overflow: hidden

  .head
    margin: -100px 0 30px

  .photo
    margin-bottom: 30px
    text-align: center
    img
      width: 750px

  h3
    margin-top: 60px
    @media (min-width: $screen-sm-min)
      margin-top: 150px

  .card
    margin-bottom: 30px

  .mpqr
    width: 180px
