@import "app/styles/bootstrap/variables"
@import "app/styles/mixins"
@import "app/styles/style-flat-variables"

#home-view

  // style-flat overwrites
  h1, .text-h1
    font-family: $headline-font
    font-weight: bold
    font-size: 46px
    line-height: 62px
    letter-spacing: 2px

  h2, .text-h2
    font-family: $headline-font
    font-weight: bold
    font-size: 33px
    line-height: 62px
    letter-spacing: 2.58px

  h3, .text-h3
    font-family: $headline-font
    font-weight: bold
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.48px

  h4, .text-h4
    font-family: $body-font
    font-weight: bold
    font-size: 24px
    line-height: 30px
    letter-spacing: 0.48px

  h5, .text-h5
    font-family: $body-font
    font-size: 24px
    line-height: 30px
    letter-spacing: 0.48px
    font-weight: normal

  p, .text-p
    font-family: $body-font
    font-size: 18px
    // font-weight: 600
    letter-spacing: 0.75px
    line-height: 26px
    // color: black
    // margin: 0 0 14px

  .btn-primary, .btn-navy, .btn-teal
    background-color: $teal
    border-radius: 4px
    color: $gray
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 0.71px
    line-height: 24px
    width: 247px
    &:hover
      background-color: #2DCEC8
      transition: background-color .35s

  .btn-primary-alt, .btn-navy-alt, .btn-teal-alt
    background-color: transparent
    border: 2px solid $teal
    color: $teal
    border-radius: 4px
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 0.71px
    line-height: 24px
    width: 247px
    &:hover
      color: #232323
      background-color: #1FBAB4
      transition: color .35s, background-color .35s

  overflow: hidden

  // TODO: pull out common pieces, such as carousel controls

  #site-content-area

    .row
      padding: 40px 0px

    .row-dark
      background: linear-gradient(118.13deg, #0E4C60 0%, #20572B 100%)

    #jumbotron-container-fluid
      background-image: url("/images/pages/home/jumbotron.png")
      background-size: cover
      background-repeat: no-repeat
      height: 627px
      width: 100%
      margin: auto auto 40px auto

      h1
        margin: 180px 62px 40px
        text-align: right

      .container
        .btn
          margin: 10px 0
          text-transform: uppercase

    #game-based
      // TODO: section hacky
      .col-lg-12
        padding: 0px 139px
      .game-based-blurb
        display: inline-block
        float: left
        width: 250px
        @media (max-width: $screen-lg-min)
          margin: auto
          padding-bottom: 20px
          float: unset
          display: unset
          background-color: fuchsia
          align-self: auto
          text-align: center
      .game-based-image
        display: inline-block
        width: 570px
        margin-left: 40px
        img
          height: 364px
        @media (max-width: $screen-lg-min)
          margin: auto
          margin-top: 20px
          text-align: center
          width: unset
          img
            height: unset
            width: 100%


    #classroom-in-box-row
      padding: 40px

      h3, .text-p
        color: white
        @media (max-width: $screen-lg-min)
          padding-top: 20px

      .video-thumbnail
        img
          max-width: 100%
          max-height: 100%

    .open-video-btn.video-text
      color: inherit
      text-decoration: underline
      font-style: italic

    .teacher-screenshots
      padding: 10px
      margin-bottom: 40px
      .label
        color: black
        display: block
      .screenshots
        text-align: center
        .screenshot-grid
          img
            display: inline-block
            margin: 6.5px
            width: 300px
            border-radius: 4px

    #creativity-rigor
      background-color: #EAEEEE
      img
        width: 100%
        @media (max-width: $screen-lg-min)
          height: unset

      .tile-shadow
        box-shadow: 2px 2px 6px 0 rgba(155,155,155,0.67)
        padding: 12px
        height: 100%
        h3
          margin: 30px auto 6px

    #built-for-teachers
      padding: 62px
      p
        color: white
      #built-for-teachers-carousel
        border-radius: 14px
        background-color: #FFFFFF
        box-shadow: inset 2px 2px 6px 0 rgba(31,186,180,0.5), 4px 4px 6px 0 #0E4C60
        height: 400px
        padding-bottom: 20px
        @media (max-width: $screen-lg-min)
          height: unset
        .carousel-control
          background-image: unset
          width: 60px
          img
            position: absolute
            margin: auto
            top: 0
            right: 0
            bottom: 0
            left: 0
            height: 25px
        .carousel-indicators
          li
            background-color: #9B9B9B
          li.active
            background-color: $teal
        img.computer
          padding-left: 40px
          width: 100%
          @media (max-width: $screen-lg-min)
            width: 400px
            padding: 0px 0px 20px 0px

    #for-teachers, #for-leaders
      background-color: #F7F9F9
      .tile-shadow
        background-color: #FFFFFF
        box-shadow: 2px 2px 6px 0 rgba(155,155,155,0.51)
        padding: 12px
        height: 260px
        img
          height: 70px
        h3
          margin: 10px auto 15px

    #teachers-love-codecombat
      padding: 30px
      p.mcrel-blurb
        color: white
        font-style: italic

    #quotes
      background-color: $navy
      img
        margin: 65px
        height: 42px
        width: 40px
      #quotes-carousel
        height: 400px
        padding-bottom: 20px
        img
          margin: 30px
          height: 93px
          width: 93px
        h4
          margin: auto 208px
        .carousel-control
          background-image: unset
          width: 60px
          img
            height: 25px
            width: 30px
            margin-top: 100px
        .carousel-indicators
          li
            background-color: $teal
            border: unset
          li.active
            background-color: white
            border: unset
        .quote-user-info
          display: inline-grid
          text-align: left

    #century-skills
      background-color: #F7F9F9
      padding: 22px 62px
      p
        color: white
      h5
        font-weight: normal
      #century-skills-carousel
        .carousel-control
          background-image: inherit
          width: 60px
          img
            position: absolute
            margin: auto
            top: 60px
            right: 0
            bottom: 0
            left: 0
            height: 25px
        .carousel-indicators
          li
            background-color: white
          li.active
            background-color: #FF6978
        .carousel-body
          background-color: $navy
          box-shadow: 2px 2px 6px 0 rgba(155,155,155,0.5)
          // height: 520px
          // padding-bottom: 20px
          margin: unset
          .col-lg-8
            padding: unset
          .col-lg-4
            padding: 60px 40px
          .quote
            background-size: cover
            height: 419px
            h4
              margin: 20px 20%
          .quote-1
            background-image: url("/images/pages/home/century_carousel1.png")
          .quote-2
            background-image: url("/images/pages/home/century_carousel2.png")
          .quote-3
            background-image: url("/images/pages/home/century_carousel3.png")
          .quote-4
            background-image: url("/images/pages/home/century_carousel4.png")

    #global
      margin: 40px auto 0px
      padding: 45px 0px
      img
        height: 72px
      h5
        font-weight: normal

    #featured-partners
      @media (min-width: $screen-lg-min)
        background: linear-gradient(90deg, #F7F9F9 25%, #EAEEEE 25%)
      margin: 0px
      padding: 0px
      .inner-container
        @media (min-width: $screen-lg-min)
          background: linear-gradient(90deg, #F7F9F9 40%, #EAEEEE 40%)
      .pink-bar
        padding-bottom: 20px
      .featured-section
        @media (min-width: $screen-lg-min)
          width: 388px
          .row
            padding: 0px
            margin: 0px
      .partners-section
        @media (min-width: $screen-lg-min)
          .row
            padding: 0px 35px
            margin: 0px
      .tile-shadow
        background-color: #FFFFFF
        box-shadow: 2px 2px 6px 0 rgba(155,155,155,0.51)
        padding: 0px
        margin: 2px
        height: 190px
        width: 190px
        @media (max-width: $screen-lg-min)
          position: relative
          display: inline-block
        img
          width: 100%
        p
          color: #9B9B9B
          font-family: $body-font
          font-size: 14px
          letter-spacing: 0.58px
          line-height: 19px
        .featured-partners-tile-logo
          position: absolute
          margin: auto
          top: 0
          right: 0
          bottom: 0
          left: 0
        .logo-forbes
          height: 27px
          width: 108px
        .logo-edsurge
          height: 33px
          width: 141px
        .logo-apcsp
          height: 100px
          width: 100px
        .logo-codie
          height: 55px
          width: 156px
        .logo-cse-picks
          height: 110px
          width: 110px
        .logo-wsj
          height: 44px
          width: 78px
        .logo-techcrunch
          height: 55px
          width: 79px
        .logo-code-org
          height: 80px
          width: 81px
        .logo-csforall
          height: 60px
          width: 133px
        .logo-amazon-future-engineer
          height: 35px
          width: 166px
        .logo-blurb
          color: #9B9B9B
          font-family: $body-font
          font-size: 14px
          letter-spacing: 0.58px
          line-height: 19px
          position: absolute
          bottom: 6px
          width: 100%

    #screenshot-lightbox
      .video-wrapper
        position: relative
        // Add a little to compensate for being slightly different aspect ratio than screenshots
        padding-top: 2.4%
        // Positioning magic to get it to fill the frame right
        padding-bottom: 56.25%
        height: 0
        iframe
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
