@import "bootstrap/mixins"
@import "bootstrap/variables"

#home-view

  #front-screenshot
    margin-top: 15px
    margin-left: 150px

  #site-slogan
    margin-left: 15px

  .homepage_button
    width: 300px
    margin-top: 30px
    float: right
    font-family: 'Bangers', cursive
    font-weight: normal
    letter-spacing: 1px
    position: relative

    a      
      font-size: 40px
      width: 300px
      height: 80px      
      @include transition(color .10s linear)

    &:hover a, &:active a
      color: #8090AA

    canvas
      position: absolute
      //border: 1px solid

    #beginner-campaign canvas
      top: -30px
      left: -75px

  #homepage_button_container
    padding: 0px 100px 0px 0px
    height: 75px

   
  .homepage_button a
    float: right

  .row
    margin: 20px 0px 35px 0px

  .row.promo
    .span8
      margin-left: 0px
    
    h3
      margin-bottom: -5px

  .centered-button
    display: block
    margin: 15px auto

  #update_zone
    text-align: center
