.notifyjs-achievement-base
  opacity: 0.85
  width: 200px
  background: #F5F5F5
  padding: 5px
  border-radius: 10px
  text-align: center

  .achievement-title
    font-weight: bold

  .achievement-image
    // pass

  .achievement-name
    // pass

  .achievement-description
    // pass