#request-quote-view
  #site-content-area
    //TODO: Maybe this should go in style-flat
    margin: 50px 10px 100px
    
  .section
    margin-top: 80px
    margin-bottom: 50px
  
  .form-group
    label
      margin-bottom: 0
      
  label.checkbox
    font-weight: normal
  
  .help-block
    margin: -4px 0 2px
  
  p
    margin: 0 0 20px
    
  .checkbox, .checkbox-inline
    input
      margin-top: 8px
  
  #other-education-level-input
    label
    display: inline-block
    display: inline-block
    width: 200px
    margin-left: 5px
    
  #submit-request-btn
    margin-left: 10px
    
  #login-btn
    margin-right: 10px