#teachers-view

  font-size: 16px

  .bigger-text
    font-size: 18px

  .faq-question
    font-size: 18px
    font-weight: bold
    margin: 20px 0px 10px 0px

  .uppercase
    text-transform: uppercase

  .btn-create-account
    margin: 4px
    min-width: 300px

  .btn-login-account
    margin: 4px
    min-width: 300px

  .text-center
    text-align: center

  .title
    font-size: 20px
