#test-view
  margin: 0 20px
  
  h2
    background: #add8e6
    font-family: Arial, Geneva, sans-serif
    padding: 20px
    font-weight: bold

  #test-wrapper
    width: 78%
    
  #test-nav
    width: 20%