#test-view
  background-color: #eee
  padding: 0

  #test-h2
    background: #add8e6
    font-family: Arial, Geneva, sans-serif
    padding: 20px
    font-weight: bold

  .alert-report
    font-size: 20px
        
