.container
  ol.skipped-contacts
    li( is="skipped-contact-info",
        v-for="skippedContact in skippedContacts",
        :skippedContact="skippedContact"
        v-on:archiveContact="archiveContact")
