div.btn-group.cast-button-group
  .button-progress-overlay
  button.btn.btn-inverse.banner.cast-button(title=castShortcutVerbose + ": Cast current spell", data-i18n="play_level.tome_cast_button_cast") Spell Cast
  button.btn.btn-inverse.banner.cast-options-button.dropdown-toggle(data-toggle="dropdown")
    i.icon-cog.icon-white

  ul.dropdown-menu.autocast-delays
    li
      span.dropdown-menu-header(data-i18n="play_level.tome_autocast_delay") Autocast Delay
    li.divider
    li
      a(data-delay="1000", href="#", data-i18n="play_level.tome_autocast_1") 1 second
      a(data-delay="3000", href="#", data-i18n="play_level.tome_autocast_3") 3 seconds
      a(data-delay="5000", href="#", data-i18n="play_level.tome_autocast_5") 5 seconds
      a(data-delay="90019001", href="#", data-i18n="play_level.tome_autocast_manual") Manual