div.btn-group.btn-group-lg.cast-button-group
  .button-progress-overlay
  button.btn.btn-inverse.banner.cast-button(title=castVerbose, data-i18n="play_level.tome_cast_button_cast") Spell Cast
  button.btn.btn-inverse.banner.cast-real-time-button(title=castRealTimeVerbose)
    i.glyphicon.glyphicon-play