button.close(type="button") &times;
table
  tr
    if view.duckImg
      td
        img.duck-img(src=view.duckImg width=100)
    td
      h3.problem-alert-title(data-i18n="play_level.problem_alert_title") Fix Your Code
      if view.hint
        span.problem-title!= view.hint
        br
        span.problem-subtitle!= view.message
      else
        span.problem-title!= view.message
if me.getLevelChatExperimentValue() == 'beta' && view.aceConfig.levelChat != 'none'
  .chatbot-help
    img.avatar(src='/images/level/baby-griffin.png' alt='AI')
    span.spr(data-i18n="play_level.problem_alert_need_help")
    button.btn.btn-illustrated.btn-primary.ai-help-button(data-i18n="play_level.problem_alert_ask_the_ai")
