button.close(type="button") &times;
h3.problem-alert-title(data-i18n="play_level.problem_alert_title") Fix Your Code
if hint
  span.problem-title!= hint
  br
  span.problem-subtitle!= message
else
  span.problem-title!= message
