button.close(type="button") &times;
table
  tr
    if view.duckImg
      td
        img.duck-img(src=view.duckImg width=100)
    td
      h3.problem-alert-title(data-i18n="play_level.problem_alert_title") Fix Your Code
      if view.hint
        span.problem-title!= view.hint
        br
        span.problem-subtitle!= view.message
      else
        span.problem-title!= view.message

