.hinge.hinge-0
.hinge.hinge-1
.hinge.hinge-2
.hinge.hinge-3

if includeSpellList
  .btn.btn-small.btn-illustrated.spell-list-button(data-i18n="[title]play_level.tome_see_all_methods", title="See all methods you can edit")
    .glyphicon.glyphicon-chevron-down

.thang-avatar-placeholder

.method-name-area
  .method-label(data-i18n="play_level.tome_current_method") Current Method
  .method-signature #{methodSignature}

.spell-tool-buttons
  .btn.btn-small.btn-illustrated.btn-warning.reload-code(data-i18n="[title]play_level.tome_reload_method", title="Reload original code for this method")
    .glyphicon.glyphicon-repeat
    span.spl(data-i18n="play_level.reload") Reload
  
  if levelType !== 'hero' && levelType !== 'hero-ladder' && levelType !== 'hero-coop'
   .btn.btn-small.btn-illustrated.fullscreen-code(title=maximizeShortcutVerbose)
     .glyphicon.glyphicon-fullscreen
     .glyphicon.glyphicon-resize-small
      
  if codeLanguage === 'javascript' && levelType !== 'hero' && levelType !== 'hero-ladder' && levelType !== 'hero-coop'
    .btn.btn-small.btn-illustrated.beautify-code(title=beautifyShortcutVerbose)
      .glyphicon.glyphicon-magnet

  .clearfix