.btn.btn-small.spell-list-button(title="See all spells you can edit")
  i.icon-chevron-down
.thang-avatar-placeholder

code #{methodSignature}

.btn.btn-small.reload-code(title="Reload original code for " + spell.name)
  i.icon-repeat

.btn.btn-small.beautify-code(title="Ctrl+Shift+B: Beautify code for " + spell.name)
  i.icon-magnet

.clearfix