img(src="/images/level/code_palette_background.png").code-palette-background
.code-language-logo
ul(class="nav nav-pills" + (tabbed ? ' multiple-tabs' : ''))
  each slug, group in entryGroupSlugs
    li(class=group == "this" || slug == "available-spells" ? "active" : "")
      a(data-toggle="pill", data-target='#palette-tab-' + slug)
        h4= entryGroupNames[group]
.tab-content
  each slug, group in entryGroupSlugs
    div(id="palette-tab-" + slug, class="tab-pane nano" + (group == "this" || slug == defaultGroupSlug ? " active" : ""))
      div(class="properties properties-" + slug + " nano-content")
