.hinge.hinge-0
.hinge.hinge-1
.hinge.hinge-2
.hinge.hinge-3

if includeSpellList
  .btn.btn-small.btn-illustrated.spell-list-button(data-i18n="[title]play_level.tome_see_all_methods", title="See all methods you can edit")
    .glyphicon.glyphicon-chevron-down

.thang-avatar-placeholder

.spell-tool-buttons
  .btn.btn-small.btn-illustrated.btn-warning.reload-code(data-i18n="[title]play_level.tome_reload_method", title="Reload original code for this method")
    .glyphicon.glyphicon-repeat
    span.spl(data-i18n="play_level.reload") Reload

  if me.level() >= 15
   .btn.btn-small.btn-illustrated.fullscreen-code(title=maximizeShortcutVerbose)
     .glyphicon.glyphicon-fullscreen
     .glyphicon.glyphicon-resize-small

  if codeLanguage === 'javascript' && me.level() >= 15
    .btn.btn-small.btn-illustrated.beautify-code(title=beautifyShortcutVerbose)
      .glyphicon.glyphicon-magnet

  if view.hintsState && view.hintsState.get('total') > 0
    .btn.btn-small.btn-illustrated.hints-button
      span(data-i18n="play_level.hints")

  .clearfix
