.hinge.hinge-0
.hinge.hinge-1
.hinge.hinge-2
.hinge.hinge-3

if includeSpellList
  .btn.btn-small.spell-list-button(data-i18n="[title]play_level.tome_see_all_methods", title="See all methods you can edit")
    i.icon-chevron-down

.thang-avatar-placeholder

.method-label(data-i18n="play_level.tome_current_method") Current Method
.method-signature #{methodSignature}

.spell-tool-buttons
  if levelType !== 'hero'
   .btn.btn-small.fullscreen-code(title=maximizeShortcutVerbose)
     i.icon-fullscreen
     i.icon-resize-small
      
  .btn.btn-small.reload-code(data-i18n="[title]play_level.tome_reload_method", title="Reload original code for this method")
    i.icon-repeat
  
  if codeLanguage === 'javascript'
    .btn.btn-small.beautify-code(title=beautifyShortcutVerbose)
      i.icon-magnet

  .clearfix