#readwrite-thangs.thang-list-section
  h3(data-i18n="play_level.tome_minion_spells") Your Minions' Spells
  .thang-list
  .clearfix

#read-thangs.thang-list-section
  h3(data-i18n="play_level.tome_read_only_spells") Read-Only Spells
  .thang-list
  .clearfix

#muggle-thangs.thang-list-section
  h3(data-i18n="play_level.tome_other_units") Other Units
  .thang-list
  .clearfix
