h4.not-code(data-i18n="play_level.tome_select_spell") Select a Spell
.thang-list-entry-spells
  for spell in spells
    div.thang-list-entry-spell
      code(data-spell-name=spell.name) #{spell.name}(#{parameters})