div#color-groups-treema

div#color-group-settings.secret
  div#shape-buttons
    
  canvas#tinting-display(width=400, height=400)
    
  div#controls
    div.slider-cell
      | Hue:
      span.hue-label
      .selector#hue-slider
  
    div.slider-cell
      | Saturation:
      span.saturation-label
      .selector#saturation-slider
  
    div.slider-cell
      | Lightness:
      span.lightness-label
      .selector#lightness-slider
