#editor-chat-home-view
  table
    tr.message-row
      td
        border-top: 0
        padding-left: 50px

        pre
          max-width: 860px

        code
          max-width: 860px
          white-space: break-spaces
          text-overflow: clip

        p
          max-width: 860px
          text-overflow: clip
