@import "app/styles/style-flat-variables"

#choose-account-type-view
  width: 1048px
  .choose-type-title
    display: flex
    flex-direction: column
  .modal-body-content
    padding: 0

  h4
    padding-bottom: 20px

  .path-cards
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%
    justify-content: space-around
    margin-top: 45px

  .path-card
    display: flex
    flex-direction: column
    justify-content: space-between
    flex: 1
    align-items: center

    body[lang^="en"] &
      height: 340px
      max-height: 42vh

    &.navy
      border-color: $navy
      .card-title
        background-color: $navy

    &.forest
      border-color: $forest
      .card-title
        background-color: $forest


    .card-title
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      height: 50px
      max-height: 5vh
      color: white
      font-weight: bold
      text-align: center

    .card-content
      flex-grow: 1
      display: flex
      flex-direction: column
      justify-content: center
      margin: 0 20px

      ul
        align-self: center
        text-align: left
        padding-left: 20px
        &[dir="rtl"]
          text-align: right
        li
          span
            position: relative
            left: -5px

    .card-footer
      margin: 0 20px 20px
      min-height: 62px
      display: flex
      flex-direction: column
      justify-content: flex-end
      i.small div
        line-height: 25px
        font-weight: 300
        font-size: 18px
        padding: 7px


  .individual-section
    display: flex
    flex-grow: 1
    flex-direction: column
    align-items: center
    justify-content: center
    max-width: 425px

  .individual-title
    font-weight: bold

  .individual-description
    margin: 0px 0px 20px 0px
    width: 100%

  .text-h6
    color: white


.card-image
  width: 300px
  height: 200px
  background: #C4C4C4
  border-radius: 10px

