@import "app/styles/style-flat-variables"
@import "ozaria/site/styles/common/common.scss"

#choose-account-type-view
  text-align: center

  .constrain-text-width
    text-align: center
    margin: 0 auto
    width: 350px
    margin-bottom: 10px

  button.ozaria-primary-button
    width: 290px
    min-height: 46px

  .row.or-row
    margin: 20px auto

  .form-group
    align-items: center

  input, label.control-label span
    width: 290px
    display: block
    text-align: left
  
  input
    color: $color-tertiary-brand

  label.control-label span
    margin-top: 20px
    @include font-p-2-paragraph-medium-gray