#campaign-analytics-modal
  td
    font-size: 9pt
    max-width: 60px
  td.completion-rate
    max-width: 1000px
  td.level
    max-width: 1000px
  .modal-dialog
    width: 85%
  .level-name-container
    position: relative
    max-width: 1000px
    .level-name-background
      position: absolute
      height: 100%
      left: 0px
      top: 0px
      background-color: green
      opacity: 0.25
  .level-completion-container
    position: relative
    max-width: 1000px
    .level-completion-background
      position: absolute
      height: 100%
      width: 100%
      left: 0px
      top: 0px
  .level-playtime-container
    position: relative
    .level-playtime-background
      position: absolute
      height: 100%
      left: 0px
      top: 0px
      background-color: green
      opacity: 0.25
