extends /templates/base

block content

  ol.breadcrumb
    li
      a(href="/")
        span.glyphicon.glyphicon-home
    li
      a(href="/account", data-i18n="nav.account")
    li.active(data-i18n="account_settings.title")

  if !me.get('anonymous', true)
    #save-button-container
      button#save-button.btn-lg.btn.disabled(data-i18n="delta.no_changes" disabled="true") No Changes

    #account-settings-view

block footer
