extends /templates/core/modal-base

block modal-header-content
  h3 Applicant Code for
    span.spl= view.session.get('levelName')

block modal-body-content
  .level-session-code-view

block modal-footer
  .modal-footer
    button(data-dismiss="modal", data-i18n="modal.close").btn Close
