extends /templates/modal/modal_base

block modal-header-content
  .modal-header
    h3 Applicant Code

block modal-body-content
  .modal-body
    .level-session-code-view

block modal-footer
  .modal-footer
    button(data-dismiss="modal", data-i18n="modal.close").btn Close
