h3(data-i18n="account_settings.job_profile") Job Profile

if me.get('jobProfileApproved')
  p.lead(data-i18n="account_settings.job_profile_approved") Your job profile has been approved by CodeCombat.
else
  p.lead(data-i18n="account_settings.job_profile_explanation") Fill this out, and we will try to find you a job, and stuff.

#job-profile-treema