extends /templates/core/modal-base

block modal-header-content
  h3 Prepaid Code Details (#{view.ppc.get('code')})

block modal-body-content
  if view.redeemedOn
    p You redeemed this code: #{view.redeemedOn}
  else
    if view.ppc.openSpots()
      p: strong Adds #{view.ppc.get('properties').months} month(s) to your current subscription.
      p You can redeem this code.
    else
      p You cannot redeem this code. 

block modal-footer-content
  button#close.btn.btn-primary(type="button", data-dismiss="modal") Cancel
  if !view.redeemedOn && view.ppc.openSpots() > 0
    button#redeem.btn.btn-primary(type="button", data-dismiss="modal") Redeem Code To My Account
