extends /templates/base

block content

  if me.get('anonymous')
    p(data-i18n="account_settings.not_logged_in") Log in or create an account to change your settings.

  else
    ol.breadcrumb
      li
        a(href="/")
          span.glyphicon.glyphicon-home
      li
        a(href="/account", data-i18n="nav.account")
      li.active(data-i18n="account.prepaid")

    div.alert.alert-danger
      span UNDER CONSTRUCTION send feedback to
      a.spl(href='mailto:team@codecombat.com') team@codecombat.com
    ul
      li TODO: Add section for purchasing subscription prepaid codes
      li TODO: Add list of purchased prepaid codes
      li TODO: Add option to email purchased codes
      li TODO: Add redeem subscription code option (see gdoc for more details)
      li TODO: Add list of redeemed codes (maybe add a column to the purchased codes list to reflect status?)
