extends /templates/base

block content
  
  p
    span(data-i18n="account.unsubscribe") Unsubscribing for
    span  
    strong= view.email
  
  button.btn.btn-warning#unsubscribe-button(data-i18n="account.unsubscribe_button") Do it

  .progress.progress-striped.active.secret
    .progress-bar
      
  p.secret#fail-alert(data-i18n="account.unsubscribe_failed").alert.alert-danger Failed
    
  p.secret#success-alert(data-i18n="account.unsubscribe_success").alert.alert-success Success
