@import "app/styles/ozaria/ozaria-style-params.scss";

.btn-moon {
  background-color: #fcbb00;
  border-radius: 4px;
  color: #131B25;
  text-shadow: unset;
  @include font-h-5-button-text-black;
  min-width: 260px;
  padding: 1.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.71px;
  line-height: 2.4rem;
  font-size: 1.8rem;
  white-space: unset;
  font-weight: 700;

  &:hover {
    background-color: #fcd200;
    transition: background-color .35s;
  }
}
