// Fonts for US customers
// @import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext,cyrillic,vietnamese,cyrillic-ext,greek-ext,greek&display=swap)
// @import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,latin-ext,cyrillic-ext,greek-ext,greek,vietnamese,cyrillic&display=swap)
// @import url('//fonts.googleapis.com/css?family=Arvo:400,700|Plus+Jakarta+Sans:300,400,500,700|Roboto+Mono|Work+Sans:300,400,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese')
@import url('//dbbpm1bnahe9k.cloudfront.net/webfont.css')
// @import url('//fonts.googleapis.com/css2?family=Space+Mono&display=swap')

// Use https://gwfh.mranftl.com/fonts/space-mono?subsets=latin,latin-ext,vietnamese to just host these locally

// open-sans-300 - cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 300
  src: url('/fonts/google/open-sans-v40-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_vietnamese-300.woff2') format('woff2')

// open-sans-regular - cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  src: url('/fonts/google/open-sans-v40-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_vietnamese-regular.woff2') format('woff2')

// open-sans-700 - cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 700
  src: url('/fonts/google/open-sans-v40-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_vietnamese-700.woff2') format('woff2')

// This one is not on Google Fonts (any more?), so had to do something manually
// open-sans-condensed-700 - cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Open Sans Condensed'
  font-style: normal
  font-weight: 700
  src: url('/fonts/google/OpenSans-CondBold-webfont.woff') format('woff2')

// arvo-regular - latin
@font-face
  font-display: swap
  font-family: 'Arvo'
  font-style: normal
  font-weight: 400
  src: url('/fonts/google/arvo-v22-latin-regular.woff2') format('woff2')

// arvo-700 - latin
@font-face
  font-display: swap
  font-family: 'Arvo'
  font-style: normal
  font-weight: 700
  src: url('/fonts/google/arvo-v22-latin-700.woff2') format('woff2')

// plus-jakarta-sans-300 - cyrillic-ext_latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Plus Jakarta Sans'
  font-style: normal
  font-weight: 300
  src: url('/fonts/google/plus-jakarta-sans-v8-cyrillic-ext_latin_latin-ext_vietnamese-300.woff2') format('woff2')

// plus-jakarta-sans-regular - cyrillic-ext_latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Plus Jakarta Sans'
  font-style: normal
  font-weight: 400
  src: url('/fonts/google/plus-jakarta-sans-v8-cyrillic-ext_latin_latin-ext_vietnamese-regular.woff2') format('woff2')

// plus-jakarta-sans-500 - cyrillic-ext_latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Plus Jakarta Sans'
  font-style: normal
  font-weight: 500
  src: url('/fonts/google/plus-jakarta-sans-v8-cyrillic-ext_latin_latin-ext_vietnamese-500.woff2') format('woff2')

// plus-jakarta-sans-700 - cyrillic-ext_latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Plus Jakarta Sans'
  font-style: normal
  font-weight: 700
  src: url('/fonts/google/plus-jakarta-sans-v8-cyrillic-ext_latin_latin-ext_vietnamese-700.woff2') format('woff2')

// roboto-mono-regular - cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 400
  src: url('/fonts/google/roboto-mono-v23-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-regular.woff2') format('woff2')

// work-sans-300 - latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Work Sans'
  font-style: normal
  font-weight: 300
  src: url('/fonts/google/work-sans-v19-latin_latin-ext_vietnamese-300.woff2') format('woff2')

// work-sans-regular - latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Work Sans'
  font-style: normal
  font-weight: 400
  src: url('/fonts/google/work-sans-v19-latin_latin-ext_vietnamese-regular.woff2') format('woff2')

// work-sans-600 - latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Work Sans'
  font-style: normal
  font-weight: 600
  src: url('/fonts/google/work-sans-v19-latin_latin-ext_vietnamese-600.woff2') format('woff2')

// work-sans-700 - latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Work Sans'
  font-style: normal
  font-weight: 700
  src: url('/fonts/google/work-sans-v19-latin_latin-ext_vietnamese-700.woff2') format('woff2')

// space-mono-regular - latin_latin-ext_vietnamese
@font-face
  font-display: swap
  font-family: 'Space Mono'
  font-style: normal
  font-weight: 400
  src: url('/fonts/google/space-mono-v13-latin_latin-ext_vietnamese-regular.woff2') format('woff2')
