.level-session-code-view
  #level-icon
    max-width: 60%
    max-height: 150px
    margin-right: 10px
    display: inline-block
    float: right
    margin-bottom: 20px
   
  #level-meta-data
    width: 35%
    button
      float: right
    
  #session-code
    clear: both
    margin-top: 20px
    
    h3
      font-family: Arial
      margin: 0
      
    .code
      height: 600px
      border: 2px solid black