h3(data-i18n="account_settings.job_profile") Job Profile

.row
  .col-md-9
    if me.get('jobProfileApproved')
      p.lead(data-i18n="account_settings.job_profile_approved") Your job profile has been approved by CodeCombat. Employers will be able to see it until you either mark it inactive or it has not been changed for four weeks.
    else
      p.lead(data-i18n="account_settings.job_profile_explanation") Hi! Fill this out, and we will get in touch about finding you a software developer job.

    .row
      .col-md-9
        .progress.profile-completion-progress
          .progress-bar.progress-bar-success
        .progress-next-item

      .col-md-3
        a.btn.btn-large.btn-primary.profile-preview-button.top-preview(href="/account/profile/#{me.id}", target="job_profile", data-i18n="account_settings.view_profile") View Your Profile

  .col-md-3
    .thumbnail.sample-profile-thumbnail
      a(href="http://codecombat.com/images/pages/account/profile/sample_profile.png", target="_blank")
        img(src="/images/pages/account/profile/sample_profile_thumb.png" alt="Sample Profile Thumbnail")
        .caption
          span(data-i18n="account_settings.sample_profile") See a sample profile

#job-profile-treema

a.btn.btn-large.btn-primary.profile-preview-button.bottom-preview(href="/account/profile/#{me.id}", target="job_profile", data-i18n="account_settings.view_profile") View Your Profile
