@import "../../../bootstrap/mixins"

#select-point-modal
  @include user-select(none)
  
  .modal-body
    max-height: inherit
    
  canvas
    background-color: #ddd
    border: 1px solid black
    
  .instructions .alert
    float: left
    width: 23%
    box-sizing: border-box
    text-align: center
    margin: 0 1% 10px