{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs",
      "exclude": ["proposal-dynamic-import"]
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
