node_modules
bower_components

public
vendor

#################################################################
#
# List of existing files at time of eslint setup.
#
# These files are ignored so that our lint result represents lint
# results for new files and existing files that have been updated
# to conform to new lint rules.
#
# If you update a file in this list to conform to new standards,
# please remove it from this list so it is linted in the future.
#
#################################################################

app/core/api/cinematic.js
app/core/api/thang-types.js
app/core/social-handlers/GoogleClassroomHandler.js
app/core/store/modules/courseInstances.js
app/core/store/modules/users.js
app/core/store/modules/schoolAdministrator.js
app/core/store/modules/classrooms.js
app/core/store/modules/levelSessions.js
app/models/Cinematic.js
app/schemas/models/cinematic.schema.js
app/schemas/selectors/cinematic.js
app/vendor.js
app/lib/dynamicRequire.js
app/views/core/VueComponentView.js
app/views/core/SingletonAppVueComponentView.js
app/views/play/cinematic/cinematicController.js
app/views/play/cinematic/CinematicLankBoss.js
app/views/play/cinematic/dialog-system/dialogSystemHelper.js
app/views/play/cinematic/DialogSystem.js
app/views/play/cinematic/Command/AbstractCommand.js
app/views/play/cinematic/Command/CinematicParser.js
app/views/play/cinematic/Command/commands.js
app/views/play/cinematic/Command/CommandRunner.js
app/views/play/cinematic/Loader.js
app/views/play/level/tome/editor/fuzziac.js
app/views/editor/cinematic/CinematicEditorView.js
app/assets/javascripts/boot.js
app/assets/javascripts/web-dev-listener.js
app/assets/javascripts/setImmediate.js
app/assets/javascripts/workers/aether_worker.js
app/assets/javascripts/workers/worker_world.js
app/assets/javascripts/run-tests.js
app/assets/dexecure-c167a5675c.js
app/app.js

app/core/components/PieComponent.vue
app/components/cinematic/editor/ListItem.vue
app/views/CinematicCanvas.vue
app/views/special_event/HoC2018InterstitialModal.vue
app/views/special_event/HoC2018Component.vue
app/views/special_event/HoC2018VictoryModal.vue
app/views/LicensorViewComponent.vue
app/views/core/LoadingProgress.vue
app/views/core/ParentReferTeacherModalComponent.vue
app/views/minigames/ConditionalMinigameComponent.vue
app/views/school-administrator/SchoolAdministratorComponent.vue
app/views/school-administrator/dashboard/SchoolAdminDashboardTeacherView.vue
app/views/admin/AdminClassroomLevelsComponent.vue
app/views/admin/FilesComponent.vue
app/views/admin/CLAsComponent.vue
app/views/admin/OutcomesReportComponent.vue
app/views/ParentsViewComponent.vue
app/views/artisans/ArrayInput.vue
app/views/artisans/SandboxViewComponent.vue
app/views/artisans/BulkLevelEditComponent.vue
app/views/artisans/BulkLevelEditorComponent.vue
app/views/teachers/classes/TeacherClassListView.vue
app/views/teachers/classes/CourseProgressDotView.vue
app/views/teachers/classes/ClassroomListRow.vue
app/views/teachers/APCSPLanding.vue
app/views/common/RawPugComponent.vue
app/views/common/BreadcrumbComponent.vue
app/views/common/BackboneViewHarness.vue
app/views/courses/StudentAssessmentsComponent.vue
app/views/courses/CourseVideosComponent.vue
app/views/courses/TeacherClassAssessmentsTable.vue
app/views/courses/StudentAssessmentRow.vue
app/views/courses/StudentLevelProgressDot.vue
app/views/play/level/LevelGoal.vue
app/views/play/level/LevelGoals.vue
app/views/play/level/PlayLevelVideoComponent.vue
app/views/play/level/modal/CourseVideosModalComponent.vue
app/views/play/level/modal/CourseVictoryComponent.vue
app/views/CinematicViewComponent.vue
app/views/editor/cinematic/CinematicEditorComponent.vue

scripts/github-translation-import.js
scripts/copy-i18n-tags.js

stories/Welcome.js
stories/MyButton.js
stories/index.stories.js

test/app/core/social-handlers/GoogleClassroomHandler.spec.js
test/app/models/Cinematic.spec.js
test/app/lib/cinematic/AbstractCommand.spec.js
test/app/lib/cinematic/commandRunner.spec.js
test/app/lib/cinematic/DialogSystem.spec.js
test/app/fixtures/curse.thang.type.js
test/app/fixtures/leather-boots.thang.type.js
test/app/fixtures/ogre-fangrider.thang.type.js
test/app/fixtures/tree1.thang.type.js
test/app/fixtures/ogre-munchkin-m.thang.type.js
test/app/views/teachers/PurchaseStarterLicenseModal.spec.js
test/app/views/courses/CourseVideosComponent.spec.js
test/app/views/play/level/PlayLevelVideoView.spec.js
test/app/views/play/level/modal/CourseVideosModalComponent.spec.js


index.js
karma.conf.js
runWebpack.js
setup-aether.js
webpack.analyzer.config.js
webpack.base.config.js
webpack.config.js
webpack.dev_container.config.js
webpack.development.config.js
webpack.karma.config.js
webpack.production.config.js
