### If you add something here, copy it to the end of .npmignore, too. ###

# Python
*.pyc
*.pyo

# OS X
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db

# Emacs
*.*~
*.#
.#*
*#

# Vim
.*.sw[a-z]
*.un~i

# Sublime
*.sublime-project
*.sublime-workspace

# IntelliJ/WebStorm
*.iml

# NPM packages folder.
node_modules/
bower_components/

# Vagrant
.vagrant/

# Some other random stuff
always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.vi
*.sass-cache
.zedstate

# OS or Editor folders
.cache
.project
.settings
.tmproj
.idea
nbproject

# Brunch folder for temporary files.
tmp/

# Brunch output
public/

# Redis?
dump.rdb

# Mongo
mongo/

# Karma coverage
coverage/

# Floo
.floo
FLOOBITS_README.md

# mongodb
bin/node/
bin/mongo/

# windows
/SCOCODE.bat
cocodb/

# local settings
login.coffee

# debugging
*.heapsnapshot

npm-debug.log*

temp/
./Dockerfile
### If you add something here, copy it to the end of .npmignore, too. ###

# Visual Studio Code
.vscode/

# editorconfig (might be standardized eventually)
.editorconfig

# coffeelint for editors (might be standardized eventually)
coffeelint.json
gitSpy/*

# nightwatch reports
spec/smoke/reports/

scripts/analytics/mongodb/.analyticsAuth.json
scripts/analytics/mongodb/.mainAuth.json

# Created by git LFS
.gitattributes

# Build info file served by the production server
.build_info.json
