# Since we're not a node module, we just use this to tell Nodejitsu what to deploy.

# Don't include GitHub stuff or local scripts
README.md
generators
to_browserify.js
config.coffee
bin
karma.conf.js
.gitignore

# Don't include Brunch input
# test
# vendor

# Only include some of app
# app/assets
# app/styles
# app/templates
# app/views
#!app/models  # keep
#!app/validators  # keep
#!app/lib/world  # keep
#!app/lib/surface  # keep

### Stuff from .gitignore ###

# # Python
*.pyc
*.pyo

# OS X
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db

# Emacs
*.*~
*.#
.#*
*#

# Vim
.*.sw[a-z]
*.un~i

# Sublime
*.sublime-project
*.sublime-workspace

# IntelliJ/WebStorm
*.iml

# NPM packages folder.
node_modules/
bower_components/

# Vagrant
.vagrant/

# Some other random stuff
always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.vi
*.sass-cache
.zedstate

# OS or Editor folders
.cache
.project
.settings
.tmproj
.idea
nbproject

# Brunch folder for temporary files.
tmp/

### Brunch output
##public/
## Do include Brunch output.

# Redis?
dump.rdb

# Mongo
# mongo/
# bin/node/
# bin/mongo/

# Karma coverage
coverage/

temp/

# local settings
login.coffee
Dockerfile

# debugging
*.heapsnapshot

npm-debug.log*

temp/

# Created by git LFS
.gitattributes
