#arena-balancer-view
  .go-button
    margin-top: 33px

  .ace_editor
    font-size: 16px
    line-height: 20px
    font-family: Monaco, Menlo, Ubuntu Mono, Consolas, "source-code-pro", monospace !important
    margin-bottom: 10px

    body[lang="he"] &, body[lang="ar"] &, body[lang="fa"] &, body[lang="ur"] &
      font-family: "Cousine", "Courier", "Courier New", monospace !important

  .solution .ace_editor
    height: 500px
    width: 90%
