#student-solutions-view
  .is-breakable
    word-break: break-word

  .solution
    max-height: 200px
    overflow: auto

  .solution-info
    font-size: 16px
    line-height: 20px

  .go-button
    margin-top: 33px

  .ace_editor
    height: 200px
    width: 90%
    font-family: Monaco, Menlo, Ubuntu Mono, Consolas, "source-code-pro", monospace !important
    margin-bottom: 10px

    body[lang="he"] &, body[lang="ar"] &, body[lang="fa"] &, body[lang="ur"] &
      font-family: "Cousine", "Courier", "Courier New", monospace !important
