#guide-view, #settings-treema .treema-markdown
  .nav-tabs
    height: 41px

  .tab-content
    padding-top: 20px
    margin-bottom: 50px

  li:not(.active) a[data-toggle="tab"]
    cursor: pointer

  img
    display: block
    margin: 0 auto

  img + em
    display: block
    margin: 0 auto
    text-align: center

  hr
    border-color: #5c5c5c
    width: 80%

  table
    width: 80%
    margin: 20px 10%

  //- Purchase button

  .purchase-button
    position: absolute
    left: 73px
    width: 600px
    height: 70px
    top: 430px
    font-size: 32px
    line-height: 42px
    border-style: solid
    border-image: url(/images/level/code_toolbar_submit_button_active.png) 14 20 20 20 fill round
    border-width: 14px 20px 20px 20px
    color: darken(white, 5%)

    span
      pointer-events: none

    &:hover
      border-image: url(/images/level/code_toolbar_submit_button_zazz.png) 14 20 20 20 fill round
      color: white

    &:active
      border-image: url(/images/level/code_toolbar_submit_button_zazz_pressed.png) 14 20 20 20 fill round
      padding: 2px 0 0 2px
      color: white

#guide-view

  &.has-tabs
    margin-top: -40px

  pre.ace_editor
    padding: 2px 4px
    border-radius: 4px
    background-color: #f9f2f4
    font-size: 12px
    font-family: Monaco, Menlo, Ubuntu Mono, Consolas, "source-code-pro", monospace !important

    .ace_cursor, .ace_bracket
      display: none

  .tab-content
    img
      max-width: 100%
