$title-font-style: 'Arvo', serif
$body-font-style: 'Open Sans', sans-serif
$code-font-style: 'Roboto Mono', monospace

// Ozaria Chrome
$chromeTopPadding: 69px
$chromeRightPadding: 76px
$chromeBottomPadding: 37px
$chromeLeftPadding: 30px
