@import "app/styles/mixins"
@import "app/styles/bootstrap/variables"
@import "ozaria/site/styles/play/variables"

#level-dialogue-view
  position: absolute
  left: 0
  top: 0
  width: 57%
  height: 145px
  background: transparentize(black, 0.6)
  z-index: 22
  display: flex
  align-items: center
  justify-content: center

  .dialogue-area
    display: flex
    justify-content: center
    align-items: center
    height: 73px
    border: 4px solid #1FBAB4
    background-color: #FFFFFF
    box-shadow: 2px 2px 8px 0 #ACB9FC
    margin-top: 20px
    margin-bottom: 20px
    margin-left: 30px
    margin-right: 30px

    .vega-narrator
      width: 18%

    .vega-dialogue
      position: relative
      color: #232323
      font-family: "Open Sans"
      font-size: 18px
      letter-spacing: 0.71px
      line-height: 24px
      margin-top: 23px
      margin-bottom: 23px
      margin-left: 35px
      margin-right: 50px
