@import "app/styles/mixins"
@import "app/styles/bootstrap/variables"
@import "ozaria/site/styles/play/variables"
@import "ozaria/site/styles/common/variables"

// For use with fitty library
.fit
  display: inline-block

.shepherd-rectangle
  box-sizing: border-box
  height: 137px
  width: 402px
  background-color: #FFF
  border: 4px solid #F7D047

//display: none
  //visibility: hidden

.golden-highlight-border
  border: 42px solid #F7D047

.shepherd-arrow
  border: 42px solid #F7D047
  color: #F7D047
  background-color: #F7D047
  border-bottom-color: #F7D047

.tutorial-profile-picture
  position: absolute
  top: -30px
  left: -30px
  width: 75px
  z-index: 1000

.shepherd-element
  border-radius: unset

.shepherd-text
  padding: 19px 14px 35px 65px
  color: #232323
  font-family: $body-font-style
  font-size: 18px
  letter-spacing: 0.71px

// Overwrite the default opacity for Shepherd.js:
.shepherd-modal-overlay-container.shepherd-modal-is-visible
  opacity: 0.7

#level-dialogue-view
  display: flex
  position: absolute
  left: 0
  top: 0
  width: $game-view-width
  height: $goals-vega-height
  background: #000000
  z-index: 2
  justify-content: center
  align-items: center

  .dialogue-area
    display: flex
    position: relative
    justify-content: center
    align-items: center
    height: 82%
    width: 92%
    border: 2px solid #1FBAB4
    background-color: #FFFFFF
    box-shadow: 0 0 10px 4px #1FBAB4
    //white-space: normal

    .vega-narrator
      position: absolute
      left: 0
      height: 100%

    .vega-dialogue
      color: #232323
      font-family: $body-font-style
      font-size: 18px
      letter-spacing: 0.71px
      margin: 0 20px 0 22%

    .vega-dialogue.wide
      margin: 0 20px 0 20px

    .continue
      position: absolute
      height: 17px
      width: 140px
      bottom: 1%
      right: 20px
      color: #1FBAB4
      cursor: pointer
      font-family: $body-font-style
      font-size: 12px
      letter-spacing: 0.51px
      line-height: 17px
      text-align: right
