#play-game-dev-level-view
  .container-fluid
    overflow: hidden
    background: #333
    padding: 15px
    min-height: 100vh

  #game-row
    display: flex

  #canvas-wrapper
    width: 100%
    position: relative
    overflow: hidden
    z-index: 0
    border-radius: 5px

  #webgl-surface
    background-color: #333

  #normal-surface
    position: absolute
    top: 0
    left: 0
    pointer-events: none

  canvas#webgl-surface, canvas#normal-surface
    display: block
    z-index: 2

  #info-col
    .panel
      height: 100%
      max-height: calc(100vh - 30px)
      display: flex
      flex-direction: column

    .panel-body
      flex-grow: 1
      overflow: scroll
      ul.goals
        text-align: left

    .panel-footer
      min-height: 70px

  #share-panel-body
    display: flex
    align-items: center

    #share-text-div, #copy-url-div
      flex-grow: 1

    #share-text-div
      margin-right: 20px

    #copy-url-input
      width: 50%

    #copy-url-div
      margin-left: 20px

  #game-dev-track-view
    right: 10px
    top: 10px
