@import "app/styles/mixins"

#buy-gems-modal

  //- Clear modal defaults
  .modal-dialog
    margin: 100px auto 0 auto
    padding: 0
    width: 820px
    height: 460px
    background: none

  //- Close modal button

  #close-modal
    position: absolute
    left: 745px
    top: 0px
    width: 60px
    height: 60px
    color: white
    text-align: center
    font-size: 30px
    padding-top: 15px
    cursor: pointer
    @include rotate(-3deg)

    &:hover
      color: yellow

  //- Background
  #buy-gems-background
    position: absolute
    top: -157px
    left: -2px

  //- Products

  #products
    position: absolute
    left: 55px
    top: 242px
    width: 720px
    height: 140px
    
    .product
      width: 228px
      height: 136px
      float: left
      text-align: center
      margin-right: 12px
      position: relative
      
      h4
        font-size: 20px
        color: rgb(22,16,5)
        
      h3
        margin-top: 10px
        text-transform: uppercase
        color: rgb(22,16,5)
        
      button
        position: absolute
        width: 80%
        left: 10%
        bottom: -30px
        
        
  //- Errors
  .alert
    position: absolute
    left: 10%
    width: 80%
    top: 20px
    border: 5px solid gray
