#play-account-modal
  .modal-dialog
    min-width: 90%
    
    .modal-header
      margin-bottom: 20px
      
    .modal-body
      max-height: 500px
      overflow: scroll
      border-width: 2px 0
      border-color: black
      border-style: solid