#play-level-modal
  .modal-dialog
    margin: 30px auto 0 auto
    padding: 0
    width: 726px

    .background-wrapper
      height: 100%

    .modal-body
      width: 726px - 20px
      height: 435px
