#keyboard-shortcuts-modal
  dl.dl-horizontal
    dt
      width: 120px

      code
        color: #333
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        font-size: 100%

    dd
      margin-left: 140px
