@import "app/styles/style-flat-variables"

#progress-view
  h1, h2, h3
    margin-top: 0
    color: black
    margin-bottom: 5px
  
  .modal-header h1
    padding-top: 10px
    color: $gold
    
  .next-level-description
    p
      margin-top: 30px
    
  .course-title
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  .publish-text
    font-size: 18px
    p
      margin-bottom: 0
      // margin-top: 10px
      // margin-left: 50px
      // margin-right: 50px
  
  #share-level-input
    font-size: 12px
    margin-top: 5px

  #share-level-btn
    width: 100%
    margin-top: 5px

  .modal-body
    padding: 30px 20px 0
    position: relative
    top: 80px
    margin-top: 80px

    @media screen and ( max-height: 650px )
      padding-top: 10px

    .well-parchment
      margin-top: 20px

      @media screen and ( max-height: 675px )
        margin-top: 0
