@import 'choices.js/src/styles/choices'
.my-fancy-select
  position: relative

  .trigger
    font-weight: bold

  .choices__list--single .choices__item
    overflow: visible
    white-space: nowrap

  .options
    max-width: 600px
    width: auto
    white-space: nowrap
    overflow: visible

    .choices__list
      overflow: visible

      .item
        white-space: nowrap
        font-size: 13px
        font-weight: bold
        color: #2B8686
  
        &.hover
          background-color: #abc !important