.my-fancy-select
  position: relative

  .select2-selection
    &__arrow
      position: absolute
      border: 8px solid rgba(0, 0, 0, 0)
      border-top-color: #000
      top: 13px
      right: 11px

  .select2-container
    /* position: absolute
    /* top: 0
    /* left: 0
    width: 100% !important
    height: 100%
    cursor: pointer

    .select2-choice
      cursor: pointer

    .select2-results
      &__option--highlighted
        background: #99A5BE