img.game-dev-play-btn(src="/images/ozaria/level/Active_Button.png", alt=$.i18n.t("common.play"))
  span(data-i18n="play_level.tome_cast_button_run") Run

if view.options.level.isType('game-dev')
  img.game-dev-play-btn(src="/images/ozaria/level/Active_Button.png", alt=$.i18n.t("common.play"))
    span(data-i18n="play_level.tome_cast_button_update") Update
