if view.options.level.isType('game-dev')
  img.game-dev-play-btn(src="/images/ozaria/level/emerald.png", alt=$.i18n.t("common.play"))
  button.btn.btn-lg.btn-illustrated.btn-success.done-button.secret
    span(data-i18n="play_level.done")
  div#reload-code
    img(src="/images/ozaria/level/refresh.svg", alt=$.i18n.t("play_level.restart"))
    p(data-i18n="play_level.restart")

else

  button.btn.btn-lg.btn-illustrated.cast-button(title=view.castVerbose())
    span(data-i18n="play_level.tome_cast_button_ran") Ran

  if !view.observing
    if view.mirror
      .ladder-submission-view
    else
      button.btn.btn-lg.btn-illustrated.submit-button(title=view.castRealTimeVerbose())
        span(data-i18n="play_level.tome_submit_button") Submit
        span.spl.secret.submit-again-time

      button.btn.btn-lg.btn-illustrated.btn-success.done-button.secret
        span(data-i18n="play_level.done") Done

      if view.autoSubmitsToLadder
        .hidden
          .ladder-submission-view
