if !view.options.level.isType('game-dev')
  div.play-button#run.active-button-text
    span(data-i18n="play_level.tome_cast_button_run")
else
  div.play-button#update-game.active-button-text
    span(data-i18n="play_level.tome_cast_button_update")
  div.play-button#next.active-button-text.inactive
    span(data-i18n="play.next")

if me.canAutoFillCode()
  div.play-button#fill-solution.active-button-text
    span(data-i18n="common.solution")
