table
  tr
    td
      if view.hint
        span.problem-title!= view.hint
        if view.message
          span.problem-subtitle!= view.message
      else
        span.problem-title!= view.message
if view.showAiBotHelp
  .chatbot-help
    span.spr(data-i18n="play_level.problem_alert_need_help")
    button.btn.ai-help-button(data-i18n="play_level.problem_alert_ask_the_ai")
    if view.creditMessage
      img.chatbot-hint(src="/images/ozaria/teachers/dashboard/svg_icons/IconHint.svg" alt="Hint" data-container="body" data-toggle="popover" data-placement="right" data-content=view.creditMessage)
