span.doc-title(data-property-name=view.doc.name)= view.doc.title
button.shepherd-next-button.shepherd-next-button-active.shepherd-button(tabindex="0" style="float:right;animation: none;position:absolute;right:10px;")
