#ladder-view
  h1
    text-align: center
    
  .tab-pane
    margin-top: 10px
  
  .score-cell
    width: 50px
    
  .play-button
    margin-bottom: 10px
    background-image: none

  .spectate-button-container
    margin-top: 10px
    text-align: center

  .name-col-cell
    max-width: 300px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    
  tr.stale
    opacity: 0.5

  tr.win .state-cell
    color: #172
  tr.loss .state-cell
    color: #712

  #must-log-in button
    margin-right: 10px
