#ladder-view
  .score-cell
    width: 50px
    
  .play-button
    margin-bottom: 10px
    background-image: none

  .intro-button
    width: 45%
    margin: 0 2.5%

  #simulation-status-text
    display: inline
    margin-left: 10px
