@import "app/styles/mixins"
@import "app/styles/bootstrap/variables"

#level-victory-modal
  .victory-banner
    float: right
    width: 150px
    position: relative
    
  .modal-footer
    clear: both
    padding-top: 15px
  
  p.sign-up-poke
    text-align: left
    margin-bottom: 10px
    
  .sign-up-button
    float: right
    margin-left: 10px
    
  .rating
    float: left
    position: relative
    top: 5px
    span
      margin-right: 5px
    i
      cursor: pointer
      padding: 2px

  .review
    margin-top: 5px
    width: 100%
    box-sizing: border-box
    float: left
    clear: both
    text-align: left
    textarea
      width: 100%
      height: 80px
      box-sizing: border-box

  .share-buttons
    padding-top: 15px
    clear: both

  .modal-header
    text-align: center

body.ipad #level-victory-modal
  .share-buttons
    display: none

  .modal-body
    font-size: 30px
    font-family: $headings-font-family
