.modal-body
  .modal-body-content
    .text-center
      h4(data-i18n="signup.select_your_starting_hero")
      .small(data-i18n="signup.you_can_always_change_your_hero_later")
    #hero-select-view

  // In reverse order for tabbing purposes
  .history-nav-buttons
    button.next-button.btn.btn-lg.btn-navy(type='button')
      span(data-i18n="common.next")
