#prepaidViewContainer
  // We do this as a hack because we've fixed the nav bar for desktop only.
  // Consider a rewrite of this page with the new flat layout.
  width: 96vw
  margin-left: 0
  max-width: 970px

  button
    width: 100%

#users-input, #months-input
  max-width: 100px