@import "../bootstrap/variables"
@import "../bootstrap/mixins"

#account-home
  dl
    margin-bottom: 0px

  img#picture
    max-width: 100%

  .panel
    margin-bottom: 10px

  h2
    margin-bottom: 0px

    a
      font-size: 28px
      margin-left: 5px

  .panel-title > a
    margin-left: 5px
    color: rgb(11, 99, 188)

  .panel-me
    td
      padding-left: 15px

  .panel-emails
    h4
      font-family: $font-family-base

