@import "app/styles/bootstrap/variables"
@import "app/styles/mixins"

#main-account-view
  #account-links
    width: 300px

  #account-links .btn
    width: 100%
    padding: 35px
    margin-bottom: 10%
    font-size: 25px
    background-image: linear-gradient(to bottom, rgba(181,169,125,0), rgba(181,169,125,255))
    font-weight: 600

  .logout-btn
    font-weight: bold

  .row-top-buffer
    margin-top: 5%

  .row-bot-buffer
    margin-bottom: 7%