#account-settings-view
  .nav
    margin-bottom: 10px

  .tab-content
    border: 1px solid #aaa
    padding: 20px
    background: #eee
    border-radius: 5px

  #save-button
    float: right

  .thumbnails
    text-align: center
    .thumbnail
      margin-bottom: 30px
      margin-right: 20px
      float: left
      
  input.range
    position: relative
    top: 4px
    
  div.range-color
    position: relative
    top: 6px
    height: 16px
    width: 16px
    display: inline-block
    margin-left: 10px

  .help-inline
    position: relative
    top: 3px
    left: 10px
    font-size: 12px
    
  .form
    max-width: 600px
    
#wizard-settings-tab-view
  #color-settings
    float: left
    width: 600px
    margin-left: 30px
    
  canvas
    float: left
    border: 2px solid black
    margin: 20px
    
  .color-group
    clear: both
    padding-bottom: 10px
    margin-bottom: 10px
    border-bottom: 1px solid gray

  .name-cell
    float: left
    width: 100px
    padding-top: 2px
    
    input
      margin-right: 10px
      position: relative
      top: -3px
    
  .checkbox-cell
    float: left
    width: 40px
    
  .slider-cell
    margin-bottom: 10px
    float: left
    width: 120px

  .selector
    width: 100px
    
