#account-settings-view
  .nav-tabs
    margin-bottom: 0

  .tab-content
    border: 1px solid #aaa
    border-top-width: 0
    padding: 20px
    background: #eee

  #save-button
    float: right

  .thumbnails
    text-align: center
    div
      margin-bottom: 30px
      
  input.range
    position: relative
    top: 4px
    
  div.range-color
    position: relative
    top: 6px
    height: 16px
    width: 16px
    display: inline-block
    margin-left: 10px

  .help-inline
    position: relative
    top: 3px
    left: 10px
    font-size: 12px
    
#wizard-settings-tab-view
  .form-horizontal
    float: left
    width: 400px
    margin-left: 50px
  canvas
    float: left
    border: 2px solid black
    margin: 20px
    
  .selector
    position: relative
    top: 10px
    left: 10px
    
  h2 input
    margin-left: 10px
    
  .form-horizontal .control-group
    margin-bottom: 10px
