#subscription-view
  
  .invalid-email-message
    color: red
    font-size: 12px

  .recipient-emails.invalid 
    border: 1px solid red

  .logged-out-blurb
    font-size: 18px

  .start-subscription-button, .end-subscription-button
    margin-bottom: 20px
    float: left
    width: 100%

  .unsubscribe-feedback
    width: 100%

    h3
      margin-top: 0

    textarea
      width: 100%

    button.btn
      width: 100%
      margin-top: 12px

  // Sponsored subscriptions

  .recipient-emails
    min-width: 50%

  .recipients-subscribe-button
    margin-top: 10px

  .recipient-unsubscribe-button
    width: auto

  .confirm-recipient-unsubscribe-button
    width: auto

  .discount-table
    width: 50%

  .recipients-table
    width: 50%
    .recipient-unsubscribe
      text-align: right
