#wizard-settings-view
  h3
    text-align: center
    
  #tinting-display
    float: right
    
  width: 450px
  margin: 0 auto
  
  label
    cursor: pointer
  
  #color-settings table
    float: left
    width: 250px
    cursor: pointer
    
  .minicolors-input
    display: none
    
  .minicolors-swatch
    position: static
    width: 40px
    cursor: pointer
    
  .enabled-cell
    width: 30px
    
  .color-cell
    width: 50px