$color-twilight: #476FB1;
$color-blue-1: #355EA0;
$color-green-1: #5DB9AC;
$color-green-2: #379B8D;
$color-grey-dark-1: #545B64;
$color-yellow-1: #F7D047;
$color-yellow-2: #D1B147;
$color-yellow-3: #D4B235;
$color-grey-1: #D8D8D8;
$color-grey-2: #F2F2F2;
$color-grey-3: #C8CDCC;
$color-white: #FFFFFF;
