@import "app/styles/bootstrap/variables"

#options-view
  .select-group, .slider-group
    display: block
    min-height: 20px
    margin-top: 10px
    margin-bottom: 10px
    padding-left: 20px
    vertical-align: middle

    label
      font-weight: normal
      margin-right: 20px
      margin-bottom: 0

    .slider
      width: 200px

  .form-group.radio-inline
    input
      margin-left: 0px
      margin-right: 5px

    .radio-inline-parent-label
      padding-left: 0


  #player-avatar-container
    position: relative
    margin: 0px 0px 15px 15px
    width: 230px
    max-height: 230px
    border-radius: 6px

    img.profile-photo
      width: 100%
      border-radius: 6px

      &.saving
        opacity: 0.5

    .profile-caption
      background-color: rgba(0, 0, 0, 0.5)
      color: white
      border-bottom-right-radius: 6px
      border-bottom-left-radius: 6px
      position: absolute
      width: 100%
      bottom: 0px
      left: 0px
      text-align: center
      border: 0
      font-size: 18px

    .editable-icon
      display: block
      position: absolute
      right: 5px
      top: 5px
      font-size: 20px
      color: $blue
      opacity: 0.5

    &:hover
      cursor: pointer
      box-shadow: 0px 0px 2px 1px $blue

      .editable-icon
        opacity: 1.0
        cursor: pointer
      
