#save-load-view
  #save-granularity-toggle
    width: 100%
    label
      width: 50%
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

  .save-list
    .list-group-item:first-child
      border-top-left-radius: 0
      border-top-right-radius: 0

  .save-pane
    overflow: hidden
