button.btn.btn-lg.btn-block.btn-success.rank-button.btn-illustrated
  span(data-i18n="ladder.rank_no_code").unavailable.secret No New Code to Rank
  span(data-i18n="ladder.rank_my_game").rank.secret Rank My Game!
  span(data-i18n="ladder.rank_submitting").submitting.secret Submitting...
  span(data-i18n="ladder.rank_submitted").submitted.secret Submitted for Ranking
  span(data-i18n="ladder.rank_failed").failed.secret Failed to Rank
  span(data-i18n="ladder.rank_being_ranked").ranking.secret Game Being Ranked

if lastSubmitted
  .last-submitted.secret
    span(data-i18n="ladder.rank_last_submitted") submitted 
    | #{lastSubmitted}

a(href=simulateURL, data-i18n="ladder.help_simulate").help-simulate.secret Help simulate games?

.clearfix