extends /templates/base

block content
  button(data-i18n="article.edit_btn_preview").btn.btn-primary#preview-button Preview
  button(data-i18n="article.edit_btn_save").btn.btn-primary#save-button(data-toggle="coco-modal", data-target="modal/save_version") Save

  h3(data-i18n="article.edit_article_title") Edit Article
    span
     |: "#{article.attributes.name}"
  
  #article-treema
    
  #article-view
  
  hr

