#i18n-verifier-view
  form
    display: inline-block
  table.human-readable
    tr
      max-width: 100vw
    td
      white-space: pre-line
      max-width: 30vw
      border-bottom: thin solid black
  .export
    *
      white-space: nowrap
    .counts
      width: 4em
