#verifier-view
  .verifier-row
    margin-top: 20px

    .alert
      padding: 5px

  .campaign-mix, .code-language-mix
    padding: 5px 20px 5px 5px

    input
      margin-right: 8px

  .test-running
    color: orange

  .test-success
    color: green

  .test-failed
    color: red

  .solution
    max-height: 200px
    overflow: auto
  
  .lineUnder
    border-bottom: 1px solid #ccc