#editor-level-system-edit-view
  .navbar-text
    float: left

  #system-code-editor
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 35px
    border: 2px solid black
    border-top: none

  .inner-editor
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0px