#level-system-edit-view
  nav
    margin-bottom: 0
    
  #system-patches
    padding: 0 10px 10px
    background: white

  .patches-view
    padding: 10px 20px 10px 0px

  .navbar-text
    float: left

  #system-code-editor
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 35px
    border: 2px solid black
    border-top: none

  .inner-editor
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0px

  #patch-system-button
    display: none
