.popover.buy-gems-prompt(role="tooltip")
  .arrow
  h2(data-i18n="buy_gems.prompt_title") Not Enough Gems
  p(data-i18n="buy_gems.prompt_body") 
  button.btn.btn-success.btn-illustrated.btn-lg.buy-gems-prompt-button(data-i18n="buy_gems.prompt_button") Enter Shop
  