.modal-dialog
  .modal-content
    img(src="/images/pages/play/modal/buy-gems-background.png")#buy-gems-background
    
    #products
      for product in products
        .product
          h4 x#{product.gems}
          h3(data-i18n=product.i18n)
          button.btn.btn-illustrated.btn-lg(value=product.id)
            span= product.price