.modal-dialog
  .modal-content
    img#codequest-background(src="/images/pages/play/modal/subscribe-background-blank.png")
    
    h1(data-i18n="code_quest.great")

    div#close-modal
      span.glyphicon.glyphicon-remove
  
    div.paper-area.text-center
      h3
        span(data-i18n="code_quest.join_paragraph")

      a.btn.btn-primary#live-codecombat-link(href="https://codequest.codecombat.com/" data-i18n="code_quest.link" target="_blank" rel="noopener")
