.modal-dialog
  .modal-content
    img.background-img(src="/images/pages/play/modal/code-play-create-account-modal-background-#{view.codePlayGeo}.png")

    button.close(type="button" data-dismiss="alert")
      span(aria-hidden="true") &times;

    .blurb-container
      h1(data-i18n="code_play_create_account_modal.title")
      p(data-i18n="[html]code_play_create_account_modal.body")
      button.btn.btn-illustrated.btn-lg.btn-danger.code-play-sign-up-button(data-i18n="code_play_create_account_modal.sign_up")
