.modal-dialog
  .modal-content
    img#live-classroom-background(src="/images/pages/play/modal/subscribe-background-blank.png")
    
    h1(data-i18n="live_class.title")

    div#close-modal
      span.glyphicon.glyphicon-remove
  
    div.paper-area.text-center
      h3
        span(data-i18n="live_class.content")

      a.btn.btn-primary#live-codecombat-link(href="/live-classes" data-i18n="live_class.link" target="_blank" rel="noopener")
