.modal-dialog
  .modal-content
    block config
      - showSubscribe = true
    img#subscribe-background(src="/images/pages/play/modal/announcement_modal_bg.png")
    block title
      h1 do you like placeholder text?
    #close-modal
      span.glyphicon.glyphicon-remove
    #modal-2222
      svg#svg1(style="position:absolute;")
        defs
          clipPath#clipper
            polygon(points="1.7,6 31.7,6 31.7,9.7 67.3,9.7 67.3,6 101,6 105,9.7 108.7,4.3 155.3,4.3 161.3,7 163.7,2.3 288.7,2.3 292.7,9.7 296,2.3 365.3,0 368.7,4.8 371.3,0 465.7,1.7 471,4.8 473,0 536,2 540.7,5 543.3,3 548.7,5.7 551.7,1.3 555.3,1.3 557.7,7.3 563.7,2.3 616,1.7 616.7,6 650.7,6 651.3,0.3 691,2.7 692,400 543.3,400.3 539.7,395.3 537.3,399.3 531.3,398 529,401 526.3,398 478,403.7 468.7,397.7 458.7,403 456.3,400 447.3,404 329,405 329.3,397.7 322,403.7 237.7,402.3 234.3,395.7 230.3,402.3 190,405.3 185.7,400 183.7,404.3 177.7,402 174.7,404.7 67.3,403.7 61.3,398.3 59.3,403.7 54.3,403.3 53.3,406.3 49,401.3 45.7,404.3 0,403.7")
      div.paper-area(style="position: relative;")
        .img
          block image
        if showNfo
          .nfo
            block info
      #item-tooltip(style="position: absolute;display: none;width: 256px;")
        div#pet-name(style="font-size: large; text-align: center") hello world
        br
        div#coming-soon(style="font-style: italic;text-align:center" data-i18n="announcement.coming_soon") 
        div#pet-description(style="text-align: center") description
      .sub
          if showSubscribe && !me.isPremium()
            button.specific-modal-button.btn.btn-lg.btn-illustrated.purchase-button(data-i18n="premium_features.subscribe_now")
          else
            button.specific-modal-button.btn.btn-lg.btn-illustrated.close-button(data-i18n="modal.close")
