extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="play.todotodotodo") Play the Level Man: #{levelName} at #{levelPath}/#{levelID}

block modal-body-content
  p TODO: show dat hero selection view

  #choose-hero-view

  #inventory-view
