.modal-dialog
  .modal-content
    img#promotion-background(src='/images/pages/play/modal/subscribe-background-blank.png')
    
    h1 Coding in Beijing Dec 27 - Jan 4

    div#close-modal
      span.glyphicon.glyphicon-remove
  
    div.paper-area.text-center
      a.promotion-link(href='http://us.it61.cn/' target='_blank')
        img(src='/images/pages/play/tarena-winter-tour-1200.jpg')

      p
        strong Are you 13-18 years old? Do you want to visit China this winter?

      p
        span Immerse yourself in all things China, AI, and coding with a limited offer from our coding partner, Tongcheng Tongmei.

      p
        a.btn.btn-lg.btn-primary.btn-illustrated.promotion-link(href='http://us.it61.cn/' target='_blank') Learn More
