.popover.buy-gems-prompt(role="tooltip")
  .arrow
  h2(data-i18n="subscribe_for_gems.prompt_title") Not Enough Gems
  p(data-i18n="subscribe_for_gems.prompt_body") 
  button.start-subscription-button.btn.btn-lg.btn-illustrated.btn-success(data-i18n="subscribe.subscribe_title")
