.modal-dialog
  .modal-content
    img.background-img(src="/images/pages/play/modal/parental_prompt_modal_background.png")
    img.wizard-img(src="/images/pages/play/modal/parental_nudge_wizard.png")
    .prompt-container
      h1= view.displayText.prompt
      button.btn.btn-illustrated.yes-btn= view.displayText.yes
      button.btn.btn-illustrated.no-btn= view.displayText.no
