#ai-view
  background: white

  #ai-root
    position: relative
    height: calc(100vh - 70px)

  #site-footer
    margin-top: 0

body:has(.cc-window:not(.cc-invisible)) #ai-view #ai-root
  height: calc(100vh - 70px - 5rem)
