doctype html
block begin
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=1024')
    meta(http-equiv='Accept-CH', content='Viewport-Width')
    title CodeCombat - Learn how to code by playing a game
    meta(property='og:title', content='CodeCombat: Learn to Code by Playing a Game')
    meta(property='og:url', content='http://codecombat.com')
    meta(property='og:type', content='game')
    meta(property='og:image', content='http://codecombat.com/images/pages/home/play_img.png')
    meta(property='og:site_name', content='CodeCombat')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content='CodeCombat: Learn to Code by Playing a Game')
    meta(name='twitter:url', content='http://codecombat.com')
    meta(name='twitter:site', content='CodeCombat')
    meta(name='twitter:image:src', content='http://codecombat.com/images/pages/base/logo_square_250.png')
    meta(name='twitter:description', content='Learn programming with a multiplayer live coding strategy game for beginners. Learn Python or JavaScript as you defeat ogres, solve mazes, and level up. Open source HTML5 game!')
    meta(name="p:domain_verify", content="f5afcb2c36bb8b1cbd70c44b65e5ec75")
    link(href='https://plus.google.com/115285980638641924488', rel='publisher')
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/' + shaTag + '/stylesheets/app.css')
    if me.useDexecure()
      script.
        var DEXECURE_URL = "/dexecure-c167a5675c.js";
        "serviceWorker"in navigator&&navigator.serviceWorker.register(DEXECURE_URL,{scope:'/'}).then(function(e){"/"!=new URL(e.scope).pathname&&console.log("Service worker scope is not /")})["catch"](function(e){console.log("Unable to register service worker.");console.log(e)});
    script.
      window.javascriptsPath = '/#{shaTag}/javascripts/';
    if chunkPaths[viewName]
      script(src=chunkPaths[viewName], defer='')
    script(src='/' + shaTag + '/javascripts/app.js', defer='', async='', data-ace-base='/javascripts/ace') // This data tag needs to be on SOME script with a src for Ace to work
    script(src='/user-data?sha=' + shaTag)
    if me.useGoogleAnalytics()
      // Google Analytics
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-39724129-1', 'auto');

        if(features.codePlay) { ga('create', 'UA-80597440-3', {name: 'codeplay'}); }

      // Global site tag (gtag.js) - Google Ads: 811324643
      script(async src="https://www.googletagmanager.com/gtag/js?id=AW-811324643")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-811324643');

    script(type='text/javascript').
      ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
      p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
      };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
      n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","//d2sm9kaamnsba.cloudfront.net/0ykP68INoOVRZMi42LjI.js","snowplow"));
      window.snowplow('newTracker', 'co', 'com-codecombat-main.collector.snplow.net', {
        platform: 'web',
        post: true,
        contexts: {
          webPage: true,
          performanceTiming: true
        }
      });

    script(src='https://checkout.stripe.com/checkout.js')
    // CodePlay Tags Header

    // Webpack-inserted CSS:
    //- (will be inserted at runtime)

    block setup
    block script-start
      script.
        //- This runs for pages without specific static templates
        //- Those pages with static templates run this themselves (in mock.static.pug),
        //-   after setting window.alreadyLoadedView
        function onLoad() {
          try {
              // IE10 warning
              var htmlElement = document.querySelector("html");
              if (htmlElement) {
                  if ($.browser.msie && $.browser.edge != true) {
                    if ((window.location.pathname || "").indexOf("web-dev-level") < 0) {
                      alert("CodeCombat does not support Internet Explorer, but runs on all other major browsers.");
                      }
                  }
              }
              // IE8 can't handle this
              FastClick.attach(document.body);
          } catch (error) { }
        }
  body.clearfix(onload='onLoad();')
    #fb-root
    block content
    #modal-wrapper.modal-content.hide
    // CodePlay Tags Footer
