extends layout.static.pug

block setup
    

block script-start
    script window.alreadyLoadedView = "#{viewName}";
    script.
      function onLoad() {
        try {
            // IE10 warning
            var htmlElement = document.querySelector("html");
            if (htmlElement) {
                if ($.browser.msie && $.browser.versionNumber < 11) {
                    if ((window.location.pathname || "").indexOf("web-dev-level") < 0) {
                        alert("CodeCombat does not run in Internet Explorer 10 or older. Sorry!");
                    }
                }
            }
            // IE8 can't handle this
            FastClick.attach(document.body);
        } catch (error) { }
      }
