extends mock.static.pug
block begin
  - viewName = 'PremiumFeaturesView'

block content
  - view.i18nData = {}
  #page-container
    #premium-features-view.site-chrome.show-background
      include /templates/premium-features-view.jade
