form#basic-info-form.modal-body.basic-info
  .modal-body-content
    .auth-network-logins.text-center
      h4
        span(data-i18n="signup.connect_with")
      a#facebook-signup-btn.btn.btn-primary.btn-lg.btn-illustrated.network-login(disabled=!view.signupState.get('facebookEnabled'), data-sso-used="facebook")
        img.network-logo(src="/images/pages/modal/auth/facebook_sso_button.png", draggable="false", width="175", height="40")
        span.sign-in-blurb(data-i18n="login.sign_in_with_facebook")
      a#gplus-signup-btn.btn.btn-danger.btn-lg.btn-illustrated.network-login(disabled=!view.signupState.get('gplusEnabled'), data-sso-used="gplus")
        img.network-logo(src="/images/pages/modal/auth/gplus_sso_button.png", draggable="false", width="175", height="40")
        span.sign-in-blurb(data-i18n="login.sign_in_with_gplus")
        .gplus-login-wrapper
          .gplus-login-button
    
    .hr-text
      hr
      span(data-i18n="general.or")
                  
    div.form-container
      if ['student', 'teacher'].indexOf(view.signupState.get('path')) !== -1
        .row.full-name
          .col-xs-offset-3.col-xs-5
            .form-group
              label.control-label(for="first-name-input")
                span(data-i18n="general.first_name")
              input#first-name-input.form-control.input-lg(name="firstName")
          .col-xs-4
            .last-initial.form-group
              label.control-label(for="last-name-input")
                span(data-i18n="general.last_initial")
              input#last-name-input.form-control.input-lg(name="lastName" maxlength="1")
      .form-group
        .row
          .col-xs-5.col-xs-offset-3
            label.control-label(for="email-input")
              span(data-i18n="share_progress_modal.form_label")
          .col-xs-5.col-xs-offset-3
            input.form-control.input-lg#email-input(name="email" type="email")
          .col-xs-4.email-check
            - var checkEmailState = view.state.get('checkEmailState');
            if checkEmailState === 'checking'
              span.small(data-i18n="signup.checking")
            if checkEmailState === 'exists'
              span.small
                span.text-burgandy.glyphicon.glyphicon-remove-circle
                =" "
                span(data-i18n="signup.account_exists")
                =" "
                a.login-link(data-i18n="signup.sign_in")
              
            if checkEmailState === 'available'
              span.small
                span.text-forest.glyphicon.glyphicon-ok-circle
                =" "
                span(data-i18n="signup.email_good")
      .form-group
        .row
          .col-xs-7.col-xs-offset-3
            label.control-label(for="username-input")
              span(data-i18n="general.username")
          .col-xs-5.col-xs-offset-3
            input.form-control.input-lg#username-input(name="name")
          .col-xs-4.name-check
            - var checkNameState = view.state.get('checkNameState');
            if checkNameState === 'checking'
              span.small(data-i18n="signup.checking")
            if checkNameState === 'exists'
              span.small
                span.text-burgandy.glyphicon.glyphicon-remove-circle
                =" "
                span= view.state.get('suggestedNameText')
            if checkNameState === 'available'
              span.small
                span.text-forest.glyphicon.glyphicon-ok-circle
                =" "
                span(data-i18n="signup.name_available")
      .form-group
        .row
          .col-xs-7.col-xs-offset-3
            label.control-label(for="password-input")
              span(data-i18n="general.password")
          .col-xs-5.col-xs-offset-3
            input.form-control.input-lg#password-input(name="password" type="password")
      .form-group.checkbox.subscribe
        .row
          .col-xs-7.col-xs-offset-3
            .checkbox
              label
                input#subscribe-input(type="checkbox" checked="checked" name="subscribe")
                span(data-i18n="signup.email_announcements")
                
      .error-area
        - var error = view.state.get('error');
        if error
          .row
            .col-xs-7.col-xs-offset-3
          .alert.alert-danger= error

  // In reverse order for tabbing purposes
  .history-nav-buttons
    button#create-account-btn.next-button.btn.btn-lg.btn-navy(type='submit')
      span(data-i18n="signup.create_account")

    button.back-button.btn.btn-lg.btn-navy-alt(type='button')
      span(data-i18n="common.back")
