
.modal-body-content
  if me.get("preferredLanguage") == "he" || window.location.host == "il.codecombat.com"
    .alert.alert-info.text-center(dir="rtl")
      span תלמיד מערכת החינוך?
      a(href="https://pub.skillz-edu.org/portal/playground")  התחבר דרך פורטל משרד החינוך


  .path-cards
    .path-card
      img.card-image(alt='Educator' src='/images/pages/account/create/educator.png')
      .card-footer
        i.small
          div(data-i18n="signup.im_a_teacher_description") Teach Computer Science with CodeCombat
        button.primary-oz-button.teacher-path-button
          span(data-i18n="signup.im_a_teacher_button") I'm a Teacher

    .path-card
      img.card-image(alt='Educator' src='/images/pages/account/create/parent.png')
      .card-footer
        i.small
          div(data-i18n="signup.im_a_parent_description") Explore our live online coding classes
        button.primary-oz-button.parent-path-button
          span(data-i18n="signup.im_a_parent_button") I'm a Parent
  .path-cards
    .path-card
      img.card-image(alt='Educator' src='/images/pages/account/create/student.png')
      .card-footer
        i.small
          div Learn Computer Science with your class
        button.primary-oz-button.student-path-button
          span(data-i18n="signup.im_a_student_button") I'm a Student

    .path-card
      img.card-image(alt='Educator' src='/images/pages/account/create/individual.png')
      .card-footer
        i.small
          div(data-i18n="signup.im_an_individual_description") Play at home outside of a class setting
        button.primary-oz-button.individual-path-button
          span(data-i18n="signup.im_an_individual_button") I'm an Individual
