.modal-body-content
  if me.get("preferredLanguage") == "he" || window.location.host == "il.codecombat.com"
    .alert.alert-info.text-center(dir="rtl")
      span תלמיד מערכת החינוך?
      a(href="https://pub.skillz-edu.org/portal/playground")  התחבר דרך פורטל משרד החינוך

  h4.choose-type-title
    span(data-i18n="signup.choose_type")
  .path-cards
    .path-card.navy
      .card-title
        span(data-i18n="courses.teacher")
      .card-content
        h6.card-description
          span(data-i18n="signup.teacher_type_1")
        ul.small.m-t-1
          li
            span(data-i18n="signup.teacher_type_2")
          li
            span(data-i18n="signup.teacher_type_3")
          li
            span(data-i18n="signup.teacher_type_4")
      .card-footer
        button.btn.btn-lg.btn-navy.teacher-path-button
          .text-h6
            span(data-i18n="signup.signup_as_teacher")

    .path-card.forest
      .card-title
        span(data-i18n="courses.student")
      .card-content
        h6.card-description
          span(data-i18n="signup.student_type_1")
        ul.small.m-t-1
          li
            span(data-i18n="signup.student_type_2")
          li
            span(data-i18n="signup.student_type_3")
          li
            span(data-i18n="signup.student_type_4")
      .card-footer
        i.small
          span(data-i18n="signup.student_type_5")
        button.btn.btn-lg.btn-forest.student-path-button
          .text-h6
            span(data-i18n="signup.signup_as_student")

  if me.showIndividualRegister()
    .individual-section
      .individual-title
        span(data-i18n="signup.individuals_or_parents")
      p.individual-description.small
        span(data-i18n="signup.individual_type")
      button.btn.btn-lg.btn-navy.individual-path-button
        .text-h6
          span(data-i18n="signup.signup_as_individual")
