mixin button-hello-mivan(type, buttonText, description, imageAlt, imageSRC)
  .col-md-6.path-card
    img.card-image(class=type data-i18n=imageAlt src=imageSRC)
    .card-footer
      span.small
        div(data-i18n=description)
      button.primary-oz-button(class=type)
        span(data-i18n=buttonText)

if view.utils.isCodeCombat
  .modal-body-content
    if me.get("preferredLanguage") == "he" || window.location.host == "il.codecombat.com"
      .alert.alert-info.text-center(dir="rtl")
        span תלמיד מערכת החינוך?
        a(href="https://pub.skillz-edu.org/portal/playground")  התחבר דרך פורטל משרד החינוך


    if me.showIndividualRegister()
      .row.path-cards
        +button-hello-mivan("teacher-path-button","new_home.im_an_educator", "new_home.im_an_educator_description", '[alt]new_home.for_educators', '/images/pages/account/create/educator.png')
        +button-hello-mivan("parent-path-button","new_home.im_a_parent", "new_home.im_a_parent_description", '[alt]new_home.for_parents', '/images/pages/account/create/parent.png')

      .row.path-cards
        +button-hello-mivan("student-path-button","new_home.im_a_student", "new_home.im_a_student_description", '[alt]new_home.for_students', '/images/pages/account/create/student.png')
        +button-hello-mivan("individual-path-button","new_home.im_an_individual", "new_home.im_an_individual_description", '[alt]new_home.for_individuals', '/images/pages/account/create/individual.png')
    else
      .row.path-cards
        +button-hello-mivan("teacher-path-button","new_home.im_an_educator", "new_home.im_an_educator_description", '[alt]new_home.for_educators', '/images/pages/account/create/educator.png')
        +button-hello-mivan("student-path-button","new_home.im_a_student", "new_home.im_a_student_description", '[alt]new_home.for_students', '/images/pages/account/create/student.png')

else
  form.modal-body.choose-account-type
    .row
      p.medium-gray.constrain-text-width(data-i18n="signup.educators_create_account")
    .row
      button.btn.btn-lg.teacher-path-button.ozaria-primary-button(data-i18n="signup.signup_as_teacher" type="button")

    .row.or-row
      .line
      p.or(data-i18n="login.or")
      .line

    .form-group
      p.medium-gray.constrain-text-width(data-i18n="signup.request_class_code")

      label.control-label(for="classCode")
        span(data-i18n="play.anon_signup_enter_code")
      .class-code-input-group.form-group
        input.class-code-input(name="classCode" value=view.signupState.get('classCode') spellcheck="false" required)

      button.btn.btn-lg.student-path-button.ozaria-primary-button(type="submit" data-i18n="signup.signup_as_student")
