.modal-body
  .modal-body-content

    h4.m-y-1(data-i18n="signup.account_created")

    .confirm_container.text-center.m-y-1
      if view.signupState.get('path') === 'student'
        p(data-i18n="signup.confirm_student_blurb")

      else
        p(data-i18n="signup.confirm_individual_blurb")

    .signup-info-box-wrapper
      .text-burgundy(data-i18n="signup.write_this_down")
      .signup-info-box.text-center
        if me.get('name')
          h4
            b
              span(data-i18n="general.username")
              | : #{me.get('name')}
        if me.get('email')
          h5
            b
              - var ssoUsed = view.signupState.get('ssoUsed');
              if ssoUsed === 'facebook'
                img.m-r-1(src="/images/pages/modal/auth/facebook_small.png")
                = me.get('email')
              else if ssoUsed === 'gplus'
                img.m-r-1(src="/images/pages/modal/auth/gplus_small.png")
                = me.get('email')
              else
                span(data-i18n="general.email")
                | : #{me.get('email')}

    //-  TODO: use our Vue Component to grab the school (based only on the name, hide other inputs) and put it in user.school (only if they found a match)
    if view.signupState.get('wantInSchool')
      div#nces-search-input

    button#start-btn.btn.btn-navy.btn-lg.m-t-3(data-i18n="signup.start_playing")
