button.back.back-button
  span(data-i18n="common.back")
form.modal-body.oz-vs-coco
  .modal-body-content
    .modal-contents-container
      .ozaria-encourage-container
        img.oz-logo(alt='Ozaria logo' src='/images/pages/home/logo_ozaria.png')
        #ozaria-cta
          .ozaria-row
            img(src='/images/ozaria/modal/encouragement-modal/Icon_StandardsAlignment.svg')
            div
              h4(data-i18n='ozaria_cta.title1')
              p(data-i18n='ozaria_cta.description1')
          .ozaria-row
            img(src='/images/ozaria/modal/encouragement-modal/Icon_Turnkey.svg')
            div
              h4(data-i18n='ozaria_cta.title2')
              p(data-i18n='ozaria_cta.description2')
          .ozaria-row
            img(src='/images/ozaria/modal/encouragement-modal/Icon_NewTeacherDashboard.svg')
            div
              h4(data-i18n='ozaria_cta.title3')
              p(data-i18n='ozaria_cta.description3')
        a.primary-oz-button(href='https://www.ozaria.com/sign-up/educator')
          span(data-i18n='new_home.try_ozaria')
      .codecombat-continue-container
        img.coco-logo(alt='CodeCombat logo' src='/images/pages/base/logo.png')
        h3(data-i18n='educator_signup_ozaria_encouragement.recommended_for')
        ul
          li(data-i18n='educator_signup_ozaria_encouragement.independent_learners')
          li(data-i18n='educator_signup_ozaria_encouragement.homeschoolers')
          li(data-i18n='educator_signup_ozaria_encouragement.educators_continue_coco')
        button.continue-codecombat(type='button')
          span(data-i18n='educator_signup_ozaria_encouragement.continue_coco')
