.modal-body
  .modal-body-content
    if view.signupState.get('ssoUsed')
      h4
        span(data-i18n="signup.account_exists")
      div.small
        b
          span= view.signupState.get('email')

      .hr-text
        hr
        span(data-i18n="common.continue")
      
      button.login-link.btn.btn-lg.btn-navy
        span(data-i18n="login.log_in")

  .history-nav-buttons.just-one
    button.back-button.btn.btn-lg.btn-navy-alt(type='button')
      span(data-i18n="common.back")
