if view.sharedState.get('ssoUsed')
  h4
    span(data-i18n="TODO")
      | This email is already in use:
  div
    //- - debugger
    span= view.sharedState.get('email')

  .text-hr
    span(data-i18n="TODO")
      | continue
  
  button.sso-login-btn.btn.btn-lg.btn-navy
    span(data-i18n="login.log_in")

  span(data-i18n="TODO")
    | You can connect another account in your <b>Account Settings</b> once you log in.
