#docs-components-view
  color: saddlebrown

  .row

    .index-column, .documentation-column
      overflow-y: scroll
      overflow-x: hidden
      min-height: 600px

      > ul
        padding: 0px 20px 20px 20px

  
    .documentation-column
  
      .specialList
        list-style-type: none
