button.navbar-toggle.toggle.btn-primary(type="button", data-toggle="collapse", data-target="#scripts-treema")
  span.icon-list

.editor-nano-container.nano
  #scripts-treema.nano-content

.editor-nano-container.nano
  #script-treema.nano-content
