span.code-palette-background
if entryGroupSlugs
  // Non-hero; group by entry groups, or maybe nothing.
  ul(class="nav nav-pills" + (tabbed ? ' multiple-tabs' : ''))
    each slug, group in entryGroupSlugs
      li(class=group == "this" || slug == "available-spells" ? "active" : "")
        a(data-toggle="pill", data-target='#palette-tab-' + slug)
          h4= entryGroupNames[group]
  .tab-content
    each slug, group in entryGroupSlugs
      div(id="palette-tab-" + slug, class="tab-pane nano" + (group == "this" || slug == defaultGroupSlug ? " active" : ""))
        div(class="properties properties-" + slug + " nano-content")
else
  // Hero; group by items, no tabs.
  if showsHelp
    button.btn.btn-sm.btn-info.banner#spell-palette-help-button(data-i18n="play_level.tome_help")
    .properties
  else
    .properties.no-help

