@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(FxslNkTTHtojXrkp-xBEM87DM3yorPOrvA-vB930.ttf) format('truetype');
}
