.wood-background

.hinge.hinge-0
.hinge.hinge-1
.hinge.hinge-2
.hinge.hinge-3

.avatar-wrapper-container
  .thang-canvas-wrapper.thang-elem.hide
    canvas.thang-canvas

.center
  .thang-name
  .thang-props.thang-elem
