.dialogue-area
  img.vega-narrator(src="/images/ozaria/level/VEGAsquare.png", alt="Vega character")
  p.vega-dialogue(dir="auto") You've got to get to the top of this huge staircase! hero.moveRight() should come in handy!
