.dialogue-area
  //- Hide Vega until introduced in cutscene
  if (!view.character || view.character === 'vega')
    img.vega-narrator(src="/images/ozaria/level/vega_headshot_gray.png", alt=$.i18n.t('play_level.vega_character'))
    .vega-dialogue.fit(dir="auto")
  else if (view.character === 'capella')
    img.vega-narrator(src="/images/ozaria/level/Wise_Capella_Headshot.png", alt=$.i18n.t('play_level.capella_character'))
    .vega-dialogue.fit(dir="auto")
  else if (view.character === 'octans')
    img.vega-narrator(src="/images/ozaria/level/Octans_Headshot.png", alt=$.i18n.t('play_level.octans_character'))
    .vega-dialogue.fit(dir="auto")
  else if (view.character === 'blank')
    .vega-dialogue.wide.fit(dir="auto")
  else
    //- This means we have a new character that we don't have code for yet! :O
    - console.log('Missing dialogue character')
    .vega-dialogue.wide.fit(dir="auto")
  button.backButton(data-i18n="common.back")

