.dialogue-area
  img.vega-narrator(src="/images/ozaria/level/VEGAsquare.png", alt=$.i18n.t('play_level.vega_character'))
  p.vega-dialogue(dir="auto")
  p.continue(data-i18n="play_level.click_to_continue")
