.dialogue-area
  //- Hide Vega until introduced in cutscene
  if (!view.character || view.character === 'vega')
    img.vega-narrator(src="/images/ozaria/level/GhostV.png", alt=$.i18n.t('play_level.vega_character'))
    .vega-dialogue.fit(dir="auto")
  else if (view.character === 'ghostv')
    img.vega-narrator(src="/images/ozaria/level/Static_GhostV.png", alt=$.i18n.t('play_level.vega_character'))
    .vega-dialogue.fit(dir="auto") Click to return to the tutorial
  else
    .vega-dialogue.wide.fit(dir="auto")
  .only-back-tutorial-button
    button.shepherd-button.shepherd-back-button-active
    //if (view.tutorial.length >= view.currentIndex)
    //  button.shepherd-button.shepherd-next-button-inactive
    //else
    //  button.shepherd-button.shepherd-next-button-active
