#certificates-view
  background-color: white
  text-align: center
  font-family: 'Open Sans', sans-serif
  margin-left: auto
  margin-right: auto
  width: 11in
  height: 8.5in
  // 792 x 612 pt
  @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light')
  @import url('https://fonts.googleapis.com/css?family=Spectral')

  @media print
    -webkit-print-color-adjust: exact
    html, body
      height: 100%
      overflow: hidden

  .style-flat
    padding-top: 0

  .menu
    position: fixed
    left: 3pt
    top: 2pt

    .btn
      margin-left: 0
      margin-bottom: 10px
      display: block

    @media print
      display: none

  .certificate
    color: black
    position: relative

    .certificate-background
      width: 100%

    h1
      font-family: 'Shadows Into Light', 'Open Sans', sans-serif

    h3, h4
      font-family: 'Open Sans', sans-serif
      text-transform: uppercase

    h3
      font-weight: bold
      font-size: 14pt
      line-height: 40pt

    h4
      font-size: 12pt
      line-height: 30pt

    .certificate-contents
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      right: 0
      z-index: 1
      letter-spacing: 1pt

    .certificate-text-container
      width: 7in
      height: 4.5in
      position: absolute
      left: 2in
      top: 2in
      right: 2in
      bottom: 2in
      z-index: 1

    .logo-img
      margin-top: 1.0in
      z-index: 2
      position: relative
      height: 1.3in

    .certificate-of-completion
      margin-top: 50pt
      word-spacing: 10pt
      line-height: 10pt

    .course-name
      letter-spacing: 2pt

    .loading-indicator, .student-name
      color: rgb(77, 61, 37)
      text-align: center
      width: 5.3in
      margin-left: 0.85in
      $student-name-size: 48pt
      font-size: $student-name-size
      line-height: $student-name-size
      border-bottom: 2pt solid rgb(227, 195, 71)
      height: $student-name-size + 2pt

    .loading-indicator
      margin-top: 2in

    .outcome-section
      position: absolute
      text-align: center
      width: 3in

      h3
        line-height: 30pt

      &.code-results
        left: 0.0in

      &.concepts-learned
        left: 3.9in

      li
        text-transform: uppercase
        font-size: 9pt
        line-height: 16pt

    .hero-signature
      position: absolute
      bottom: 0.1in
      left: 0.6in
      width: 1.8in
      border-top: 2pt solid rgb(227, 195, 71)

      img
        height: 0.3in
        position: absolute
        bottom: 0.3in
        left: 0

      .hero-signature-label
        text-transform: uppercase
        font-size: 9pt
        line-height: 18pt
        text-align: left
