@import "../bootstrap/variables"
@import "../bootstrap/mixins"

#user-home-view
  margin-top: 20px

  .left-column
    +make-sm-column(4)

  .right-column
    +make-sm-column(8)

  .picture-wrapper
    text-align: center
    outline: 1px solid darkgrey
    max-width: 80%
    +center-block()

    > .picture
      max-width: 100%
      border: 4px solid white

    > .name
      margin: 0px auto
      padding: 10px inherit
      background: white
      color: white
      text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000

