#contribute-view
  .class_tile
    position: relative
    width: 330px
    padding: 5px
    float: left
    z-index: 0

    &:hover img
      outline: 3px solid #161a9e

  .class_text
    position: absolute
    bottom: 5px
    width: 300px
    padding: 12px 12px 0 12px
    z-index: 1
    background-color: rgba(255,255,255,.5)

    p
      color: black

    h3
      color: black
      padding-top: 0px
      margin-top: 0px
