.modal.fade#modal-error
  .modal-dialog
    .modal-header
      .button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
      h3 Error #{status}: #{statusText}
    .modal-body
      p #{message}
