extends /templates/modal/contact

block modal-header-content
  h3(data-i18n="contact.contact_candidate") Contact Candidate

block modal-body-content
  p(data-i18n="contact.recruitment_reminder") Use this form to reach out to candidates you are interested in interviewing. Remember that CodeCombat charges 18% of first-year salary. The fee is due upon hiring the employee and is refundable for 90 days if the employee does not remain employed. Part time, remote, and contract employees are free, as are interns.
  .form
    .form-group
      label.control-label(for="contact-email", data-i18n="general.email") Email
      input#contact-email.form-control(name="email", type="email", value=me.get('email'), placeholder="Where should the candidate reply?")
    .form-group
      label.control-label(for="contact-subject", data-i18n="general.subject") Subject
      input#contact-subject.form-control(name="subject", type="text", value="Job interest", placeholder="Subject of the email the candidate will receive.")
    .form-group
      label.control-label(for="contact-message", data-i18n="general.message") Message
      textarea#contact-message.form-control(name="message", rows=8)

block modal-footer-content
  span.sending-indicator.pull-left.secret(data-i18n="common.sending") Sending...
  a(href='#', data-dismiss="modal", aria-hidden="true", data-i18n="common.cancel").btn Cancel
  button.btn.btn-primary#contact-submit-button(data-i18n="common.send") Send
