extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="login.login_modal_title") Log In

block modal-body-content
  .form-inline
    .control-group
      label.control-label(for="login-email", data-i18n="forms.email") Email
      .controls
        input#login-email.input-large(name="email", type="email")
    .control-group
      label.control-label(for="login-password", data-i18n="forms.password") Password
      .controls
        input#login-password.input-large(name="password", type="password")

block modal-body-wait-content
  h3(data-i18n="login.logging_in") Logging In

block modal-footer
  .modal-footer
    button.btn.btn-primary.btn-large#login-button(data-i18n="login.log_in") Log In

  .modal-footer.network-logins
    div
      .fb-login-button(data-show-faces="false", data-width="200", data-max-rows="1", data-scope="email")
    div
      .gplus-login-button#gplus-login-button
    div
      a(data-toggle="coco-modal", data-target="modal/signup", data-i18n="login.sign_up")#link-to-signup create new account
      span(data-i18n="login.or") , or 
      a(data-toggle="coco-modal", data-target="modal/recover", data-i18n="login.recover")#link-to-recover recover account
