extends /templates/modal/modal_base

block modal-header

block modal-body-content
  for model in models
    .model-container(data-model-id=model.id)
      h3= model.type() + ': ' + model.id
      .model-treema(data-model-id=model.id)
      btn.btn.btn-success.save-model(data-i18n="common.save") Save
    hr
