extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="recover.recover_account_title") Recover Account

block modal-body-content
  .form-inline
    .control-group
      label.control-label(for="recover-email") Email
      .controls
        input#recover-email.input-large(name="email", type="email")

block modal-body-wait-content
  h3 Sending

block modal-footer
  .modal-footer
    button.btn.btn-primary.btn-large#recover-button Send Recover Password
