
form.modal-body
  .modal-body-content
    label.control-label.text-h4(for="name-input")
      span Your Name
    input(type="email" name="name-input")

    label.control-label.text-h4(for="teacher-email-input")
      span Teacher's Email
    input(type="email" name="teacher-email-input")

    label.control-label.text-h4(for="custom-input")
      span Custom Input
    textarea(type="email" name="custom-input")

  .history-nav-buttons
    button.send-teacher-email-button.btn.btn-lg.btn-navy(type='submit')

    button.back-btn.btn.btn-lg.btn-navy-alt(type='button')
      span(data-i18n="common.back")


