extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="versions.save_version_title") Save New Version

block modal-body-content
  form.form-horizontal
    .control-group
      label.control-label(for="commitMessage", data-i18n="versions.commit_message") Commit Message
      .controls
        textarea#commit-message.input-large(name="commitMessage", type="text")
    .control-group
      label.control-label(for="level-version-is-major", data-i18n="versions.new_major_version") New Major Version
      .controls
        input#major-version.input-large(name="version-is-major", type="checkbox")
        span.help-block

block modal-body-wait-content
  h3(data-i18n="common.saving") Saving...

block modal-footer-content
  #accept-cla-wrapper.alert.alert-info
    span(data-i18n="versions.cla_prefix") To save changes, first you must agree to our
    |  
    strong#cla-link(data-i18n="versions.cla_url") CLA
    span(data-i18n="versions.cla_suffix") .
    button.btn#agreement-button(data-i18n="versions.cla_agree") I AGREE
    
  button.btn(data-dismiss="modal", data-i18n="forms.cancel") Cancel
  button.btn.btn-primary#save-version-button(data-i18n="forms.save") Save
