extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="versions.save_version_title") Save New Version

block modal-body-content
  .changes-stub
  form.form-inline
    .form-group.commit-message
      input.form-control#commit-message(name="commitMessage", type="text", placeholder="Commit Message")
    .checkbox
      label
        input#major-version(name="version-is-major", type="checkbox")
        | Major Changes

block modal-body-wait-content
  h3(data-i18n="common.saving") Saving...

block modal-footer-content
  if !noSaveButton
    #accept-cla-wrapper.alert.alert-info
      span(data-i18n="versions.cla_prefix") To save changes, first you must agree to our
      |  
      strong#cla-link(data-i18n="versions.cla_url") CLA
      span(data-i18n="versions.cla_suffix") .
      button.btn#agreement-button(data-i18n="versions.cla_agree") I AGREE
    
  button.btn(data-dismiss="modal", data-i18n="common.cancel") Cancel
  if !noSaveButton
    button.btn.btn-primary#save-version-button(data-i18n="common.save") Save
