extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="signup.create_account_title") Create Account to Save Progress

block modal-body-content
  if showRequiredError
    .alert.alert-success
      span(data-i18n="signup.required") You need to sign up first before you can go over there. Luckily, it's really easy.
  else
    p(data-i18n="signup.description") It's free. Just need a couple things and you'll be good to go:
  .form
    .form-group
      label.control-label(for="signup-email", data-i18n="general.email") Email              
      input#signup-email.form-control.input-large(name="email", type="email")
    .form-group
      label.control-label(for="signup-password", data-i18n="general.password") Password              
      input#signup-password.input-large.form-control(name="password", type="password")
    hr
    .form-group.checkbox
      label.control-label(for="signup-subscribe")
        input#signup-subscribe(name="subscribe", type="checkbox", checked='checked')
        span(data-i18n="signup.email_announcements") Receive announcements by email
    .form-group.checkbox
      label.control-label(for="signup-confirm-age") 
        input#signup-confirm-age(name="confirm-age", type="checkbox", checked='checked')
        span(data-i18n="signup.coppa") 13+ or non-USA 
        a(href="https://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act", data-i18n="signup.coppa_why", target="_blank") (Why?)

block modal-body-wait-content
  h3(data-i18n="signup.creating") Creating Account...

block modal-footer
  .modal-footer
    div
      button.btn.btn-primary.btn-large#signup-button(data-i18n="signup.sign_up") Sign Up
    div.social-login-text(data-i18n="signup.social_signup") Or, you can sign up through Facebook or G+:

  .modal-footer.network-logins
    div
      .fb-login-button(data-show-faces="false", data-width="200", data-max-rows="1", data-scope="email")
    div
      .gplus-login-button#gplus-login-button
