extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="editor.pick_a_terrain") Pick a Terrain

block modal-body-content
  div#normal-view
    a(href="#")
        div.choose-option(data-preset-type="grassy", data-preset-size="small")
          div.preset-size.name-label
            span(data-i18n="ladder.small") Small
          div.preset-name
            span(data-i18n="ladder.grassy") Grassy
    //- for model in models