extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="wizard_settings.title2") Customize Your Character

block modal-body-content
  form.form-horizontal
    div.form-group
      .row
        label.control-label.col-sm-6(for="name")
          | Your Wizardly Name:
        #wizard-settings-name-wrapper.col-sm-4
          input#wizard-settings-name.form-control.input-sm(name="name", type="text", value="#{me.get('name')||''}")

  #wizard-settings-view

block modal-body-wait-content
  h3 Saving...
.progress.progress-striped.active
  .progress-bar

block modal-footer-content
  button.btn.btn-primary.btn-large#wizard-settings-done(data-dismiss="modal", type="button") Done
