extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="wizard_settings.title") Wizard Settings

block modal-body-content
  div.wizard-name-line.form-group
    label.control-label(for="name")
      | Name
    input#wizard-settings-name(name="name", type="text", value="#{me.get('name')||''}")

  #wizard-settings-view

block modal-body-wait-content
  h3 Saving...
.progress.progress-striped.active
  .progress-bar

block modal-footer-content
  button.btn.btn-primary.btn-large#wizard-settings-done(type="button") Done
