extends /templates/play/modal/announcement-modal

block config
  - showSubscribe = true

block title
  h1 Now With Pets!

block image
  img(src="/images/pages/features/bg2.png")

block info
  h2 This is great
  p Get some now!
