// TODO: refactor to be like other modals
.modal-header
  button(type='button', data-dismiss="modal", aria-hidden="true").close &times;
  h3(data-i18n="play_level.multiplayer_title") Multiplayer Settings

.modal-body
  // This section is for later
  
  .form-horizontal
    .control-group
      label.control-label(for="multiplayer") Multiplayer
      .controls
        input#multiplayer.input-large(name="multiplayer", type="checkbox", checked=multiplayer)
        span.help-inline Enable others to join your game.
    
  hr

  div#link-area
    p(data-i18n="play_level.multiplayer_link_description") Give this link to anyone to have them join you.
    
    textarea.well#multiplayer-join-link(readonly=true)= joinLink
    
    p
      strong(data-i18n="play_level.multiplayer_hint_label") Hint:
      span(data-i18n="play_level.multiplayer_hint")  Click the link to select all, then press ⌘-C or Ctrl-C to copy the link.
  
    p(data-i18n="play_level.multiplayer_coming_soon") More multiplayer features to come!

  //#multiplayer-team-selection.hide
  //  h4 Multiplayer Team Selection
  //  form
  //    label.radio
  //      input(type="radio", name="team-selection", value="humans")
  //      span Red Team
  //    label.radio
  //      input(type="radio", name="team-selection", value="ogres")
  //      span Blue Team

.modal-footer
  a(href='#', data-dismiss="modal", aria-hidden="true", data-i18n="modal.close").btn.btn-primary Close
