// TODO: refactor to be like other modals
.modal-header
  button(type='button', data-dismiss="modal", aria-hidden="true").close &times;
  h3
    span(data-i18n="play_level.victory_title_prefix")
    span= levelName
    span(data-i18n="play_level.victory_title_suffix") Complete

.modal-body!= body

.modal-footer
  if me.get('anonymous')
    p.sign-up-poke
      button.btn.btn-success.sign-up-button.btn-large(data-toggle="coco-modal", data-target="modal/signup", data-i18n="play_level.victory_sign_up") Sign Up to Save Progress
      span(data-i18n="play_level.victory_sign_up_poke") Want to save your code? Create a free account!
  else
    div.rating.hide
      span(data-i18n="play_level.victory_rate_the_level") Rate the level:
      i.icon-star-empty
      i.icon-star-empty
      i.icon-star-empty
      i.icon-star-empty
      i.icon-star-empty
  if hasNextLevel
    if nextLevelText
      button.btn.btn-primary.next-level-button(data-dismiss="modal")= nextLevelText
    else
      button.btn.btn-primary.next-level-button(data-dismiss="modal", data-i18n="play_level.victory_play_next_level") Play Next Level
  else
    a.btn.btn-primary(href="/", data-dismiss="modal", data-i18n="play_level.victory_go_home") Go Home
  if !me.get('anonymous')
    div.review.hide
      span(data-i18n="play_level.victory_review") Tell us more!
      br
      textarea
  div.share-buttons
    .g-plusone(data-href="http://codecombat.com", data-size="medium")
    .fb-like(data-href="https://www.facebook.com/codecombat", data-send="false", data-layout="button_count", data-width="350", data-show-faces="true", data-ref="coco_victory_#{fbRef}")
    a.twitter-follow-button(href="https://twitter.com/CodeCombat", data-show-count="true", data-show-screen-name="false", data-dnt="true", data-align="right", data-i18n="nav.twitter_follow") Follow

if showHourOfCodeDoneButton
  .modal-footer
    h3.pull-left(data-i18n="play_level.victory_hour_of_code_done") Are You Done?
    a(href="http://code.org/api/hour/finish")
      strong(data-i18n="play_level.victory_hour_of_code_done_yes") Yes, I'm finished with my Hour of Code!
      img(src="/images/level/csedweek-logo-final-small.jpg", alt="CS Ed Week Hour of Code", title="I'm finished with my Hour of Code", width=80)
