$connectorBackground: #d8f2ff
$connectorBackgroundRight: #d8f2ff
$connectorBorder: #a2d7f2
$gutterBackground: #efefef
$copyArrowsColor: #000
$mergeRightColor: #c98100
$mergeLeftColor: #004ea0
$charDiffBackground: rgba(0, 92, 175, 0.4)
$charDiffBackgroundRight: rgba(0, 92, 175, 0.4)


@import '../common/ace-diff.sass'