#course-nag-modal
  .row
    margin-bottom: 20px
  
  .instructions
    font-size: 12pt
  
  .italic
    font-style: italic
  
  .size-by-height
    max-height: 230px

  .size-by-width
    width: 100%
