@import "app/styles/style-flat-variables"

#purchase-starter-licenses-modal
  p:not(.small)
    font-size: 16px
    line-height: 20px
  .input-row
    span, input
      padding: 0 10px
    input
      border-radius: 5px
      height: 36px
      background-color: white
      border: 1px solid $navy
      color: $navy

  .pay-now-btn
    border: none

  button[disabled]
    opacity: 0.70
