@import "app/styles/mixins"
@import "app/styles/bootstrap/variables"

#request-quote-view
  #site-content-area
    margin: 50px 0 100px
    .row
      margin: 20px 0
      
  #conversion-warning
    margin-top: 20px
    
  .form-group
    label
      margin-bottom: 0
      
  label.checkbox
    font-weight: normal
  
  .help-block
    margin: -4px 0 2px
  
  p
    margin: 0 0 20px
    
  .checkbox, .checkbox-inline
    input
      margin-top: 8px
  
  #other-education-level-input
    label
    display: inline-block
    display: inline-block
    width: 200px
    margin-left: 5px
    
  #submit-request-btn
    margin-left: 10px
    
  // After submit (anonymous)
  
  h5
    margin-top: 50px
    
  #social-network-signups
    margin: 20px 0
    button
      margin-left: 10px
      
  .text-h1
    margin: 40px 0 30px

  
.algolia-autocomplete 
  width: 100%;

  .aa-input
    width: 100%

  .aa-hint
    color: #999
    width: 100%

  .aa-dropdown-menu 
    background-color: #fff
    border: 1px solid #999
    border-top: none
    width: 100%

    .aa-suggestion 
      cursor: pointer
      padding: 5px 4px
      border-top: 1px solid #ccc

      .school
        font-family: Open Sans
        font-size: 14px
        line-height: 20px
        font-weight: bold

      .district
        font-family: Open Sans
        font-size: 14px
        line-height: 20px

        span
          white-space: nowrap


    .aa-suggestion.aa-cursor 
      background-color: #B2D7FF

    em
      font-weight: bold
      font-style: normal

