#resource-hub-view, #markdown-resource-view

    .content
      margin: 0 auto 0 auto
      // padding: 50px

    .content

      h4
        margin: 20px 0 0 0

      ul
        margin: 0 0 50px 0

      h4
        .comingsoon
          text-align: center
          margin: 0 auto 0 auto
          color: #666
          margin: 30px 0 0 0
