#resource-hub-view
  .content
    max-width: 900px
    margin: auto

    h4
      padding: 0 0 10px 0

    ul
      margin: 0 0 40px 0
      p
        font-size: .8em

  .coming-soon
    text-align: center
    margin: 0 auto 0 auto
    color: #666
    margin: 30px 0 0 0

  #hour-of-code
    background-color: #cff2fc
    border-radius: 10px
    // font-size: .8em
    padding: 20px 60px
    margin: 0 0 30px 0
    text-align: center

    p.small
      font-style: italic

    ol
      text-align: left
      margin: 0 15px
      li
        padding: 0 0 10px 0

    h3
      text-align: center
      font-size: 1.5em
