#teacher-course-solution-view
  .print
    text-align: center
    .btn a
      color: white

  #site-content-area
    background-color: white
    color: black
    font-family: sans-serif
    margin: 0px
    padding: 24px

    hr
      display: block
      border-style: inset
      border-width: 1px

    h1, h2, h3, h4, h5
      color: black
      font-family: sans-serif
      font-variant: normal
      margin: 20px 0px

    h4
      color: gray

    img
      display: block
      margin: auto

    p
      margin: 16px 0px

    .page-break-before
      page-break-before: always

    @media screen
      max-width: 900px
      background-color: #f8f8f8
      border-radius: 10px
      border: 1px solid #ddd
      padding: 40px 100px
      font-size: 0.85em
      margin: 20px auto

  @media print
    #main-nav, #teacher-dashboard-nav, #footer, #final-footer, .do-not-print
      display: none

  .ace_content
    background-color: #f5f5f5
    .ace_marker-layer
      .ace_bracket
        display: none
    .ace_cursor-layer
      .ace_cursor
        display: none
