@import "app/styles/style-flat-variables"

#create-account-modal
  .modal-content
    display: flex
    flex-direction: column
    padding: 0
    border: none

  .modal-header
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    height: 100px
    padding: 0
    background-color: $navy

    h3
      color: white
    
  .modal-body
    display: flex
    flex-direction: column
    align-items: center
    
    
  
