h4.home

  a(href=homeLink || "/")
    i.icon-home.icon-white
    span(data-i18n="play_level.home").home-text Home

h4.title
  | #{worldName}
  span.spl.spr.editor-dash -
  a(href=editorLink, data-i18n="nav.editor", title="Open " + worldName + " in the Level Editor") Editor

button.btn.btn-xs.btn-inverse.banner#game-menu-button(title="Show game menu", data-i18n="play_level.game_menu") Game Menu

if spectateGame
  button.btn.btn-xs.btn-inverse.banner#next-game-button(title="Next Game", data-i18n="play_level.next-game") Next game!

button.btn.btn-xs.btn-primary.banner#level-done-button(data-i18n="play_level.done") Done
