ul#primary-goals-list
div.goals-status
  strong(data-i18n="play_level.goals") Goals
  span.spr :
  span(data-i18n="play_level.success").secret.goal-status.success Success!
  span(data-i18n="play_level.incomplete").secret.goal-status.incomplete Incomplete
  span(data-i18n="play_level.timed_out").secret.goal-status.timed-out Ran out of time
  span(data-i18n="play_level.failing").secret.goal-status.failure Failing
