
button.close-hint-btn.btn.btn-illustrated.btn-danger
  span.glyphicon.glyphicon-remove

h1.text-center
  span= view.state.get('hintsTitle')

.hint-body
  != view.getProcessedHint()

.btn-area
  if view.state.get('hintIndex') > 0
    button.previous-btn.btn.btn-illustrated.btn-lg.pull-left(data-i18n="about.previous")

  - var lastHint = view.state.get('hintIndex') >= view.hintsState.get('total') - 1;
  if !lastHint
    button.next-btn.btn.btn-illustrated.btn-lg.pull-right(data-i18n="about.next")

  h2.text-center #{view.state.get('hintIndex')+1} / #{view.hintsState.get('total')}

.clearfix
