#hud-top-gradient.gradient

.center

  .thang-canvas-wrapper.thang-elem
    canvas.thang-canvas
  
  .thang-props.thang-elem
    .thang-name
  
  .thang-actions.thang-elem
    .nano
      .nano-content
        .action-header(data-i18n="play_level.action_timeline") Action Timeline
        .table-container
          .progress-arrow.progress-indicator
          .progress-line.progress-indicator
          table
            tbody
  
  .dialogue-area
    p.bubble.dialogue-bubble

  .no-selection-message
    div(data-i18n="play_level.click_to_select") Click on a unit to select it.

.left-wing
  .gradient#hud-left-gradient.gradient

.right-wing
  .gradient#hud-right-gradient.gradient