button.flag-button.btn.btn-xs.green-flag(title="g: Place a green flag")
  span.glyphicon.glyphicon-flag
  | g
button.flag-button.btn.btn-xs.black-flag(title="b: Place a black flag")
  span.glyphicon.glyphicon-flag
  | b
button.flag-button.btn.btn-xs.violet-flag(title="v: Place a violet flag")
  span.glyphicon.glyphicon-flag
  | v
