.left-wing

.right-wing

.loading-details.loading-container

  .load-progress
    .progress.progress-striped.active
      .progress-bar.progress-bar-success

  #tip-wrapper
    strong.tip(data-i18n='play_level.tip_insert_positions') Shift+Click a point on the map to insert it into the spell editor.
    strong.tip(data-i18n='play_level.tip_toggle_play') Toggle play/paused with Ctrl+P.
    strong.tip(data-i18n='play_level.tip_scrub_shortcut') Ctrl+[ and Ctrl+] rewind and fast-forward.
    strong.tip(data-i18n='play_level.tip_guide_exists') Click the guide at the top of the page for useful info.
    strong.tip(data-i18n='play_level.tip_open_source') CodeCombat is 100% open source!
    strong.tip(data-i18n='play_level.tip_beta_launch') CodeCombat launched its beta in October, 2013.
    strong.tip(data-i18n='play_level.tip_js_beginning') JavaScript is just the beginning.
    strong.tip(data-i18n='play_level.tip_autocast_setting') Adjust autocast settings by clicking the gear on the cast button.
    strong.tip(data-i18n='play_level.tip_think_solution') Think of the solution, not the problem.
    strong.tip(data-i18n='play_level.tip_theory_practice') In theory there is no difference between theory and practice; in practice there is. - Yogi Berra
    strong.tip(data-i18n='play_level.tip_error_free') There are two ways to write error-free programs; only the third one works. - Alan Perlis
    strong.tip(data-i18n='play_level.tip_debugging_program') If debugging is the process of removing bugs, then programming must be the process of putting them in. - Edsger W. Dijkstra
    strong.tip(data-i18n='play_level.tip_forums') Head over to the forums and tell us what you think!
    strong.tip(data-i18n='play_level.tip_impossible') It always seems impossible until it's done. - Nelson Mandela

    strong.tip.rare(data-i18n='play_level.tip_baby_coders') In the future, even babies will be Archmages.
    strong.tip.rare(data-i18n='play_level.tip_morale_improves') Loading will continue until morale improves.
    strong.tip.rare(data-i18n='play_level.tip_all_species') We believe in equal opportunities to learn programming for all species.
    strong.tip.rare(data-i18n='play_level.tip_reticulating') Reticulating spines.
    strong.tip.rare(data-i18n='play_level.tip_great_responsibility') With great coding skill comes great debug responsibility.
    strong.tip.rare(data-i18n='play_level.tip_munchkin') If you don't eat your vegetables, a munchkin will come after you while you're asleep.
    strong.tip.rare(data-i18n='play_level.tip_binary') There are only 10 types of people in the world: those who understand binary, and those who don't.
    strong.tip.rare(data-i18n='play_level.tip_commitment_yoda') A programmer must have the deepest commitment, the most serious mind. ~ Yoda
    strong.tip.rare(data-i18n='play_level.tip_no_try') Do. Or do not. There is no try. - Yoda
    strong.tip.rare(data-i18n='play_level.tip_patience') Patience you must have, young Padawan. - Yoda
    strong.tip.rare(data-i18n='play_level.tip_documented_bug') A documented bug is not a bug; it is a feature.
    strong.tip.rare(data-i18n='play_level.tip_talk_is_cheap') Talk is cheap. Show me the code. - Linus Torvalds
    strong.tip.rare(data-i18n='play_level.tip_first_language') The most disastrous thing that you can ever learn is your first programming language. - Alan Kay
    strong.tip.rare
      span(data-i18n='play_level.tip_harry') Yer a Wizard, 
      span= me.get('name') || 'Anoner'

  .errors
  