.left-wing

.right-wing

.loading-details

  .load-progress
    .progress.progress-striped.active
      .progress-bar.progress-bar-success

  #tip-wrapper
    strong.tip(data-i18n='play_level.tip_insert_positions') Shift+Click a point on the map to insert it into the spell editor.
    strong.tip(data-i18n='play_level.tip_toggle_play') Toggle play/paused with Ctrl+P.
    strong.tip(data-i18n='play_level.tip_scrub_shortcut') Ctrl+[ and Ctrl+] rewind and fast-forward.
    strong.tip(data-i18n='play_level.tip_guide_exists') Click the guide at the top of the page for useful info.
    strong.tip(data-i18n='play_level.tip_open_source') CodeCombat is 100% open source!
    strong.tip(data-i18n='play_level.tip_beta_launch') CodeCombat launched its beta in October, 2013.
    strong.tip(data-i18n='play_level.tip_js_beginning') JavaScript is just the beginning.
    strong.tip(data-i18n='play_level.tip_autocast_setting') Adjust autocast settings by clicking the gear on the cast button.

    strong.tip.rare(data-i18n='play_level.tip_baby_coders') In the future, even babies will be Archmages.
    strong.tip.rare(data-i18n='play_level.tip_morale_improves') Loading will continue until morale improves.
    strong.tip.rare(data-i18n='play_level.tip_all_species') We believe in equal opportunities to learn programming for all species.
    strong.tip.rare(data-i18n='play_level.tip_reticulating') Reticulating spines.
    strong.tip.rare(data-i18n='play_level.tip_great_responsibility') With great coding skills comes great debug responsibility.
    strong.tip.rare
      span(data-i18n='play_level.tip_harry') Yer a Wizard, 
      span= me.get('name') || 'Anoner'
