.left-wing

.right-wing

#loading-details.loading-container

  .level-loading-goals.secret
    .goals-title(data-i18n="play_level.goals") Goals
    ul.list-unstyled

  .errors

  .intro-doc.hidden
    .nano
      .nano-content
        .intro-doc-content

  .progress-or-start-container
    button.start-level-button.btn.btn-lg.btn-success.btn-illustrated.header-font.needsclick(data-i18n="play_level.loading_start") Start Level

    .load-progress
      .progress
        .progress-background
        .progress-bar-container
          .progress-bar.progress-bar-success
        .rim

    .could-not-load
      span(data-i18n="loading_error.could_not_load") Error loading from server

    .subscription-required
      span(data-i18n="subscribe.subscription_required_to_play") You'll need a subscription to play this level.
      button.start-subscription-button.btn.btn-lg.btn-warning(data-i18n="subscribe.subscribe") Subscribe

    .course-membership-required
      span(data-i18n="courses.course_membership_required_to_play") You'll need to join a course to play this level.
      a.btn.btn-lg.btn-warning(data-i18n="courses.go_to_courses", href="/courses") Go To Courses

  #tip-wrapper.picoctf-hide
    strong.tip(data-i18n='play_level.tip_toggle_play') Toggle play/paused with Ctrl+P.
    strong.tip(data-i18n='play_level.tip_scrub_shortcut') Ctrl+[ and Ctrl+] rewind and fast-forward.
    strong.tip(data-i18n='play_level.tip_guide_exists') Click the guide, inside game menu (at the top of the page), for useful info.
    strong.tip(data-i18n='play_level.tip_open_source') CodeCombat is 100% open source!
    strong.tip(data-i18n='play_level.tip_tell_friends') Enjoying CodeCombat? Tell your friends about us!
    strong.tip(data-i18n='play_level.tip_beta_launch') CodeCombat launched its beta in October, 2013.
    strong.tip(data-i18n='play_level.tip_think_solution') Think of the solution, not the problem.
    strong.tip(data-i18n='play_level.tip_theory_practice') In theory there is no difference between theory and practice; in practice there is. - Yogi Berra
    strong.tip(data-i18n='play_level.tip_error_free') There are two ways to write error-free programs; only the third one works. - Alan Perlis
    strong.tip(data-i18n='play_level.tip_debugging_program') If debugging is the process of removing bugs, then programming must be the process of putting them in. - Edsger W. Dijkstra
    strong.tip(data-i18n='play_level.tip_forums') Head over to the forums and tell us what you think!
    strong.tip(data-i18n='play_level.tip_impossible') It always seems impossible until it's done. - Nelson Mandela
    strong.tip(data-i18n='play_level.tip_move_forward') Whatever you do, keep moving forward. - Martin Luther King Jr.
    strong.tip(data-i18n='play_level.tip_google') Have a problem you can't solve? Google it!
    strong.tip(data-i18n='play_level.tip_solve_then_write') First, solve the problem. Then, write the code. — John Johnson
    strong.tip(data-i18n='play_level.tip_mistakes_proof_of_trying') Mistakes in your code are just proof that you are trying.

    strong.tip.rare(data-i18n='play_level.tip_baby_coders') In the future, even babies will be Archmages.
    strong.tip.rare(data-i18n='play_level.tip_hardware_problem') Q: How many programmers does it take to change a light bulb?  A: None, it's a hardware problem.
    strong.tip.rare(data-i18n='play_level.tip_morale_improves') Loading will continue until morale improves.
    strong.tip.rare(data-i18n='play_level.tip_all_species') We believe in equal opportunities to learn programming for all species.
    strong.tip.rare(data-i18n='play_level.tip_reticulating') Reticulating spines.
    strong.tip.rare(data-i18n='play_level.tip_great_responsibility') With great coding skill comes great debug responsibility.
    strong.tip.rare(data-i18n='play_level.tip_munchkin') If you don't eat your vegetables, a munchkin will come after you while you're asleep.
    strong.tip.rare(data-i18n='play_level.tip_binary') There are only 10 types of people in the world: those who understand binary, and those who don't.
    strong.tip.rare(data-i18n='play_level.tip_commitment_yoda') A programmer must have the deepest commitment, the most serious mind. ~ Yoda
    strong.tip.rare(data-i18n='play_level.tip_no_try') Do. Or do not. There is no try. - Yoda
    strong.tip.rare(data-i18n='play_level.tip_patience') Patience you must have, young Padawan. - Yoda
    strong.tip.rare(data-i18n='play_level.tip_documented_bug') A documented bug is not a bug; it is a feature.
    strong.tip.rare(data-i18n='play_level.tip_talk_is_cheap') Talk is cheap. Show me the code. - Linus Torvalds
    strong.tip.rare(data-i18n='play_level.tip_first_language') The most disastrous thing that you can ever learn is your first programming language. - Alan Kay
    strong.tip.rare(data-i18n='play_level.tip_hofstadters_law') Hofstadter's Law: It always takes longer than you expect, even when you take into account Hofstadter's Law.
    strong.tip.rare(data-i18n='play_level.tip_premature_optimization') Premature optimization is the root of all evil - Donald Knuth
    strong.tip.rare(data-i18n='play_level.tip_brute_force') When in doubt, use brute force. - Ken Thompson
    strong.tip.rare(data-i18n='play_level.tip_extrapolation') There are only two kinds of people: those that can extrapolate from incomplete data...
    strong.tip.rare(data-i18n='play_level.tip_superpower') Coding is the closest thing we have to a superpower
    strong.tip.rare(data-i18n='play_level.tip_source_code') I want to change the world but they would not give me the source code.
    strong.tip.rare(data-i18n='play_level.tip_javascript_java') Java is to JavaScript what Car is to Carpet. - Chris Heilmann
    strong.tip.rare
      span.spr(data-i18n='play_level.tip_harry') Yer a Wizard,
      span= me.get('name', true)
    strong.tip.rare(data-i18n='play_level.tip_control_destiny') In real open source, you have the right to control your own destiny. - Linus Torvalds
    strong.tip.rare(data-i18n='play_level.tip_no_code') No code is faster than no code.
    strong.tip.rare(data-i18n='play_level.tip_code_never_lies') Code never lies, comments sometimes do. — Ron Jeffries
    strong.tip.rare(data-i18n='play_level.tip_reusable_software') Before software can be reusable it first has to be usable.
    strong.tip.rare(data-i18n='play_level.tip_optimization_operator') Every language has an optimization operator. In most languages that operator is ‘//’
    strong.tip.rare(data-i18n='play_level.tip_lines_of_code') Measuring programming progress by lines of code is like measuring aircraft building progress by weight. — Bill Gates
    strong.tip.rare(data-i18n='play_level.tip_adding_evil') Adding a pinch of evil.
    strong.tip.rare(data-i18n='play_level.tip_adding_orgres') Rounding up ogres.
    strong.tip.rare(data-i18n='play_level.tip_sharpening_swords') Sharpening the swords.
    strong.tip.rare(data-i18n='play_level.tip_hate_computers') That's the thing about people who think they hate computers. What they really hate is lousy programmers. - Larry Niven
    strong.tip.rare
      a(href="https://github.com/codecombat/codecombat/wiki", data-i18n='play_level.tip_open_source_contribute') You can help CodeCombat improve!
    strong.tip.rare(data-i18n='play_level.tip_recurse') To iterate is human, to recurse divine. - L. Peter Deutsch
    strong.tip.rare(data-i18n='play_level.tip_free_your_mind') You have to let it all go, Neo. Fear, doubt, and disbelief. Free your mind. - Morpheus
    strong.tip.rare(data-i18n='play_level.tip_strong_opponents') Even the strongest of opponents always has a weakness. - Itachi Uchiha
    strong.tip.rare(data-i18n='play_level.tip_paper_and_pen') Before you start coding, you can always plan with a sheet of paper and a pen.
    strong.tip.rare(data-i18n='play_level.tip_compiler_ignores_comments') Sometimes I think that the compiler ignores my comments.
    strong.tip.rare(data-i18n='play_level.tip_understand_recursion') The only way to understand recursion is to understand recursion.
    strong.tip.rare(data-i18n='play_level.tip_open_source_and_polymorphism') Open Source projects are like totally polymorphic heterogeneous structures: All types are welcome.
    strong.tip.rare(data-i18n='play_level.tip_ratatouille') You must not let anyone define your limits because of where you come from. Your only limit is your soul. - Gusteau, Ratatouille
    strong.tip.rare(data-i18n='play_level.tip_nemo') When life gets you down, want to know what you've gotta do? Just keep swimming, just keep swimming. - Dory, Finding Nemo
    strong.tip.rare(data-i18n='play_level.tip_internet_weather') Just move to the internet, it's great here. We get to live inside where the weather is always awesome. - John Green
    strong.tip.rare(data-i18n='play_level.tip_nerds') Nerds are allowed to love stuff, like jump-up-and-down-in-the-chair-can't-control-yourself love it. - John Green
    strong.tip.rare(data-i18n='play_level.tip_self_taught') I taught myself 90% of what I've learned. And that's normal! - Hank Green
    strong.tip.rare(data-i18n='play_level.tip_luna_lovegood') Don't worry, you're just as sane as I am. - Luna Lovegood
    strong.tip.rare(data-i18n='play_level.tip_good_idea') The best way to have a good idea is to have a lot of ideas. - Linus Pauling
    strong.tip.rare(data-i18n='play_level.tip_programming_not_about_computers') Computer Science is no more about computers than astronomy is about telescopes. - Edsger Dijkstra
    strong.tip.rare(data-i18n='play_level.tip_mulan') Believe you can, then you will. - Mulan
