.left-wing

.right-wing

.loading-details

  h2(data-i18n='play_level.loading_level') Loading Level

  .load-progress
    .progress.progress-striped.active
      .progress-bar.progress-bar-success

  h4 Tip: you can shift+click a position on the map to insert it into the spell editor.