#loading-details.loading-container
  .chrome-border.chrome-off-slice

  .level-loading-goals.secret.rtl-allowed
    .goals-title(data-i18n=view.goalHeaderTransationKey) Goals
    ul.list-unstyled(dir="auto")

  .errors

  .progress-or-start-container
    img(src="/images/ozaria/level/Logo_Bevelled@4x.png")
    p(data-i18n="common.LOADING")
    .load-progress
      .progress
        .progress-background
        .progress-bar-container
          .progress-bar.progress-bar-success

  .could-not-load
    span(data-i18n="loading_error.could_not_load")

  .resource-not-found
    span

  .course-membership-required
    span(data-i18n="courses.course_membership_required_to_play")
    a.btn.btn-lg.btn-warning(data-i18n="courses.back_courses", href="/students")
    
  .license-required
    span(data-i18n="courses.license_required_to_play")
    a.btn.btn-lg.btn-warning(data-i18n="courses.back_courses", href="/students")
