button.btn.btn-xs.btn-inverse#play-button.paused
  .glyphicon.glyphicon-play
  .glyphicon.glyphicon-pause
  if view.utils.isCodeCombat
    .glyphicon.glyphicon-repeat
  
if !view.options.level.isType('game-dev')
  .scrubber
    .scrubber-inner
      .progress.secret#timeProgress
        .progress-bar
          .scrubber-handle
          if view.utils.isCodeCombat
            .popover.fade.top.in#timePopover
              .arrow
              h3.popover-title
              .popover-content

if view.utils.isCodeCombat
  .btn-group.dropup#playback-settings
    button.btn.btn-xs.btn-inverse.picoctf-hide#volume-button(data-i18n="[title]play.adjust_volume")
      .glyphicon.glyphicon-volume-off
      .glyphicon.glyphicon-volume-down
      .glyphicon.glyphicon-volume-up
    button.btn.btn-xs.btn-inverse.picoctf-hide#music-button(data-i18n="[title]options.music_label")
      span ♫
    button.btn.btn-xs.btn-inverse.toggle-fullscreen(data-i18n="[title]play.toggle_fullscreen")
      .glyphicon.glyphicon-fullscreen

