//- TODO: Replace this devart with nice shinies

div
  button#multiplayer-button Multiplayer
  //- span.spr
  //- span.player-count #{playerCount} total players
  span.spr
  span.players-available #{playersAvailable} available
  span.spr
  span.players-unavailable #{playersUnavailable} playing
  span.spr
  span.game-status #{status}
