button.btn.btn-xs.btn-inverse#play-button.playing(title="Ctrl/Cmd + P: Toggle level play/pause")
  i.icon-play.icon-white.big
  i.icon-pause.icon-white.big
  i.icon-repeat.icon-white.big

button.btn.btn-xs.btn-inverse#volume-button(title="Adjust volume")
  i.icon-volume-off.icon-white.big
  i.icon-volume-down.icon-white.big
  i.icon-volume-up.icon-white.big
button.btn.btn-xs.btn-inverse#music-button(title="Toggle Music")
  span ♫

.scrubber
  .progress.secret#timeProgress
    .progress-bar
      .scrubber-handle
      .popover.fade.top.in#timePopover
        .arrow
        h3.popover-title
        .popover-content

.btn-group.dropup#playback-settings
  button.btn.btn-xs.btn-inverse.toggle-fullscreen(title="Toggle fullscreen")
    i.icon-fullscreen.icon-white
  button.btn.btn-xs.btn-inverse#zoom-in-button(title="Zoom In (or scroll down)")
    i.icon-zoom-in.icon-white
  button.btn.btn-xs.btn-inverse#zoom-out-button(title="Zoom Out (or scroll up)")
    i.icon-zoom-out.icon-white
  button.btn.btn-xs.btn-inverse.dropdown-toggle(data-toggle="dropdown")#settings-button
    i.icon-cog.icon-white.big
  ul.dropdown-menu
    if me.get('name') == "Nick"
      li(title="Ctrl/Cmd + \\: Toggle debug display").selectable#debug-toggle
        i.icon-globe
        | Debug Mode
        i.icon-ok.secret
    li.selectable#view-keyboard-shortcuts
      i.icon-info-sign
      span(data-i18n="play_level.keyboard_shortcuts") Key Shortcuts
    li.selectable#edit-wizard-settings
      i.icon-user
      span(data-i18n="play_level.customize_wizard") Customize Wizard
    li.selectable#edit-editor-config
      i.icon-edit
      span(data-i18n="play_level.editor_config") Editor Config
