button.btn.btn-mini.btn-inverse#play-button.playing(title="Alt-P: Toggle level play/pause")
  i.icon-play.icon-white.big
  i.icon-pause.icon-white.big
  i.icon-repeat.icon-white.big

button.btn.btn-mini.btn-inverse#volume-button(title="Adjust volume")
  i.icon-volume-off.icon-white.big
  i.icon-volume-down.icon-white.big
  i.icon-volume-up.icon-white.big
button.btn.btn-mini.btn-inverse#music-button(title="Toggle Music")
  | ♫

.scrubber
  .progress.hide
    .bar
      .scrubber-handle
  
.btn-group.dropup#playback-settings
  button.btn.btn-mini.btn-inverse#zoom-in-button
    i.icon-zoom-in.icon-white
  button.btn.btn-mini.btn-inverse#zoom-out-button
    i.icon-zoom-out.icon-white
  button.btn.btn-mini.btn-inverse.dropdown-toggle(data-toggle="dropdown")#settings-button
    i.icon-cog.icon-white.big
  ul.dropdown-menu
    if me.get('name') == "Nick"
      li(title="\\: Toggle debug display").selectable#debug-toggle
        i.icon-globe
        | Debug Mode
        i.icon-ok.hide
    li(title="G: Toggle grid display").selectable#grid-toggle
      i.icon-th
      span(data-i18n="play_level.grid") Grid
      i.icon-ok.hide
    li.selectable#edit-wizard-settings
      i.icon-user
      span(data-i18n="play_level.customize_wizard") Customize Wizard
