.thang-avatar-wrapper(class="team-" + (thang.team || "neutral"))
  //canvas(width=100, height=100, title=thang.id + " - " + thang.team)
  img(src=avatarURL, title=thang.id + " - " + thang.team)
  .badge.problems
  .badge.shared-thangs
if includeName
  .thang-name= thang.id
