extends /templates/base

block content
  img(src='/images/pages/user/artisan.png')
  div
    a(href='/artisans/thang-tasks')
      |Thang Tasks
  div
    a(href="/artisans/level-tasks")
      |Level Tasks
  div
    a(href="/artisans/solution-problems")
      |Solution Problems