extends /templates/base

block content
  img(src='/images/pages/user/artisan.png')
  div
    a(href='/artisans/sandbox')
      |Artisan Sandbox
  div
    a(href='/artisans/thang-tasks')
      |Thang Tasks
  div
    a(href='/artisans/level-tasks')
      |Level Tasks
  div
    a(href='/artisans/solution-problems')
      |Solution Problems
  div
    a(href='/artisans/level-concepts')
      |Level Concept Map
  div
    a(href='/artisans/level-guides')
      |Level Guides Overview
  div
    a(href="/artisans/student-solutions")
      |Student Solutions
  div
    a(href="/artisans/bulk-level-editor")
      |Bulk Level Editor
