//- DNT
extends /templates/base-flat

block content
  .container
    a(href="/artisans")
      span.glyphicon.glyphicon-chevron-left
      span Artisans Home
    h1= "Block Testing"

    for testCase in view.testCases
      .row.test-case
        .col-md-12
          h2= testCase.name
        .col-md-3
          .row
            .ace-input
          .row
            .ace-output
          .row
            pre.rob-debug
        .col-md-9
          .blockly-container
          .blockly-container-rob

    .row
      .col-xs-3.col-xs-offset-8.go-button
        button.btn.btn-primary.btn-lg#go-button Go
