//- DNT
extends /templates/base-flat

block content
  .container
    a(href="/artisans")
      span.glyphicon.glyphicon-chevron-left
      span Artisans Home
    h1= "Block Testing"

    for testCase in view.testCases
      .col-md-6.test-case
        .col-md-12
          h2= testCase.name
        .col-md-6
          .side-label Input
          .ace-input
          .side-label Output
          .ace-output
          .side-label Debug
          pre.debug-scratchpad
        .col-md-6
          .blockly-container
          .blockly-container-debug

    .row
      .col-xs-3.col-xs-offset-8.go-button
        button.btn.btn-primary.btn-lg#go-button Go
