//- DNT
extends /templates/base-flat

block content
  .container
    a(href="/artisans")
      span.glyphicon.glyphicon-chevron-left
      span Artisans Home
    h1= "Block Testing"

    .col-md-6
      #blockly-container

    for testCase in view.testCases
      .col-md-6
        .row
          h2= testCase.name
          pre= testCase.code

    .row
      .col-xs-3.col-xs-offset-8.go-button
        button.btn.btn-primary.btn-lg#go-button Go
