//- DNT
extends /templates/base-flat

block content
  .container
    a(href="/artisans")
      span.glyphicon.glyphicon-chevron-left
      span Artisans Home
    if view.focusTest
      a(href="/artisans/block-testing")
        span= ' '
        span.glyphicon.glyphicon-chevron-left
        span All Tests

    if view.focusTest
      h1= "Block Testing - " + view.focusTest
    else
      h1= "Block Testing - " + view.testCases.length + " tests"

    for testCase in view.testCases
      .col-md-12.test-case
        if !view.focusTest
          h2
            a(href="/artisans/block-testing?test=" + testCase.name)= testCase.name
        .col-md-5
          .side-label Input
          .ace-input
          .side-label Output
          .ace-output
          .side-label Debug
          pre.debug-scratchpad
          pre.error-scratchpad.hide
        .col-md-7
          .blockly-container
          .blockly-container-debug
