// DNT
extends /templates/base

block content
  #level-tasks-view
    div
      a(href='/artisans')
        span.glyphicon.glyphicon-chevron-left
        span Artisans Home
    br
    input.searchInput#nameSearch(placeholder='Filter: Level Name')
    br
    input.searchInput#descSearch(placeholder='Filter: Task Description')
    hr
    div#levelTable
      if view.processedLevels
        table.table.table-striped
          tr
            th Level Name
            th Task List
          for level in view.processedLevels
            if view.hasIncompleteTasks(level)
              +levelRow(level)
      else
        div No view.processedLevels

mixin levelRow(level)
  tr
    td.taskOwner
      a(href= 'level/' + level.slug)= level.name
    td.tasks
      table.table-striped.table-hover.tasksTable
        for task in (level.tasks || [])
          if !task.complete
            tr
              td= task.name
