extends /templates/base

block content
  #level-tasks-view
    div
      a(href='/artisans')
        | < Artisans Home
    br
    input#nameSearch(placeholder='Filter: Level Name')
    br
    input#descSearch(placeholder='Filter: Task Description')
    hr
    if view.processedLevels
      table.table.table-striped#levelTable
        tr
          th Level Name
          th Task List
        for level in view.processedLevels
          if view.hasIncompleteTasks(level)
            +levelRow(level)
    else
      div ole?

mixin levelRow(level)
  tr
    td.taskOwner
      a(href= 'level/' + level.slug)= level.name
    td.tasks
      table.table-striped.table-hover.tasksTable
        for task in (level.tasks || [])
          if !task.complete
            tr
              td= task.name
