extends /templates/base

block content
  table.table.table-striped#levelTable
    for level in (view.parsedLevels || [])
      tr
        td(style="width:10%")= level.level.get('slug')
        td
          table.table-striped
            for problem in (level.problems || [])
              tr(style="width:100%")
                td.problemType= problem.type
                td.problemValue= problem.value