extends /templates/base

// User pages might have some user page specific header, if not remove this
block content
  .clearfix
    if view.user && view.viewName
      ol.breadcrumb
        li
          a(href="/user/#{view.user.getSlugOrID()}") #{view.user.displayName()}
        li.active
          | #{view.viewName}
    if !view.user || view.user.loading
      | LOADING
