extends /templates/kinds/user

block append content
  if user
    .vertical-buffer
    .row
      .left-column
        .profile-wrapper
          img.picture(src="#{me.getPhotoURL(150)}" alt="")
          h3.name= user.get('name')
          .btn-group-vertical.profile-menu
            a.btn.btn-default(href="/user/#{user.get('slug') || user.get('_id')}/profile")
              i.glyphicon.glyphicon-briefcase
              span Job Profile
            a.btn.btn-default.disabled(href="#")
              i.glyphicon.glyphicon-pencil
              span Code
        - var emails = user.get('emails')
        if emails
          ul.contributor-categories
            //li.contributor-category
              img.contributor-image(src="/images/pages/user/general.png")
              h4.contributor-title CodeCombateer
            if emails.adventurerNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/adventurer.png")
                h4.contributor-title
                  a(href="/contribute#adventurer") Adventurer
            if emails.ambassadorNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/ambassador.png")
                h4.contributor-title
                  a(href="/contribute#ambassador") Ambassador
            if emails.archmageNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/archmage.png")
                h4.contributor-title
                  a(href="/contribute#archmage") Archmage
            if emails.artisanNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/artisan.png")
                h4.contributor-title
                  a(href="/contribute#artisan") Artisan
            if emails.scribeNews
              li.contributor-category
                img.contributor-image(src="/images/pages/user/scribe.png")
                h4.contributor-title
                  a(href="/contribute#scribe") Scribe


      .right-column
        .panel.panel-default
          .panel-heading
            h3.panel-title Achievements
          .panel-body
        .panel.panel-default
          .panel-heading
            h3.panel-title S. Levels
          .panel-body
        .panel.panel-default
          .panel-heading
            h3.panel-title M. Levels
          .panel-body
