#editor-achievement-edit-view
  .treema-root
    margin: 28px 0px 20px

  .achievement-tool-button
    float: right
    margin-top: 15px
    margin-left: 10px

  textarea
    width: 92%
    height: 300px

  #achievement-view
    min-height: 200px
    position: relative
    padding-left: 200px

