#classroom-view

  hr
    margin-top: 5px
    margin-bottom: 10px

  #main-button-area
    .btn
      margin-left: 10px

  #student-stats-row
    margin-bottom: 10px

  .student-name
    font-size: 20px
    font-weight: bold

  .progress
    margin-bottom: 2px

  .progress-bar
    border-right: 1px solid grey

  .progress-bar-complete
    background-color: #9DE257
    color: grey
  .progress-bar-started
    background-color: #FFF6A1
    color: grey
  .progress-bar-default
    background-color: white
    color: grey
