#classroom-view

  .enable-btn
    margin: 1px

  #main-button-area
    .btn
      margin-left: 10px

  #student-stats-row
    margin-bottom: 20px

  .progress
    margin-bottom: 5px

  .progress-bar
    border-right: 1px solid grey

  .progress-bar-default
    background-color: white
    color: grey
