#courses-view
  h1
    margin-bottom: 30px
    
  #play-now-to-learn-header
    margin-top: 60px
    
  ul
    margin: 0 auto 40px
    width: 320px
    
  #begin-hoc-area
    width: 50%
    margin: 0 auto
    
  hr
    border-top: 1px solid lightgrey
    margin: 5px 0
  
  h2
    margin-top: 5px
    
  .course-instance-entry
    padding-left: 40px