#courses-update-account-view

  #main-content
    background-color: #f2dede
    padding: 20px 80px 20px 80px

  .warning
    color: red
    font-size: 14px
    line-height: 15px
    
  .well
    font-size: 15px
    line-height: 16px
    margin: 20px
    
  .not_you
    font-size: 14px
    margin-left: 20px
