#course-details-view

  .available-courses-title
    font-size: 20px
    font-weight: bold
    margin: 4px

  .concept
    display: inline-block
    white-space: nowrap
    font-size: 12px
    line-height: 12px
    border: 1px solid gray
    margin: 0px
    padding: 2px

  .jumbotron
    form
      margin-top: -40px
      margin-bottom: 20px

      .btn
        margin-top: -15px

      .no-school
        width: 30%

      .save-school
        margin-left: 10%
        width: 60%

    .btn:not(.btn-submit)
      white-space: normal
      min-height: 200px

      h1
        font-size: 48px

  .btn-view-project-level
    margin-left: 10px;
