#hero-select-modal
  .modal-dialog
    width: auto
    max-width: 900px
  
  .modal-header, .modal-body:not(.secret), .modal-footer
    display: flex
    flex-direction: column
    align-items: center
  
  .modal-footer
    margin: 30px
    
  h4
    max-width: 500px
