#project-gallery-view
  .project-list
    list-style: none
    -webkit-padding-start: 0
    li
      padding-top: 10px
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

      .creator-name
        text-align: left

      .view-edit-buttons
        text-align: right

      .btn ~ .btn
        margin-left: 10px
