#student-assessments-view
  .assessments-list
    list-style: none
    li
      margin-top: 10px
      margin-bottom: 10px

  .play-level-btn
    min-width: 140px

  .table-header
    font-weight: bold
