#ranking
  
  table 
    margin: auto
    tr  
    td
      padding: 5px
      
  p
    text-align: center

  .img-circle-small
    border: #F2BE19 3px solid
    width: 40px
    height: 40px


  .line-ranking
    border-bottom: 1px solid grey
      opacity: 0.5


  .student_ranking
    text-align: left

  .teste
    width: 200px
    height: 100px
    background-color: #f4f7fc

    border-width: 1px
    border-style: solid
    border-image: -webkit-gradient(linear, left center, right center, from(#e02c2c), to(#f25252), color-stop( 50%, #f96666)) 3 repeat repeat 

  .meId
    border: 2px solid #e2ad41
    transition: border-width 6s linear, border-color 0.6s linear

  .meId:hover
    border-width: 4px
    border-color: #ed6534

  



