@import "app/styles/bootstrap/variables"
@import "app/styles/mixins"
@import "app/styles/style-flat"

$grey-light: #f5f5f5
$grey-medium: #ebebeb
$grey-dark: #c9c9c9
$grey-darker: #9b9b9b

.alternating-background:nth-child(2n+1)
  background-color: $grey-medium

.alternating-background:nth-child(2n)
  background-color: $grey-light

#teacher-class-view

  ul.nav-tabs
    border: none
    .tab-spacer
      float: left
      width: 15px
      height: 47px
      border-bottom: thin solid #979797
      
    .tab-filler
      // Triggers block formatting context
      // http://stackoverflow.com/questions/1260122/expand-a-div-to-take-the-remaining-width
      overflow: hidden
      height: 47px
      border-bottom: thin solid #979797
      
    li > a
      margin: 0
      border: thin solid #979797
      border-bottom: none
      background: white
      border-radius: 5px 5px 0 0
      width: 175px
      color: black
      font-family: $headline-font
    li
      border-bottom: thin solid #979797
    li.active
      border-bottom: none
    
  .inline-student-list
    padding-left: 0
    
    // TODO: Fix highlighted text value
    &:before
      content: '('
    &:after
      content: ')'
    list-style: none
    
    li
      display: inline
      a
        white-space: nowrap
    li:not(:last-child):after
      content: ', '
      
  .student-info
    max-width: 200px
    line-height: 20px

    .student-name, .student-email
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    
  .level-name
    white-space: nowrap
    overflow: ellipsis
    font-weight: bold
    // line-height: 20px
    
  th
    font-weight: normal
    white-space: nowrap
    vertical-align: bottom
  
  .sort-button
    border: none
    background: none
    font-weight: bold
    text-decoration: underline
  
  td
    padding-top: 15px
    padding-bottom: 15px
    
  .edit-student-button
    color: black
    font-weight: bold
    text-decoration: underline

    .glyphicon
      color: $grey-darker
      
  // Course Progress tab
  
  #course-progress-tab
    .student-levels-table
    .student-levels-row, .course-overview-row
      padding-left: 75px
      padding-top: 15px
      padding-bottom: 30px
    .student-levels-progress, .course-overview-progress
      max-width: 880px
      margin: -5px
      margin-top: 5px
    .progress-dot
      margin: 5px
  
  // Checkboxes
  // TODO: Move to style-flat?
  
  .checkbox-flat
    input
      visibility: hidden
    background: white
    border: thin solid #979797
    width: 20px
    height: 20px
    
  // stuff that feels specific to this page
  .checkbox-flat
    margin: 8px auto

  // TODO: Move to style-flat?
  .view-class-arrow
    color: $grey-darker
    // height: 100%
    font-size: 35px
    line-height: 35px
    align-self: center
    .view-class-arrow-inner 
      color: $grey-darker
      &:hover
        text-decoration: none
    

  // TODO: Scott is refactoring this
    
  .progress-dot
    display: inline-block
    margin-right: 6px
    width: 34px
    height: 34px
    border-radius: 50%
    // margin-top: 23px
    // margin-bottom: 23px
    background: $grey-dark
    position: relative
    .dot-label
      padding-top: 2px
      .dot-label-inner
        font-size: 11px
        font-weight: bold
        color: white
    
  .progress-dot.forest
    background: $forest
    .tooltip-inner
      color: $forest
      border: 1px solid $forest
    .tooltip-arrow
      border-top-color: $forest
    
  .progress-dot.gold
    background: $gold
    .tooltip-inner
      color: $navy
      border: 1px solid $navy
    .tooltip-arrow
      border-top-color: $navy

  .copy-button-group
    input
      height: 50px
      width: 220px
      background: #fafafa
      border: thin solid #979797
      text-align: center
      
    button
      height: 50px
      width: 210px
      float: right
      
