#component-config-column-view
  h3
    float: left
  #add-remove-button
    float: right
    margin: 5px
  #description
    clear: both
    
  .treema
    position: absolute
    left: 5px
    right: 5px
    top: 90px
    bottom: 0
    overflow: scroll