.purple-secondary-btn {
  border: 2px solid $purple;
  border-radius: 4px;
  text-shadow: unset;
  @include font-p-3-small-button-text-black;
  background-image: unset;
  background-color: rgb(239, 239, 239);

  &:hover {
    background-color: $purple;
    color: #fff;
    transition: background-color .35s, color .35s;
  }

  &.disabled {
    background-color: #ADADAD;
    color: #000000;
    cursor: default;

    &:hover {
      background-color: #ADADAD;
      transition: unset;
    }
  }

  display: flex;
  height: 33px;
  padding: 0 17px;
  justify-content: center;
  align-items: center;
}
