extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="editor.new_component_title") Create New Component

block modal-body-content
  form.form-horizontal
    .control-group
      label(for="level-component-system", data-i18n="editor.new_component_field_system").control-label System
      .controls
        input#level-component-system.input-large(name="system", type="text")
    .control-group
      label(for="level-component-name", data-i18n="general.name").control-label Name
      .controls
        input#level-component-name.input-large(name="name", type="text")

block modal-footer-content
  button(data-dismiss="modal", data-i18n="common.cancel").btn Cancel
  button(data-i18n="common.create").btn.btn-primary#new-level-component-submit Create
