extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="editor.new_component_title") Create New Component

block modal-body-content
  form.form-horizontal
    .control-group
      label.control-label(for="level-component-system") System
      .controls
        input#level-component-system.input-large(name="system", type="text")
    .control-group
      label.control-label(for="level-component-name") Name
      .controls
        input#level-component-name.input-large(name="name", type="text")

block modal-footer-content
  button.btn(data-dismiss="modal") Cancel
  button.btn.btn-primary#new-level-component-submit Create
