#clans-view
  color: black

  .clan-title
    cursor: pointer

  .create-clan-description
    width: 50%

  .popover
    max-width: 100%

    h3
      background: transparent
      border: 0
      font-size: 30px
      color: black
