.modal-header
  button(type='button', data-dismiss="modal", aria-hidden="true").close &times;
  h3 
    if selectingPoint
      | Select Point
    else
      | Select Region
.modal-body
  div.instructions
    div.alert.alert-info 
      strong Click
      |  to pan
    div.alert.alert-info 
      strong Scroll
      |  to zoom
    if selectingPoint
      div.alert.alert-info
        strong Shift-click 
        |  to select
    else
      div.alert.alert-info
        strong Shift-drag
        |  to select
    div.alert.alert-info 
      strong Enter
      |  to confirm
  canvas(width=924, height=590)
.modal-footer
  a.btn.btn-primary#done-button Done

