@import "../../bootstrap/variables"
@import "../../bootstrap/mixins"

#control-bar-view
  width: 55%
  padding: 8px 10px
  height: 30px
  @include box-sizing(border-box)
  background: transparent url(/images/level/control_bar_background.png)

  //text-shadow: 0 1px 0 $navbarBackgroundHighlight

  .title
    position: absolute
    left: 20%
    margin: 0
    color: #BEBEBE
    line-height: 15px

  .home
    float: left
    margin: 0
    line-height: 15px

    i
      float: left
      @include opacity(0.75)
      margin-right: 5px
      margin-left: -5px

    a
      color: #BEBEBE
      text-decoration: underline

  button
    float: right
    margin-left: 10px
    position: relative
    top: -7px
    font-size: 13px
    height: 24px


  #level-done-button
    display: none
