@import "../../bootstrap/mixins"

#goals-view
  position: absolute
  left: 10px
  top: -100px
  @include transition(top 0.5s ease-in-out)
  background-color: rgba(200,200,200,1.0)
  
  border: black
  padding: 15px 7px 2px 5px
  box-sizing: border-box
  border:  1px solid #333
  border-radius: 5px
  
  .goals-status
    font-size: 14px
    margin: 0
    color: black
    .success
      color: darkgreen
    .timed-out
      color: darkslategray
    .failure
      color: darkred
    .incomplete
      color: darkgoldenrod
    
  ul
    padding-left: 0
    margin-bottom: 0
    color: black
    
  li
    list-style: none
    margin-right: 5px
    i
      margin-right: 5px
      
  li.status-incomplete
    color: #333
    
  li.status-failure
    color: darkred
    
  li.status-success
    color: darkgreen
    
#goals-view.collapsed i.collapsed, #goals-view.expanded i.expanded
  display: none

#goals-view.collapsed ul
  display: none