extends /templates/base

block content

  h1(data-i18n="admin.clas") CLAs
  
  table.table.table-striped.table-bordered.table-condensed#clas
    tbody
      each cla in clas
        tr
          td #{cla.name}
          if me.isAdmin()
            td #{cla.email}
          td #{cla.githubUsername}
          td #{cla.created}
 