div#cla-view.container
  h1 CLAs

  table.table.table-striped.table-bordered.table-condensed#clas
    tbody
      tr
        th Name
        th Email
        th GitHub Username
        th Created
      tr(v-for="cla in clas")
        td {{cla.name}}
        td {{cla.email}}
        td {{cla.githubUsername}}
        td {{dateFormat(cla.created)}}
 
