extends /templates/base

block content

  h1 CLAs

  table.table.table-striped.table-bordered.table-condensed#clas
    tbody
      - var models = view.clas.models
      - var models = _.uniq(models, true, function(model) { return model.get('githubUsername'); });
      each cla in models
        tr
          td #{cla.get('name')}
          if me.isAdmin()
            td #{cla.get('email')}
          td #{cla.get('githubUsername')}
          td #{cla.get('created')}
 
