#code-container
  textarea#codearea aaaa
#thing
  #starttime.number 0
  #slider-container
    input#slider(value="0", type="range", step="0.001")
  #endtime.number n
#control-container
  #play-container
    button#play-button Play
    button#pause-button Pause
    button#next-frame-button Next Second
    button#next-frame-button Next Event
  #speed-container
    button.clicked#1x-button 1x
    button#2x-button 2x
    button#4x-button 4x