extends /templates/base
block content
  h1 Files
    
  select#folder-select
    option(value="music") Music
    option(value="interface") Interface

  a.btn#upload-button
    i.icon-upload

  table#file-table