div.container
  h1 Files
    
  select#folder-select(v-model="directory")
    option(value="music") Music
    option(value="interface") Interface

  a.btn.btn-primary#upload-button
    span.glyphicon.glyphicon-upload(v-on:click="uploadFile")

  table.table-condensed#file-table.table
    tbody
      tr
        th Filename
      tr(v-for="file in files")
        td
          a(:href='"/file/"+file.metadata.path+"/"+file.filename', target="_blank")
            | {{file.filename}}
