extends /templates/base

block content

  h1 Latest Games

  each session in view.sessions.models
    - var url = '/play/level/'+session.get('levelID')+'?session='+session.id
    .session_tile
      a(href=url)
        if session.get('screenshot')
          img(src=session.get('screenshot'))
        else
          img(src="/images/generic-icon.png")
        .session_info
          .level_name= session.get('levelName')
          .creator_name= session.get('creatorName')
