.container
  form
    label
      | Teacher email:
      input(v-model="teacherEmail", :disabled="teacher")
    button(type="submit" @click.prevent="submitEmail")
      | Next

  div(v-if="teacher")
    div
      label
        | Teacher name:
        input(v-model:value="teacherFullName")
    div
      label
        | Account Manager Name:
        input(v-model:value="accountManagerFullName")
    div
      label
        | Account Manager Name:
        input(v-model:value="accountManager.email")
    div
      label
        | School Name:
        input(v-model:value="schoolNameAndAddress")
    div
      label
        | Start Date:
        input(v-model:value="startDate" type="date")
    div
      label
        | End Date:
        input(v-model:value="endDate" type="date")

    h2
      | Classrooms:
    div(v-for="classroom in classrooms")
      label
        //- input(type="checkbox", v-model:value="startDate")
        input(type="checkbox", v-model:value="isClassroomSelected[classroom._id]")
        {{classroom.name}}

    h2
      | Courses:
    div(v-for="course in courses")
      label
        input(type="checkbox", v-model:value="isCourseSelected[course._id]")
        {{course.name}}
    
    label
      input(type="button" @click.prevent="displayReport" value="Create report!", :disabled="!(dataReady)")
      
    //- div(v-if="allProgress")
    //-   {{allProgress}}
