extends /templates/base

block content

  h1 User List

  table.table.table-striped.table-bordered.table-condensed#users
    tbody
      each user in users
        tr
          td #{user.name}
          td #{user.email}
          td #{user.dateCreated}
