#thang-components-edit-view
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  
  .column
    position: absolute
    top: 0 
    bottom: 0
    padding: 5px
    box-sizing: border-box
    h3
      margin: 5px 0

  .treema-dependent > .treema-row 
    background-color: #FFC671

  #thang-components-column
    left: 0
    width: 300px
    
    .treema
      position: absolute
      top: 80px
      left: 0
      right: 10px
      bottom: 0
      overflow: scroll
      
      .treema-key, .treema-description
        display: none
      
      .dependent
        background-color: rgba(128, 64, 255, 0.10)
        
  #thang-components-config-column
    border-left: 1px solid black
    right: 0
    left: 300px
    min-width: 600px

    h3
      margin-left: 20px

    #thang-component-configs
      position: absolute
      top: 80px
      bottom: 0
      right: 0
      left: 20px
      overflow: scroll
      margin-bottom: 150px

      .selected-component .panel-heading
        background-color: lightblue
