.modal-dialog
  .modal-content 
    img#announcement-background(src="/images/pages/play/modal/subscribe-background-blank.png")
    h1(data-i18n="courses.classroom_announcement")

    div#close-modal
      span.glyphicon.glyphicon-remove

    div.paper-area.text-center!=view.announcement