extends /templates/base

block content

  h1.text-center Welcome to CodeCombat Courses
  
  .row
    .col-sm-6.text-center
      a(href="/courses/students").btn.btn-default Students Click Here
      
    .col-sm-6.text-center
      a(href="/courses/teachers").btn.btn-default Teachers Click Here