extends /templates/base

block content
  .pull-right
    if me.isAnonymous()
      a(href="/teachers") Teachers, click here!
    else
      a(href="/courses/teachers") Teachers, click here!
  br

  h1.text-center Adventurers, welcome to our Hour of Code!

  #main-content
    .well.text-center
      if !me.isAnonymous()
        p
          strong.spr Logged in as:
          strong= me.get('name') || me.get('email')

        p
          span.spr Not you?
          a#log-out-link Logout

        hr

      if !view.lastLevel
        p
          strong Ready to play?

        p
          button#start-new-game-btn.btn.btn-success.btn-lg Start New Game
      else

        p
          strong Hi adventurer, welcome back!
        p
          button#continue-playing-btn.btn.btn-success.btn-lg Continue Playing
        p
          em.spr
            span.spr Last Played:
            span= view.lastLevel.get('name').replace('Course :', '')

        if me.isAnonymous()
          p
            strong More options:
          p
            button#start-new-game-btn.btn.btn-default.btn-lg Start New Game

      if me.isAnonymous()
        p - OR -

        p
          button#log-in-btn.btn.btn-default.btn-lg(data-i18n="login.log_in")

  #begin-hoc-area.hide
    h2.text-center(data-i18n="common.loading")
    .progress.progress-striped.active
      .progress-bar(style="width: 100%")


  h3.text-center PLAY NOW TO LEARN
  ul
    li basic syntax to control your character
    li while loops to solve pesky puzzles
    li strings & variables to customize actions
    li how to defeat an ogre (important life skills!)
