extends /templates/core/modal-base

block modal-header-content
  h2 Invite Students to Classroom
  h3= view.classroom.get('name')

block modal-body-content
  p(data-i18n="courses.invite_students")
  h3(data-i18n="courses.invite_link_header")
  p(data-i18n="courses.invite_link_p_1")
  .alert.alert-info
    
    strong= document.location.origin + "/courses/students?_cc=" + view.classroom.get('code')
  p(data-i18n="courses.invite_link_p_2")
  .form
    .form-group
      textarea#invite-emails-textarea.form-control
      .help-block(data-i18n="courses.enter_emails")
    .form-group
      button#send-invites-btn.btn.btn-success(data-i18n="courses.send_invites")
      #invite-emails-sending-alert.alert.alert-info.hide(data-i18n="common.sending")
      #invite-emails-success-alert.alert.alert-success.hide(data-i18n="play_level.done")
