extends /templates/core/modal-base

block modal-header-content
  h2 Add Students
  h3= view.classroom.get('name')

block modal-body-content
  h3 Option 1: Invite students via email
  p Students will automatically be sent an invitation to join this class, and will
    | need to create an account with a username and password.
  .form
    .form-group
      textarea#invite-emails-textarea.form-control
      .help-block(data-i18n="courses.enter_emails")
    .form-group
      button#send-invites-btn.btn.btn-success(data-i18n="courses.send_invites")
      #invite-emails-sending-alert.alert.alert-info.hide(data-i18n="common.sending")
      #invite-emails-success-alert.alert.alert-success.hide(data-i18n="play_level.done")

  h3 Option 2: Send URL to your students
  p Students will be asked to enter an email address, username and password to create an account.
  
  .row
    .col-sm-9
      input.form-control#join-url-input(value=view.joinURL)
    .col-sm-3
      button#copy-url-btn.btn.btn-fixed.btn-default.text-uppercase Copy URL
  #copied-alert.alert.alert-info.hide Copied
  #copy-failed-alert.alert.alert-danger.hide Error copying
  
  h3 Option 3: Direct students to codecombat.com/courses
  p Give students the following passcode to enter along with an email address,
    | username and password when they create an account.
  
  .text-center
    #class-code-well.well= view.classCode
