extends /templates/core/modal-base-flat

block modal-header-content

block modal-body-content
  h3(data-i18n="courses.option1_header")
  .form
    .form-group
      p.small.help-block(data-i18n="courses.enter_emails")
      textarea#invite-emails-textarea.form-control(rows=10)
    .form-group
      .text-center
        button#send-invites-btn.btn.btn-lg.btn-primary(data-i18n="courses.send_invites")
        #invite-emails-sending-alert.alert.alert-info.hide(data-i18n="common.sending")
        #invite-emails-success-alert.alert.alert-success.hide(data-i18n="play_level.done")
  br
  p.small(data-i18n="courses.option1_body")

block modal-footer-content
