if !total
  span.small-details(data-i18n="TODO")
    | No Progress
else
  .fraction-students.small-details
    = complete
    | /
    = total
    span(data-i18n="TODO")
      | &nbsp;Students
  .percent-students.small-details
    = complete / total * 100
    | %
    span.spl(data-i18n="TODO")
      | Complete
