flat-layout
  .container.m-t-3
    p
      a(href="/students", data-i18n="courses.back_courses")
    div.m-t-2
      h2.text-center
        | {{ $t('courses.challenges') }}
      h1(v-if="classroom").text-center
        | {{ classroom.name }}
      div.assessments-list.m-t-3(v-for="chunk in levelsByCourse" v-if="chunk.assessmentLevels.length && inCourses[chunk.course._id]")
        .row
          .col-xs-5
            span.table-header
              | {{ $dbt(chunk.course, 'name') }}
          .status-column.col-xs-5
            span.table-header
              | {{ $t('courses.status') }}
        .row.level-row(v-for="level in chunk.assessmentLevels")
          .col-xs-5
            div.level-type
              span(v-if="level.assessment === 'open-ended' && level.assessmentPlacement === 'middle'")
                | {{ $t('teacher.mid_course') }}
              span(v-else-if="level.assessment === 'open-ended' && level.assessmentPlacement === 'end'")
                | {{ $t('teacher.end_course') }}
              span(v-else-if="level.primaryConcepts")
                | {{ $t('concepts.' + (level.primaryConcepts && level.primaryConcepts[0])) }}

            div.small
              strong {{$t('courses.level_name')}}
              =" "
              span {{ $dbt(level, 'name') }}
          .col-xs-5
            div.level-status
              span(v-if="sessionMap[level.original] && sessionMap[level.original].state.complete")
                span.glyphicon.glyphicon-ok-sign.success-symbol.text-forest
                =" "
                | {{ $t('teacher.success') }}
              span(v-else-if="sessionMap[level.original]")
                span.glyphicon.glyphicon-question-sign.in-progress-symbol.text-gold
                =" "
                | {{ $t('teacher.in_progress') }}
              span(v-else)
                span.glyphicon.glyphicon-question-sign.not-started-symbol.text-gray
                =" "
                | {{ $t('teacher.not_started') }}
            div.small(v-if="level.assessment === 'open-ended' && sessionMap[level.original]")
              strong {{ $t('courses.concepts_used') }}
              =" "
              span(v-for="(concept, i) in sessionMap[level.original].codeConcepts || []")
                span(v-if="i > 0")
                  =", "
                span {{ $t("concepts." + concept) }}
              span(v-if="!(sessionMap[level.original].codeConcepts && sessionMap[level.original].codeConcepts.length)")
                | {{ $t("teacher.none") }}
          .col-xs-2
            div(v-if="levelUnlockedMap[level.original] && playLevelUrlMap[level.original]")
              a.play-level-btn.btn.btn-navy-alt(v-if="sessionMap[level.original] && sessionMap[level.original].state.complete", :href="playLevelUrlMap[level.original]")
                | {{ $t('play.replay') }}
              a.play-level-btn.btn.btn-forest(v-else-if="sessionMap[level.original]", :href="playLevelUrlMap[level.original]")
                | {{ $t('courses.keep_trying') }}
              a.play-level-btn.btn.btn-navy(v-else, :href="playLevelUrlMap[level.original]")
                | {{ $t('courses.start_challenge') }}
            div(v-else)
              a.btn.btn-gray-alt(disabled)
                | {{ $t('courses.locked') }}
