extends /templates/core/modal-base

block modal-header-content
  .clearfix
    
    
block modal-body-content
  .text-center
    h2.modal-title(data-i18n="signup.sign_up")
    
  form.form
    .form-group
      label.control-label(for="email")
        span(data-i18n="general.email")
      input#email.input-large.form-control(name="email", type="email")
      .help-block use your school email if you have one
    .form-group
      label.control-label(for="name")
        span(data-i18n="general.name") Name
      if me.get('name')
        input#name.input-large.form-control(name="name", type="text", value="#{me.get('name')}")
      else
        input#name.input-large.form-control(name="name", type="text", value="", placeholder="e.g. Alex W the Skater")
      .help-block a unique name no one has chosen
    .form-group
      label.control-label(for="password")
        span(data-i18n="general.password") Password
      input#password.input-large.form-control(name="password", type="password")
      .help-block pick something you can remember
    .form-group
      label.control-label(for="class-code-input")
        span Class Code
      input#class-code-input.input-large.form-control(name="classCode", value=view.classCode)
      .help-block optional - ask your teacher to give you one!
    .form-group
      label.control-label(for="school-input")
        span(data-i18n="signup.school_name") School Name and City
      input#school-input.input-large.form-control(name="schoolName", data-i18n="[placeholder]signup.school_name_placeholder")
      .help-block optional - what school do you go to?
        
    #errors-alert.alert.alert-danger.hide

    .text-center
      if view.willPlay
        input#sign-up-btn.btn.btn-default(type="submit", value="Start Playing")
        p
          a#skip-link Skip this, I'll create an account later!
      else
        input#sign-up-btn.btn.btn-default(data-i18n="[value]signup.sign_up", type="submit")
  
block modal-footer-content