extends /templates/base

block content

  p To join a class, ask your teacher for an unlock code.
  
  .form-horizontal
    .form-group
      .col-sm-2
        button.btn.btn-default.btn-block Join Class
      .col-sm-6
        input#classroom-code.form-control(placeholder='<enter unlock code here>')
     
    .panel.panel-default
      .panel-heading
        .panel-title My Courses
        
      .panel-body.row
        .col-sm-3 Class 1
        .col-sm-3 Course 1
        .col-sm-6
          button.btn.btn-default.btn-sm Enter