extends /templates/core/modal-base

block modal-header-content
  .clearfix


block modal-body-content
  .text-center
    h2.modal-title(data-i18n="login.log_in")

  form.form
    .form-group
      label.control-label(for="email")
        span(data-i18n="general.email")
      input#email.input-large.form-control(name="email", type="email")
    .form-group
      label.control-label(for="password")
        span(data-i18n="general.password")
      input#password.input-large.form-control(name="password", type="password")

    #errors-alert.alert.alert-danger.hide

    .text-center
      input#log-in-btn.btn.btn-default(data-i18n="[value]login.log_in", type="submit")
      p
        a#create-new-account-link(data-i18n="login.signup_switch")
      p
        a(data-toggle="coco-modal", data-target="core/RecoverModal", data-i18n="login.forgot_password")

block modal-footer-content
