- var path = document.location.pathname

#teacher-dashboard-nav
  nav.navbar
    .container-fluid.container
      .navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#teacher-dashboard-nav-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        span.navbar-brand.text-h4(data-i18n="")
          | Teacher Dashboard
      #teacher-dashboard-nav-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(class= path === "/teachers/classes" ? "active" : "")
            a(href="/teachers/classes")
              small.label(data-i18n="about.mission_link")
                | My Classes
          li(class= path === "/teachers/courses" ? "active" : "")
            a(href="/teachers/courses")
              small.label(data-i18n="about.team_link")
                | Courses
          li(class= path === "/teachers/enrollments" ? "active" : "")
            a(href="/teachers/enrollments")
              small.label(data-i18n="about.community_link")
                | Enrollments
          li(class= path === "TODO" ? "active" : "")
            a(href="TODO")
              small.label(data-i18n="about.story_link")
                | Resources
          li(class= path === "TODO" ? "active" : "")
            a(href="TODO")
              small.label(data-i18n="about.jobs_link")
                | Help
