extends /templates/base-flat

block page_nav
  include ./teacher-dashboard-nav.jade

block content
  .container
    h3(data-i18n="TODO")
      | Current Classes
  
  .classes.container
    // Loop each class
    each classroom in view.classrooms.models
      unless classroom.get('archived')
        +classRow(classroom)
  
  .container
    h3(data-i18n="TODO")
      | Archived Classes
    h4(data-i18n="TODO")
      | Classes can be archived for future reference. Unarchive a class to view it in the Current Classes list again.

  .classes.container
    each classroom in view.classrooms.models
      if classroom.get('archived')
        +archivedClassRow(classroom)
      
mixin classRow(classroom)
  .class.row
    .col-xs-6
      .text-h2.semibold
        = classroom.get('name')
      .language.small
        span(data-i18n="TODO")
          | Language:
        &nbsp;
        span.language-name
          = classroom.capitalLanguage
      .student-count.small
        span(data-i18n="TODO")
          | Students:
        &nbsp;
        span
          = classroom.get('members').length
      .class-links
        a.text-h6(data-i18n="TODO" href=("/teachers/classes/" + classroom.id))
          | view class
        a.edit-classroom.text-h6(data-i18n="TODO" data-classroom-id=classroom.id)
          | edit class settings
        a.archive-classroom.text-h6(data-i18n="TODO" data-classroom-id=classroom.id)
          | archive class
        if classroom.get('archived')
          span
            | (archived)
    .col-xs-6
      each course, index in view.courses.models
        +progressDot(classroom, course, index)

mixin progressDot(classroom, course, index)
  //- TODO: Give classes abbreviations instead of using index?
  //- TODO: inefficient. Cache this in the view?
  - courseInstance = view.courseInstances.getByCourseAndClassroom(course, classroom)
  if !courseInstance
    .progress-dot
  else
    - console.log(courseInstance.numCompleted)
    if courseInstance.numCompleted > 0
      .progress-dot.forest
        +progressDotLabel(index)
    else
      .progress-dot.gold
        +progressDotLabel(index)

mixin progressDotLabel(index)
  .dot-label
    .text-h6
      | CS
      span
        = index + 1
        
mixin archivedClassRow(classroom)
  .class.row
    span
      = classroom.get('name')
    .class-links
      a.unarchive-classroom.text-h6(data-i18n="TODO" data-classroom-id=classroom.id)
        | unarchive class
