extends /templates/base-flat

block page_nav
  include ./teacher-dashboard-nav.jade

block content
  .container
    h3(data-i18n="TODO")
      | Current Classes
  
  .classes.container
    // Loop each class
    each classroom in view.classrooms.models
      +classRow(classroom)
      
mixin classRow(classroom)
  - console.log(classroom)
  .class.row
    .col-xs-6
      .text-h2.semibold
        = classroom.get('name')
      .language.small
        span(data-i18n="TODO")
          | Language:
        &nbsp;
        span.language-name
          = classroom.capitalLanguage
      .student-count.small
        span(data-i18n="TODO")
          | Students:
        &nbsp;
        span
          = classroom.get('members').length
      a(data-i18n="TODO")
        | view class
      a.edit-classroom(data-i18n="TODO" data-classroom-id=classroom.id)
        | edit class settings
      a(data-i18n="TODO")
        | archive class
    .col-xs-6
      +progressDot()
      +progressDot()
      +progressDot()

mixin progressDot()
  .progress-dot.forest
