@import "app/styles/bootstrap/variables"
@import "app/styles/mixins"

#game-menu-modal
  
  .game-menu-tab-content
    position: absolute
    left: 85px
    top: 190px
    background: #ffffff
    border-radius: 8px
    width: 478px
    height: 500px
    margin-top: 15px
    padding: 35px
    overflow-y: scroll

  ::-webkit-scrollbar
    // So that the scrollbar doesn't go on top of the close button.
    // Wish we could easily do this for Firefox.
    display: none

