div#tabs
  button#color-group-btn(disabled=view.tab == "COLORGROUPTAB") Color Group Assignment
  button#tint-assignment-btnTint(disabled=view.tab == "TINTTAB") Tint Assignment

div#color-tabs
  div#color-groups-treema
  div#color-tint-treema

div#color-group-settings.secret
  div#shape-buttons
  div#saved-color-tabs

  canvas#tinting-display(width=400, height=400)

  div#controls
    div.slider-cell
      | Hue:
      span.hue-label
      .selector#hue-slider
  
    div.slider-cell
      | Saturation:
      span.saturation-label
      .selector#saturation-slider
  
    div.slider-cell
      | Lightness:
      span.lightness-label
      .selector#lightness-slider

  div#color-calculator
