extends /templates/core/modal-base

block modal-header-content
  h3(data-i18n="#{view.newModelTitle}") Create New #{view.modelLabel}

block modal-body-content
  form.form
    .form-group
      label.control-label(for="name", data-i18n="general.name") Name
      input#name.form-control(name="name", type="text")

block modal-footer
  .modal-footer
    button.btn(data-dismiss="modal", data-i18n="common.cancel") Cancel
    button.btn.btn-primary.new-model-submit(data-i18n="common.create") Create
  .modal-body.wait.secret
    h3(data-i18n="play_level.tip_reticulating") Reticulating Splines...
    .progress.progress-striped.active
      .progress-bar
