extends /templates/core/modal-base

block modal-header-content
  if view.isPatch
    h3(data-i18n="common.submit_patch") Submit Patch
  else
    h3(data-i18n="versions.save_version_title") Save New Version

block modal-body-content
  if view.hasChanges
    .changes-stub
    form.form-inline
      .form-group.commit-message
        input.form-control#commit-message(name="commitMessage", type="text")
      if !view.isPatch && !view.options.noNewMajorVersions
        // We don't use the major version feature, and it might be buggy, so hide for now.
        .checkbox.hide
          label
            input#major-version(name="version-is-major", type="checkbox", disabled=true)
            span(data-i18n="versions.new_major_version") New Major Version
  else
    .alert.alert-danger(data-i18n="delta.no_changes") No changes

block modal-body-wait-content
  if view.hasChanges
    if view.isPatch
      h3(data-i18n="versions.submitting_patch") Submitting Patch...
    else
      h3(data-i18n="common.saving") Saving...

block modal-footer-content
  if view.hasChanges
    #accept-cla-wrapper.alert.alert-info
      span.spr(data-i18n="versions.cla_prefix") To save changes, first you must agree to our
      strong#cla-link(data-i18n="versions.cla_url") CLA
      span(data-i18n="versions.cla_suffix") .
      button.btn.btn-sm#agreement-button(data-i18n="versions.cla_agree") I AGREE
    if view.isPatch
      .alert.alert-info(data-i18n="versions.owner_approve") An owner will need to approve it before your changes will become visible.
    .save-error-area
      if view.savingPatchError
        .alert.alert-danger Unable to save patch: #{view.savingPatchError}

  .buttons
    button.btn(data-dismiss="modal", data-i18n="common.cancel") Cancel
    if view.hasChanges && !view.isPatch
      button.btn.btn-primary#save-version-button(data-i18n="common.save") Save
    if view.hasChanges && view.isPatch
      button.btn.btn-primary#submit-patch-button(data-i18n="common.submit_patch") Submit Patch
