$height: 550px

#editor-thang-colors-tab-view
  #color-group-settings
    width: 75%
    box-sizing: border-box
    float: right

  #color-groups-treema, #color-tint-treema
    float: left
    width: 25%
    height: $height
    box-sizing: border-box
    margin-bottom: 20px
      
  #shape-buttons, #saved-color-tabs
    border: 1px solid saddlebrown
    margin: 0 20px 0 10px
    width: 30%
    float: left
    height: $height
    overflow: scroll
    background: sandybrown
    padding: 5px
    box-sizing: border-box
    
    & > button:not(.save-btn)
      width: 36px
      height: 36px
      margin: 7px
      padding: 0
      
      border: 7px solid white
      
      &.selected
        width: 48px
        height: 48px
        margin: 1px
        border: 2px solid black
        
  #controls
    //clear: both
    float: left
    width: 60%
    text-align: center
    background-color: aliceblue
    border: 1px solid blue
    
    .slider-cell
      margin: 20px 10px
      border-color: black
    
  canvas
    width: 60%
    background: steelblue
    border: 1px solid darkblue
