#thang-type-edit-view
  #portrait
    float: left
    margin: 5px
    width: 100px
    height: 100px
  
  #settings-col
    width: 560px
    position: absolute
    left: 0
    top: 0
    bottom: 0

    .file-controls
      float: left
      position: relative
      top: 5px
      left: 5px
      button
        margin-left: 5px
    input[type="file"]
      display: none

    #thang-type-file-size
      width: 350px
      float: left
      margin: 20px 10px
    
    .treema-row img
      max-width: 100%
    
    .treema-root
      overflow: scroll
      box-sizing: border-box
      position: absolute
      top: 160px
      bottom: 20px
      right: 20px
      left: 20px
      
  #display-col
    position: absolute
    width: 440px
    left: 580px
    top: 0
    bottom: 0
    overflow: hidden

    & > div.slider-cell
      margin-right: 5px

    canvas
      width: 400px
      border: 1px solid blue
      background-color: lightgray

    select
      margin-top: 10px

    #marker-button, #play-button, #stop-button
      margin: 10px 10px 10px 0
  
    .slider-cell
      margin: 5px 0
      width: 195px
      float: left
  
      .selector
        display: inline-block
        width: 180px
        position: relative
        top: 3px


  #thang-components-edit-view
    position: absolute
    top: 0px
    bottom: 0
    
    .treema-root
      background-color: white
      border-radius: 4px

  .play-with-level-input
    margin: 5px
  

#spritesheets
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  border: 1px solid green
  overflow: scroll
  canvas
    background: darkseagreen

