if view.showAds() 
  // TODO: loading this multiple times yields script error:
  // Uncaught TagError: adsbygoogle.push() error: All ins elements in the DOM with class=adsbygoogle already have ads in them.
  .ad-container
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    ins.adsbygoogle(style="display:inline-block;width:728px;height:90px", data-ad-client="ca-pub-6640930638193614", data-ad-slot="5527096883")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

.game-container
  #level-loading-view

  .level-content
    #control-bar-view

    #fullscreen-editor-background-screen(title="Click to minimize the code editor")

    #code-area
      #code-area-gradient.gradient
      #tome-view

    #game-area

      #canvas-wrapper
        canvas(width=924, height=589)#webgl-surface
        canvas(width=924, height=589)#normal-surface
        #ascii-surface
        #canvas-left-gradient.gradient
        #canvas-top-gradient.gradient
        #goals-view

      #level-flags-view

      #gold-view

      #problem-alert-view

      #level-chat-view

      #multiplayer-status-view

      #duel-stats-view

      #playback-view

      #thang-hud

      #level-dialogue-view

    button.btn.btn-lg.btn-warning.banner.header-font#stop-real-time-playback-button(title="Stop real-time playback", data-i18n="play_level.skip") Skip

    .hints-view.hide

  #level-footer-shadow
  #level-footer-background

  if !me.get('anonymous')
    #play-footer(class=me.isPremium() ? "premium" : "")
      p(class='footer-link-text').picoctf-hide
        a.contact-link(title='Send CodeCombat a message', tabindex=-1, data-i18n="nav.contact") Contact

