#level-loading-view

.level-content
  #control-bar-view
  #canvas-wrapper
    canvas(width=924, height=589)#webgl-surface
    canvas(width=924, height=589)#normal-surface
    #canvas-left-gradient.gradient
    #canvas-top-gradient.gradient
  #gold-view.secret.expanded
  #level-chat-view
  #duel-stats-view
  #playback-view
  #thang-hud
