#editor-ai-document-edit-view
  .treema-root
    margin-bottom: 20px

  .ai-document-tool-button
    float: right
    margin-bottom: 15px
    margin-left: 10px

  textarea
    width: 92%
    height: 300px


