extends /templates/base

block content

  div.contribute_class

    .class_detail

      img(src="/images/pages/contribute/class_detail_adventurer.png", alt="")

    div.class-main#adventurer-main

      h2
        span(data-i18n="classes.adventurer_title") Adventurer
        span  
        span(data-i18n="classes.adventurer_title_description") (Level Playtester)
      p(data-i18n="contribute.adventurer_introduction")
        | Let's be clear about your role: you are the tank. You're going to take heavy damage.
        | We need people to try out brand-new levels and help identify how to make things better.
        | The pain will be enormous; making good games is a long process and no one gets
        | it right the first time.
        | If you can endure and have a high constitution score, then this class might be for you.
      
      h4(data-i18n="contribute.class_attributes") Class Attributes
      ul
        li(data-i18n="contribute.adventurer_attribute_1")
          | A thirst for learning. You want to learn how to code and we want to teach you how to code.
          | You'll probably be doing most of the teaching in this case, though.
        li(data-i18n="contribute.adventurer_attribute_2")
          | Charismatic. Be gentle but articulate about what needs improving, and offer suggestions
          | on how to improve.
    
      h4(data-i18n="contribute.how_to_join") How To Join
      p
        span(data-i18n="contribute.adventurer_join_pref")
          | Either get together with (or recruit!) an Artisan and work with them, or
          | check the box below to receive emails when there are new levels to test.
          | We'll also be posting about levels to review on our networks like
        span  
        a(href="http://discourse.codecombat.com/category/adventurer", data-i18n="contribute.adventurer_forum_url")
          | our forum
        span , 
        a(href="https://www.facebook.com/codecombat")
          | Facebook
        span , 
        a(href="https://twitter.com/CodeCombat")
          | Twitter
        span , and 
        a(href="https://plus.google.com/115285980638641924488/posts")
          | Google+
        span , 
        span(data-i18n="contribute.adventurer_join_suf")
          | so if you prefer to be notified those ways, sign up there!

      .contributor-signup-anonymous
      .contributor-signup(data-contributor-class-id="tester", data-contributor-class-name="adventurer")

      //h3(data-i18n="contribute.brave_adventurers")
      //  | Our Brave Adventurers:
      //
      //#contributor-list

    div.clearfix
