label.checkbox(for=contributorClassName).well
  input(type='checkbox', name=contributorClassName, id=contributorClassName)
  span(data-i18n="contribute.#{contributorClassName}_subscribe_desc")
  .saved-notification
    span.spr ✓
    span(data-i18n="save_load.granularity_saved_games") Saved
