if me.attributes.anonymous
  div#sign-up.alert.alert-info
    strong(data-i18n="contribute.alert_account_message_intro")
      | Hey there!
    span  
    span(data-i18n="contribute.alert_account_message") 
      | To subscribe for class emails, you'll need to be logged in first.

    strong.spl
      a.signup-button
        span(data-i18n="login.log_in") Log In
        span.spr.spl /
        span(data-i18n="login.sign_up") Create Account