label.checkbox(for=contributorClassName).well
  input(type='checkbox', name=contributorClassName, id=contributorClassName)
  span(data-i18n="contribute.#{contributorClassName}_subscribe_desc")
  .saved-notification  ✓ Saved

