ul.contribute_class.affix.nav.nav-list.nav-pills#contribute-nav
      li
        h3 Character Classes
      li
        a(href="#archmage") Archmage (Coder)
      li
        a(href="#artisan") Artisan (Level Builder)
      li
        a(href="#adventurer") Adventurer (Level Playtester)
      li
        a(href="#scribe") Scribe (Article Editor)
      li 
        a(href="#diplomat") Diplomat (Translator)
      li
        a(href="#ambassador") Ambassador (Support)
      li
        a(href="#counselor") Counselor (Expert/Teacher)