extends /templates/base

block content

  h2 Contributing
  p CodeCombat is 100% open source and hundreds of dedicated players have helped us build the games
    | into what it is today. Join us and write the next chapter in CodeCombat's quest to teach the 
    | world to code!

  a(href="/contribute/archmage")
    div.class_tile
      img(src="/images/pages/contribute/tile_archmage.png", alt="")

      div.class_text
        h3 Archmage

        p(data-i18n="contribute.short_archmage")
          | If you are a developer interested in coding educational games, become an archmage
          | to help us build CodeCombat!

  a(href="/contribute/artisan")
    div.class_tile
      img.tile-img(src="/images/pages/contribute/tile_artisan.png", alt="")

      div.class_text
        h3 Artisan

        p(data-i18n="contribute.short_artisan")
          | Build and share levels for you and your friends to play. Become an Artisan to learn
          | the art of teaching others to program.

  a(href="/contribute/adventurer")
    div.class_tile
      img.tile-img(src="/images/pages/contribute/tile_adventurer.png", alt="")

      div.class_text
        h3 Adventurer

        p(data-i18n="contribute.short_adventurer")
          | Get our new levels (even our subscriber content) for free one week early and help us
          | work out bugs before our public release.

  a(href="/contribute/scribe")
    div.class_tile
      img.tile-img(src="/images/pages/contribute/tile_scribe.png", alt="")

      div.class_text
        h3 Scribe

        p(data-i18n="contribute.short_scribe")
          | Good code needs good documentation. Write,
          | edit, and improve the docs read by millions of players across the globe.


  a(href="/contribute/diplomat")

    div.class_tile
      img.tile-img(src="/images/pages/contribute/tile_diplomat.png", alt="")

      div.class_text
        h3 Diplomat

        p(data-i18n="contribute.short_diplomat")
          | CodeCombat is localized in 39 languages by our Diplomats. Help them
          | out and contribute translations.

  a(href="/contribute/ambassador")
    div.class_tile
      img.tile-img(src="/images/pages/contribute/tile_ambassador.png", alt="")

      div.class_text
        h3 Ambassador

        p(data-i18n="contribute.short_ambassador")
          | Tame our forum users and provide direction for those with questions. Our ambassadors
          | represent CodeCombat to the world.

  div.clearfix