label.checkbox(for=contributorClassID).well
  input(type='checkbox', name=contributorClassID, id=contributorClassID)
  span(data-i18n="contribute.#{contributorClassName}_subscribe_desc")
  .saved-notification  ✓ Saved

