extends /templates/base

block content

  div.contribute_class

    include /templates/contribute/contribute_nav

    div.class-main#sounselor-main
      
      .class_image
          img.img-responsive(src="/images/pages/contribute/counselor.png", alt="")

      h2
        span(data-i18n="classes.counselor_title") Counselor
        span  
        span(data-i18n="classes.counselor_title_description") (Expert/Teacher)
      p(data-i18n="contribute.counselor_introduction_1")
        | Do you have life experience?
        | A different perspective on things that can help us decide how to shape CodeCombat?
        | Of all these roles, this will probably take the least time, but
        | individually you may make the most difference.
        | We're on the lookout for wisened sages, particularly in areas like: teaching,
        | game development, open source project management, technical recruiting, entrepreneurship,
        | or design.
      
      p(data-i18n="contribute.counselor_introduction_2")
        | Or really anything that is relevant to the development of CodeCombat.
        | If you have knowledge and want to share it to help grow this project, then
        | this class might be for you.
  
      h4(data-i18n="contribute.class_attributes") Class Attributes
      ul
        li(data-i18n="contribute.counselor_attribute_1")
          | Experience, in any of the areas above or something you think might be helpful.
        li(data-i18n="contribute.counselor_attribute_2")
          | A little bit of free time!
  
      h4(data-i18n="contribute.how_to_join") How to Join 
      p 
        a(title='Contact', tabindex=-1, data-toggle="coco-modal", data-target="modal/contact", data-i18n="contact_us_url")
          | Contact us
        span , 
        span(data-i18n="contribute.counselor_join_desc")
          | tell us a little about yourself, what you've done and what you'd
          | be interested in doing. We'll put you in our contact list and be in touch
          | when we could use advice (not too often).

    div.clearfix