h3(data-i18n="play_level.reload_title") Reload All Code?
  
p(data-i18n="play_level.reload_really") Are you sure you want to reload this level back to the beginning?

p
  a(href='#', data-dismiss="modal", aria-hidden="true", data-i18n="play_level.reload_confirm").btn.btn-primary#restart-level-confirm-button Reload All
  
if showDevBits
  img(src="/images/pages/game-menu/choose-hero-stub.png")
  
  div(data-i18n="choose_hero.temp") Temp
  
  h3 Interactions
  ul
    li Click a language button. Click ‘save as default language’ if you want to carry it over to following levels.
    li Click a hero. Right here it’s just a simple list on the left with a picture of the hero on the right. Might instead have a carousel on the left and stats on the right. Basically this needs more thought because it’s starting to look like the inventory screen, but this is more for later. Might also have the wizard coloring used here for heroes.
    li Click equip and it puts in basically the inventory screen view to choose which items to start the level with.
    li Click begin. A new LevelSession is created. LevelLoader is given the new/updated LevelSession, new data is loaded, world reruns.
