extends /templates/modal/modal_base

block modal-header

block modal-body-content
  .button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
  .tabbable.tabs-left
    - var submenus = ["inventory", "choose-hero", "save-load", "options", "guide", "multiplayer"]
    - if (!showsGuide) {
    -   submenus.splice(4, 1);
    - }
    - if (!showDevBits) {  // Not done yet.
    -   submenus.splice(2, 1);
    - }
    - if (!showInventory)
    -   submenus.splice(0, 1);
    ul.nav.nav-tabs#game-menu-nav
      for submenu, index in submenus
        li(class=submenu === showTab || index === 0 && !showTab ? "active" : "")
          a(href='#' + submenu + '-view', data-toggle='tab')
            h2(data-i18n='game_menu.' + submenu.replace('-', '_') + '_tab')
            em(data-i18n='game_menu.' + submenu.replace('-', '_') + '_caption')
      if me.get('anonymous')
        li.auth-tab(data-toggle='coco-modal', data-target="modal/AuthModal")
          a(data-toggle='coco-modal', data-target="modal/AuthModal")
            h2(data-i18n='game_menu.auth_tab')
            em(data-i18n='game_menu.auth_caption')
    .tab-content
      for submenu, index in submenus
        .tab-pane(id=submenu + '-view')
  .clearfix

block modal-footer
  button.btn.btn-primary.btn-lg.overlaid-close-button(type="button", data-dismiss="modal", aria-hidden="true", data-i18n="modal.close") Close
