extends /templates/modal/modal_base

block modal-header

block modal-body-content
  .tabbable.tabs-left
    - var submenus = ["inventory", "choose-hero", "save-load", "options", "guide", "multiplayer"]
    - if (!showDevBits) {  // Not done yet.
    -   submenus.splice(4, 1);
    -   submenus.splice(2, 1);
    -   submenus.splice(0, 1);
    - }
    ul.nav.nav-tabs
      for submenu, index in submenus
        li(class=index ? "" : "active")
          a(href='#' + submenu + '-view', data-toggle='tab')
            h2(data-i18n='game_menu.' + submenu.replace('-', '_') + '_tab')
            em(data-i18n='game_menu.' + submenu.replace('-', '_') + '_caption')
    .tab-content
      for submenu, index in submenus
        .tab-pane(id=submenu + '-view')
          h3= submenu + submenu + submenu
          p
            | Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
            | Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
  .clearfix

block modal-footer