img(src="/images/pages/game-menu/inventory-stub.png")

div(data-i18n="inventory.temp") Temp

h3 Interactions
ul
  li Click an item slot. It is highlighted and items that can go in that slot show up on the right with short descriptions. Full info about it shows up on the lower left.
  li Click an item on the menu. It shows up on the lower right.
  li To equip an item: drag (if ipad), double click (if web), click swap button (either)
  li Click an item on the menu. It swaps the item into the slot.
  li If the equipment changed and the player clicks done, a new LevelSession is created with this new equipment. If “use current code” is selected, the code for the current session is copied over to the new session. Modal closes, data is loaded, world runs, etc.
