img(src=item.getPortraitURL()).img-thumbnail
div.item-info
  if includes.name
    strong= item.get('name')
  if includes.stats
    - var stats = item.getFrontFacingStats()
    ul
      for stat in stats
        li #{stat.name}: #{stat.value}
.clearfix

 