if !ladderGame
  .form
    .form-group.checkbox
      label(for="multiplayer")
        input#multiplayer(name="multiplayer", type="checkbox", checked=multiplayer)
        span(data-i18n="multiplayer.multiplayer_toggle") Enable multiplayer
      span.help-block(data-i18n="multiplayer.multiplayer_toggle_description") Allow others to join your game.
    
  hr

  div#link-area
    p(data-i18n="multiplayer.multiplayer_link_description") Give this link to anyone to have them join you.
    
    textarea.well#multiplayer-join-link(readonly=true)= joinLink
    
    p
      strong(data-i18n="multiplayer.multiplayer_hint_label") Hint:
      span(data-i18n="multiplayer.multiplayer_hint")  Click the link to select all, then press ⌘-C or Ctrl-C to copy the link.
  
    p(data-i18n="multiplayer.multiplayer_coming_soon") More multiplayer features to come!

if ladderGame
  if me.get('anonymous')
    p(data-i18n="multiplayer.multiplayer_sign_in_leaderboard") Sign in or create an account and get your solution on the leaderboard.
  else if readyToRank
    .ladder-submission-view
  else
    a.btn.btn-primary(href="/play/ladder/#{levelSlug}#my-matches", data-i18n="multiplayer.victory_go_ladder") Return to Ladder
