h3 Stuff to put in there maybe
ul
  li Show/Hide Grid (may destroy the grid)
  li Show/Hide FPS (may keep admin-only)
  li Player Name
  li Player Avatar (currently just in settings, but it would be interesting to feature it in more places so that they’d actually start using it and increasing how much we can rely on it in social/multiplayer–and wherever it’s featured that’s not a tiny icon, we could let them change it)
  li Default programming language
  li Editor key bindings (default ACE, Emacs, Vim)
  li Live autocompletion
  li Show invisibles (visualize spaces/tabs)
  li Show indent guides (displays vertical lines to see indentation better)
  li Smart behaviors (autocompleting braces, brackets, and quotes)
  li Music on/off
  li Volume (assuming we’re also keeping volume next to play button in playback bar)
  li Autocast Delay
