body
  #fb-root
  #employers-wrapper
    block header
      .nav
        .content.clearfix
          .navbar-header
            a.navbar-brand(href='/')
              img(src="/images/pages/base/recruitment_logo.png", title="CodeCombat - Learn how to code by playing a game", alt="CodeCombat")
    block outer_content
      #outer-content-wrapper
        
        #intermediate-content-wrapper
          
          #inner-content-wrapper
            .main-content-area#employer-content-area
              block content
                p If this is showing, you dun goofed
  
    block footer
      .footer