#editor-poll-edit-view
  .treema-root
    margin: 28px 0px 20px

  .poll-tool-button
    float: right
    margin-top: 15px
    margin-left: 10px

  textarea
    width: 92%
    height: 300px

  #poll-view
    min-height: 200px
    position: relative
    z-index: 0
