#thang-components-column.column
  h3(data-i18n="editor.level_tab_components") Components
  button.btn#add-components-button(data-i18n="editor.add_components") Add Components
  .treema

.column#thang-components-config-column
  h3(data-i18n="editor.component_configs") Component Configurations
  #thang-component-configs
