#docs-modal .modal-dialog, #settings-treema .treema-markdown
  width: 800px
  
  .tab-content
    padding-top: 20px

  li:not(.active) a[data-toggle="tab"]
    cursor: pointer

  img
    display: block
    margin: 0 auto
    
  img + em
    display: block
    margin: 0 auto
    text-align: center

  hr
    border-color: #5c5c5c
    width: 80%
    
  table
    width: 80%
    margin: 20px 10%