#docs-modal .modal-dialog
  width: 800px
  
  .tab-content
    padding-top: 20px

  li:not(.active) a[data-toggle="tab"]
    cursor: pointer

  img
    display: block
    margin: 0 auto
    
  em
    display: block
    margin: 0 auto
    text-align: center

  hr
    border-color: #5c5c5c
    width: 80%