#level-editor-config-modal
  .select-group
    display: block
    min-height: 20px
    margin-top: 10px
    margin-bottom: 10px
    padding-left: 20px
    vertical-align: middle

    label
      font-weight: normal
      margin-right: 20px