#progress-view
  h1, h2, h3
    margin-top: 0
    color: black
    margin-bottom: 5px
    
  p
    margin-top: 30px
    
  .course-title
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
