#level-victory-modal
  p.sign-up-poke
    text-align: left
    margin-bottom: 10px

  .sign-up-button
    margin-left: 20px

  .next-level-button
    margin-bottom: 10px
    margin-right: 30px
    float: right
    
  .rating
    float: center
    margin-right: 22%
    span
      margin-right: 5px
    i
      cursor: pointer
      padding: 2px
      
  .review
    margin-top: 5px
    width: 100%
    box-sizing: border-box
    float: left
    clear: both
    text-align: left
    textarea
      width: 100%
      height: 80px
      box-sizing: border-box
    
  .share-buttons
    clear: both

  .modal-header
    text-align: left

  .victory-banner
    width: 450px
    position: absolute
    left: -150px

  .modal-dialog
    margin-left: 30%
    padding-left: 300px
    width: 700px

  .modal-footer
    margin: 0px
    padding: 0px
