@import "app/styles/style-flat-variables"

#minigame-content

  min-height: 100vh

  .left-column
    width: 900px

  .right-column
    position: absolute
    left: 900px
    top: 0px
    width: 400px
    padding: 10px
    margin-top: 60px
    text-align: left


  div.intro

    h2
      font-weight: bold

    .help
      background-color: red
      color: white
      // border: 2px solid white
      padding: 2px 10px
      border-radius: 10px
      position: absolute
      // box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75)

    #intro-if
      top: 75px
      right: 120px
    #intro-else
      top: 280px
      right: 120px
    #intro-conditional
      top: 20px
      left: 120px
    #intro-properties
      top: 220px
      left: 5px

  div.game-progress
    padding-left: 100px
    padding-bottom: 10px
    div
      margin-left: 20px
      text-align: center
      display: inline-block
      width: 40px
    img
      height: 40px
      width: 40px

  div.path
    position: relative
    background-color: #aaffaa
    height: 400px
    width: 900px
    background-image: url("/images/pages/minigames/conditionals/forked-path.png")
    background-size: 110% 100%
    background-position: top 2px left -91px

    .pet
      position: absolute;

    .if-conditional
      font-size: 150%
      position: absolute
      left: 350px
      top: 20px

    .else-conditional
      font-size: 150%
      position: absolute
      left: 350px
      top: 200px


    .choice
      position: absolute
      right: 10px

      button
        width: 100px
        height: 100px
        font-size: 40px
        box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75)
        border: 2px solid black
        // border-radius: 10px

      &.if-path
        top: 15px
      &.else-path
        top: 219px

      img.answer-image
        height: 100px

    div.properties
      position: absolute
      bottom: 10px
      left: 10px

      ul
        background-color: white
        border-radius: 2px
        padding-left: 10px
      li
        list-style-type: none

  .score
    width: 900px
    text-align: center

    button
      margin-left: 10px


