@import "variables";

.podcast-btn-yellow {
  background-color: $yellow-dark;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1.2rem 7rem;
  color: black;
  font-size: 1.8rem;
}

.podcast-loading {
  text-align: center;
  font-size: 3rem;
  color: #00008b;
}
