#login-modal, #signup-modal
  .network-logins div
    float: left
    margin-right: 20px
    
  .wait
    margin-bottom: 20px
    h3
      text-align: center

  a[data-toggle="coco-modal"]
    cursor: pointer
