#wizard-settings-modal
  color: black
  
  #wizard-settings-view #color-settings
    width: 480px
    
  canvas
    margin: 0px auto 20px
    display: block
    float: none
    background: white
    
  .wizard-name-line
    text-align: center
    margin-bottom: 10px
    label
      margin-right: 10px