div.text-center
  div.alert.alert-info(style="display: inline-block")
    span(style="padding-right: 20px" data-i18n="teacher.remember_new_courses") 
    a.btn.btn-primary.pull-right.more-info(data-i18n="teacher.more_info")