extends /templates/core/modal-base-flat.jade

block modal-header-content
  .text-center
    h3(data-i18n='teacher.how_to_apply_licenses')

block modal-body-content

  p(data-i18n='teacher.how_to_apply_licenses_blurb_1')
  img.m-y-3(src="/images/pages/courses/how_to_apply_licenses.png")
  h5(data-i18n='teacher.how_to_apply_licenses_blurb_2')
  p(data-i18n='teacher.how_to_apply_licenses_blurb_3')
