extends /templates/core/modal-base-flat

block modal-header-content
  .text-center
    h3(data-i18n='teacher.how_to_enroll')

block modal-body

  ol
    li.m-t-1(data-i18n='teacher.how_to_enroll_blurb_1')
    li.m-t-2(data-i18n='teacher.how_to_enroll_blurb_2')
    li.m-t-2(data-i18n='teacher.how_to_enroll_blurb_3')
