extends /templates/base-flat

block page_nav
  include ../courses/teacher-dashboard-nav.jade

block content

  .container
    span.backlink
      a(href='/teachers/resources')
        |< Back to Resource Hub
    if view.content == ''
      .comingsoon
        h4(style="text-align:center")
          i This guide doesn't exist!
    else
      .print
          a(href='javascript:window.print()')
            span.glyphicon.glyphicon-print &#160;
            |Print this guide
      div(class='lesson-plans' id=view.name)!=view.content
