extends /templates/base-flat

block page_nav
  include ../courses/teacher-dashboard-nav.jade

block content
  .container

    .content
      if me.attributes.hourOfCode && me.isAnonymous()
        #hour-of-code
          h3
            span(data-i18n="teacher.hoc_welcome")
            | !
          p
            span(data-i18n="teacher.hoc_intro")
            | :
          ol.small
            li
              strong.spr(data-i18n="teacher.hoc_self_led")
              | -
              span.spl.spr(data-i18n="teacher.hoc_self_led_desc")
              | -
              a(href="/play/game-dev-hoc?hour_of_code=true")
                span(data-i18n="teacher.hoc_game_dev")
              span.spl.spr(data-i18n="teacher.hoc_and")
              a(href="/play?hour_of_code=true")
                span(data-i18n="teacher.hoc_programming")
              | .
            li
              strong.spr(data-i18n="teacher.hoc_teacher_led")
              | -
              span.spr(data-i18n="teacher.hoc_teacher_led_desc1")
              a(href="/teachers/resources/cs1")
                span(data-i18n="teacher.hoc_teacher_led_link")
              span.spl(data-i18n="teacher.hoc_teacher_led_desc2")
              | .
            li
              strong.spr(data-i18n="teacher.hoc_group")
              | -
              span.spr(data-i18n="teacher.hoc_group_desc_1")
              a(href="/teachers/resources/getting-started")
                span(data-i18n="teacher.hoc_group_link")
              span.spl(data-i18n="teacher.hoc_group_desc_2")
              | .
          p.small
            span.spr(data-i18n="teacher.hoc_additional_desc1")
            a(href="/teachers/resources/")
              span(data-i18n="teacher.resource_hub")
            span .
            span(data-i18n="teacher.hoc_additional_desc2")
            span.spr ?
            a(href="mailto:schools@codecombat.com")
              span(data-i18n="teacher.hoc_additional_contact")
            | .

      h1(data-i18n="teacher.resource_hub")

      h4(data-i18n="teacher.getting_started")
      ul
        li
          a(href="/teachers/resources/faq")
            span(data-i18n="teacher.educator_faq")
          p(data-i18n="teacher.educator_faq_desc")
        li
          a(href="/teachers/resources/getting-started")
            span(data-i18n="teacher.teacher_getting_started")
          p(data-i18n="teacher.teacher_getting_started_desc")
        li
          a(href="http://files.codecombat.com/docs/resources/StudentQuickStartGuide.pdf")
            span(data-i18n="teacher.student_getting_started")
            span.spl [PDF]
          p(data-i18n="teacher.student_getting_started_desc")
        li
          a(href="http://files.codecombat.com/docs/resources/ProgressJournal.pdf")
            span(data-i18n="teacher.progress_journal")
            span.spl [PDF]
          p(data-i18n="teacher.progress_journal_desc")
        li
          a(href="#apcsp_section")
            span AP Computer Science Principles
          p AP Computer Science Principles gives students a broad introduction to the power, impact, and possibilities of Computer Science. The course emphasizes computational thinking and problem solving while also teaching the basics of programming.

      h4(data-i18n="teacher.cs1")
      ul
        li
          a(href="/teachers/resources/cs1")
            span(data-i18n="teacher.cs1_curriculum")
          p(data-i18n="teacher.cs1_curriculum_desc")
        li
          a(href="http://files.codecombat.com/docs/resources/Course1PythonSyntaxGuide.pdf")
            span(data-i18n="teacher.cs1_syntax_python")
            span.spl [PDF]
          p(data-i18n="teacher.cs1_syntax_python_desc")
        li
          a(href="http://files.codecombat.com/docs/resources/Course1JavaScriptSyntaxGuide.pdf")
            span(data-i18n="teacher.cs1_syntax_javascript")
            span.spl [PDF]
          p(data-i18n="teacher.cs1_syntax_javascript_desc")
        li
          a(href="/teachers/resources/arenas")
            span(data-i18n="teacher.arenas_curriculum")
          p(data-i18n="teacher.arenas_curriculum_desc")
        li
          a(href="http://files.codecombat.com/docs/resources/EngineeringCycleWorksheet.pdf")
            span(data-i18n="teacher.engineering_cycle_worksheet")
            span.spl [PDF]
          a(href="http://files.codecombat.com/docs/resources/WorksheetExample.pdf")
            i.span.spl(data-i18n="teacher.engineering_cycle_worksheet_link")
          p(data-i18n="teacher.engineering_cycle_worksheet_desc")
        li
          a(href="/teachers/resources/pair-programming")
            span(data-i18n="teacher.cs1_pairprogramming")
          p(data-i18n="teacher.cs1_pairprogramming_desc")

      h4(data-i18n="teacher.gd1")
      ul
        li
          a(href="/teachers/resources/gd1-5day")
            span(data-i18n="teacher.gd1_guide")
          p(data-i18n="teacher.gd1_guide_desc")

      h4(data-i18n="teacher.cs2")
      ul
        li
          a(href="/teachers/resources/cs2")
            span(data-i18n="teacher.cs2_curriculum")
          p(data-i18n="teacher.cs2_curriculum_desc")

      h4(data-i18n="teacher.wd1")
      ul
        li
          a(href="http://files.codecombat.com.s3.amazonaws.com/docs/resources/WD1-HeadlinesWorksheet.pdf")
            span(data-i18n="teacher.wd1_headlines")
            span.spl [PDF]
          a(href="http://files.codecombat.com.s3.amazonaws.com/docs/resources/WD1-HeadlinesExample.pdf")
            i.span.spl(data-i18n="teacher.wd1_headlines_example")
          p(data-i18n="teacher.wd1_headlines_desc")
        li
          a(href="http://files.codecombat.com.s3.amazonaws.com/docs/resources/WD1-HTMLCheatsheet.pdf")
            span(data-i18n="teacher.wd1_html_syntax")
            span.spl [PDF]
          p(data-i18n="teacher.wd1_html_syntax_desc")
        li
          a(href="http://files.codecombat.com.s3.amazonaws.com/docs/resources/WD1-CSSCheatsheet.pdf")
            span(data-i18n="teacher.wd1_css_syntax")
            span.spl [PDF]
          p(data-i18n="teacher.wd1_css_syntax_desc")

      h4(data-i18n="teacher.cs3")
      ul
        li
          a(href="/teachers/resources/cs3")
            span(data-i18n="teacher.cs3_curriculum")
          p(data-i18n="teacher.cs3_curriculum_desc")

      h4(data-i18n="teacher.wd2")
      ul
        li
          a(href="http://files.codecombat.com.s3.amazonaws.com/docs/resources/WD2-jQueryFunctionsCheatsheet.pdf")
            span(data-i18n="teacher.wd2_jquery_syntax")
            span.spl [PDF]
          p(data-i18n="teacher.wd2_jquery_syntax_desc")
        li
          a(href="http://files.codecombat.com.s3.amazonaws.com/docs/resources/QuizletPlanningWorksheet.pdf")
            span(data-i18n="teacher.wd2_quizlet_worksheet")
            span.spl [PDF]
          a(href="http://files.codecombat.com.s3.amazonaws.com/docs/resources/QuizletPlanningInstructions.pdf")
            i.span.spl(data-i18n="teacher.wd2_quizlet_worksheet_instructions")
          p(data-i18n="teacher.wd2_quizlet_worksheet_desc")

      h4(data-i18n="teacher.cs4")
      ul
        li
          a(href="/teachers/resources/cs4")
            span(data-i18n="teacher.cs4_curriculum")
          p(data-i18n="teacher.cs4_curriculum_desc")

      h4(data-i18n="teacher.cs5")
      ul
        li
          a(href="/teachers/resources/cs5_py")
            span(data-i18n="teacher.cs5_curriculum_py")
          p(data-i18n="teacher.cs5_curriculum_desc_py")
        li
          a(href="/teachers/resources/cs5_js")
            span(data-i18n="teacher.cs5_curriculum_js")
          p(data-i18n="teacher.cs5_curriculum_desc_js")

      h4(id="apcsp_section") AP Computer Science Principles
      ul
        li
          a(href="")
            span AP CS Principles Syllabus
          p Use this resource to plan CodeCombat curriculum for your AP Computer Science Principles class.
        li
          div Unit 1: Creative Technology

        li
          a(href="/teachers/resources/apcsp-binary-sequences")
            span Unit 2 Activity: Binary Sequences

        li
          a(href="/teachers/resources/apcsp-hitchhikers-guide")
            span Unit 3 Activity: Algorithms

        li
          a(href="/teachers/resources/apcsp-getting-abstract")
            span Unit 4 Activity: Abstractions

        li
          a(href="/teachers/resources/apcsp-internet-simulation")
            span Unit 5 Activity: The Internet

        li
          a(href="/teachers/resources/apcsp-data-project") 
            span Unit 6 Activity: Introduction to Data

        li
          a(href="/teachers/resources/apcsp-big-data")
            span Unit 6 Activity: Big Data

        li
          a(href="/teachers/resources/apcsp-personal-and-global-impact")
            span Unit 7 Activity: Personal & Global Impact

        li
          div Unit 8: Performance Tasks

        li
          div Unit 9: AP Review

        li
          div Unit 10: Post-AP

      h4.coming-soon
        i(data-i18n="teacher.coming_soon")
