extends /templates/base-flat.jade

block page_nav
  include ../courses/teacher-dashboard-nav.jade

block content
  .container

    .content.rtl-allowed
      //- if me.attributes.hourOfCode && me.isAnonymous()
      //-   #hour-of-code
      //-     h3
      //-       span(data-i18n="teacher.hoc_welcome")
      //-       | !
      //-     p
      //-       span(data-i18n="teacher.hoc_intro")
      //-       | :
      //-     ol.small
      //-       li
      //-         strong.spr(data-i18n="teacher.hoc_self_led")
      //-         | -
      //-         span.spl.spr(data-i18n="teacher.hoc_self_led_desc")
      //-         | -
      //-         a(href="/play/game-dev-hoc?hour_of_code=true")
      //-           span(data-i18n="teacher.hoc_game_dev")
      //-         span.spl.spr(data-i18n="teacher.hoc_and")
      //-         a(href="/play?hour_of_code=true")
      //-           span(data-i18n="teacher.hoc_programming")
      //-         | .
      //-       li
      //-         strong.spr(data-i18n="teacher.hoc_teacher_led")
      //-         | -
      //-         span.spr(data-i18n="teacher.hoc_teacher_led_desc1")
      //-         a(href="/teachers/resources/cs1")
      //-           span(data-i18n="teacher.hoc_teacher_led_link")
      //-         span.spl(data-i18n="teacher.hoc_teacher_led_desc2")
      //-         | .
      //-       li
      //-         strong.spr(data-i18n="teacher.hoc_group")
      //-         | -
      //-         span.spr(data-i18n="teacher.hoc_group_desc_1")
      //-         a(href="/teachers/resources/getting-started")
      //-           span(data-i18n="teacher.hoc_group_link")
      //-         span.spl(data-i18n="teacher.hoc_group_desc_2")
      //-         | .
      //-     p.small
      //-       span.spr(data-i18n="teacher.hoc_additional_desc1")
      //-       a(href="/teachers/resources/")
      //-         span(data-i18n="teacher.resource_hub")
      //-       span .
      //-       span(data-i18n="teacher.hoc_additional_desc2")
      //-       span.spr ?
      //-       a(href="mailto:schools@codecombat.com")
      //-         span(data-i18n="teacher.hoc_additional_contact")
      //-       | .

      h1(data-i18n="teacher.resource_hub")
      h4(data-i18n="teacher.getting_started") 
      ul(dir="auto")
        li
          strong 
            a(href="/teachers/resources/faq")
              span(data-i18n="teacher.educator_faq")
          p 
            span(data-i18n="teacher.educator_faq_desc") 


      h4 Prologue: The Sky Mountain
      ul(dir="auto")
        li
          strong 
            a(href="/teachers/resources/1fhUnitOverview") Unit Overview -- Prologue: The Sky Mountain
          p 
            span Overview of all Cutscenes, Pracice Levels, Intros, and Projects in the Prologue unit. 
        li
          strong 
            a(href="/teachers/resources/1fhLessonPlan") Lesson Plan -- Prologue: The Sky Mountain
          p 
            span Detailed classroom guide including Learning Objectives, CSTA Standards, Reflection Activities and more.  
        li
          strong
            a(href="/teachers/resources/1fh_Rubric/") Capstone Rubric -- Prologue: The Sky Mountain
          p
            span Rubric for assessing students' final projects at the end of this unit. 
            

      //- h4
      //- | Header example
      //- ul
      //-   li
      //-     a(href="/teachers/resources/cs1")
      //-       span
      //-       | Span example
      //-     p
      //-     | Paragraph example
      //- 
      //- 
      //- h4.coming-soon
      //-   i
      //-   | Coming soon example
