extends /templates/base-flat.jade

block page_nav
  include /templates/courses/teacher-dashboard-nav.jade

block content
  .access-restricted.container.text-center.m-y-3
    h5(data-i18n='teacher.access_restricted')
    p(data-i18n='teacher.teacher_account_required')
    if me.isAnonymous()
      .login-button.btn.btn-lg.btn-primary(data-i18n='login.log_in')
      a.btn.btn-lg.btn-primary-alt(href="/teachers/signup" data-i18n='teacher.create_teacher_account')
    else
      a.btn.btn-lg.btn-primary(href="/teachers/update-account" data-i18n="teachers_quote.convert_account_title")
      button#logout-button.btn.btn-lg.btn-primary-alt(data-i18n="login.log_out")

  .container
    .teacher-account-blurb.text-center.col-xs-6.col-xs-offset-3.m-y-3
      h5(data-i18n='teacher.what_is_a_teacher_account')
      p(data-i18n='teacher.teacher_account_explanation')
