extends /templates/core/modal-base-flat.jade

block modal-header
  span.glyphicon.glyphicon-remove.button.close(data-dismiss="modal" aria-hidden="true")
  h3.text-center.modal-header
    span(data-i18n="share_licenses.share_licenses")

block modal-body
  #share-licenses-component

block modal-footer
