extends /templates/base

block content
  if me.isAdmin()
    div
      ol.breadcrumb
        li
          a(href="/editor", data-i18n="editor.main_title") CodeCombat Editors
        li
          a(href="/editor/achievement", data-i18n="editor.achievement_title") Achievement Editor
        li.active
          | #{achievement.attributes.name}

    button(data-i18n="", disabled=me.isAdmin() === true ? undefined : "true").btn.btn-primary#recalculate-button Recalculate
    button(data-i18n="common.save", disabled=me.isAdmin() === true ? undefined : "true").btn.btn-primary#save-button Save

    h3(data-i18n="achievement.edit_achievement_title") Edit Achievement
      span
        |: "#{achievement.attributes.name}"

    #achievement-treema

    #achievement-view

    hr

    div#error-view

  else
    .alert.alert-danger
      span Admin only. Turn around.
