.modal-dialog
  .modal-content
    img(src="/images/pages/modal/auth/login-background.png", draggable="false").auth-modal-background
    h1(data-i18n="login.log_in")

    div#close-modal
      span.glyphicon.glyphicon-remove

  .auth-form-content

    if showRequiredError
      .alert.alert-success
        span(data-i18n="signup.required")

    form.form
      .form-group
        label.control-label(for="email")
          span(data-i18n="general.email")
          | :
        .input-border
          input#email.input-large.form-control(name="email", type="email", value=formValues.email)
      .form-group
        div#recover-account-wrapper
          a(data-toggle="coco-modal", data-target="core/RecoverModal", data-i18n="login.forgot_password")#link-to-recover
        label.control-label(for="password")
          span(data-i18n="general.password")
          | :
        .input-border
          input#password.input-large.form-control(name="password", type="password", value=formValues.password)

      input.btn.btn-lg.btn-illustrated.btn-block.btn-success#login-button(value=translate("login.log_in"), type="submit")

    .wait.secret
      h3(data-i18n="login.logging_in")
      
  .auth-network-logins
    // GitHub login complete, but the button does not fit in with the design yet. Hidden for now
    //div.network-login
    //  btn.btn.btn-sm.github-login-button#github-login-button
    //    img(src="/images/pages/modal/auth/github_icon.png")
    //    | GitHub
    #facebook-login-btn.btn.btn-primary.btn-lg.btn-illustrated.network-login
      img.network-logo(src="/images/pages/community/logo_facebook.png", draggable="false")
      span.sign-in-blurb(data-i18n="login.sign_in_with_facebook")
    #gplus-login-btn.btn.btn-danger.btn-lg.btn-illustrated.network-login
      img.network-logo(src="/images/pages/community/logo_g+.png", draggable="false")
      span.sign-in-blurb(data-i18n="login.sign_in_with_gplus")
      .gplus-login-wrapper
        .gplus-login-button

  .extra-pane
    .switch-explanation(data-i18n="login.signup_switch")
    .btn.btn-lg.btn-illustrated.btn-warning#switch-to-signup-btn(data-i18n="login.sign_up")
