extends /templates/core/modal-base.jade

block modal-header-content
  h3(data-i18n="browser_recommendation.title") 

block modal-body-content
  p(data-i18n="browser_recommendation.pitch_body") 


block modal-footer-content
  button.btn.btn-primary.btn-large#downlaod-button(data-i18n="browser_recommendation.subscribe_as_diplomat") 下载 Chrome 浏览器
