.classic-promotion-modal
  .modal-dialog
    .modal-content
      img.modal-background(src="/images/pages/play/modal/subscribe-background-blank.png")

      h1(data-i18n="new_home.promo_modal_title")

      div.close-modal
        span.glyphicon.glyphicon-remove

      div.paper-area
        div.med-text.text-center(data-i18n="new_home.promo_modal_subtitle")

        div.modal-video-container(style="width: 80%; margin: 0 auto;")
          div.video-aspect-ratio
            iframe(src="https://www.youtube.com/embed/rOXRBQIXvlI?autoplay=1&mute=1")
        
        hr
        div.med-text.modal-text.text-center!= marked($.i18n.t("new_home.promo_modal_text"))

        .actions
          button.btn.btn-lg.btn-illustrated.play-button
            span.buy-now-text(data-i18n="new_home.play_now")
