.classic-promotion-modal
  .modal-dialog
    .modal-content
      img.modal-background(src="/images/pages/play/modal/subscribe-background-blank.png")

      h1(data-i18n="new_home.codecombat_home")

      div.close-modal
        span.glyphicon.glyphicon-remove

      div.paper-area
        div.med-text.text-center(data-i18n="new_home.codecombat_blurb")

        // just image for now
        div.image-container
          img(src="/images/pages/parents/tiles/pbox_2.webp")
        
        .actions
          button.btn.btn-lg.btn-illustrated.play-button
            span.buy-now-text(data-i18n="new_home.play_now")
