extends /templates/core/modal-base-flat

block modal-header-content
  h3= view.title

block modal-body-content
  p!= view.body

block modal-footer-content
  button.btn.btn-secondary#decline-button(type="button", data-dismiss="modal")= view.decline
  button.btn.btn-primary#confirm-button(type="button", data-dismiss=closeOnConfirm === true ? "modal" : undefined)= view.confirm
