extends /templates/core/modal-base

block modal-header-content
  h3(data-i18n="contact.contact_us") Contact CodeCombat...

block modal-body-content
  p
    span(data-i18n="contact.welcome") Good to hear from you! Use this form to send us email. 
    span.spl(data-i18n="contact.forum_prefix") For anything public, please try 
    a(href="http://discourse.codecombat.com/", data-i18n="contact.forum_page") our forum
    span(data-i18n="contact.forum_suffix")  instead.
    span.spl.spr(data-i18n="contact.faq_prefix") There's also a
    a(data-i18n="contact.faq", href="http://discourse.codecombat.com/t/faq-check-before-posting/1027") FAQ
    | .
  if me.isPremium()
    p(data-i18n="contact.subscriber_support") Since you're a CodeCombat subscriber, your email will get our priority support.
  else
    p
      span.spr(data-i18n="contact.subscribe_prefix") If you need help figuring out a level, please
      a(data-toggle="coco-modal", data-target="core/SubscribeModal", data-i18n="contact.subscribe") buy a CodeCombat subscription
      span.spl(data-i18n="contact.subscribe_suffix") and we'll be happy to help you with your code.
  .form
    .form-group
      label.control-label(for="contact-email", data-i18n="general.email") Email      
      input#contact-email.form-control(name="email", type="email", value="#{me.get('anonymous') ? '' : me.get('email')}", data-i18n="[placeholder]contact.where_reply", placeholder="Where should we reply?")
    .form-group
      label.control-label(for="contact-message", data-i18n="general.message") Message      
      textarea#contact-message.form-control(name="message", rows=8)

  #contact-screenshot.secret
    a(target='_blank', data-i18n="contact.screenshot_included") Screenshot included.
    br
    img.pull-left(width=100)

block modal-footer-content
  span.sending-indicator.pull-left.secret(data-i18n="common.sending") Sending...
  a(href='#', data-dismiss="modal", aria-hidden="true", data-i18n="common.cancel").btn Cancel
  button.btn.btn-primary#contact-submit-button(data-i18n="contact.send") Send Feedback
