//- DNT
.modal-dialog
  .modal-content
    img#modal-background(src="/images/pages/play/modal/announcement_modal_bg.png")
    h1 Do you like Roblox?
    #close-modal
      span.glyphicon.glyphicon-remove
    #mine-content
      #image-content
        img#heroes(src="/images/roblox/heroes.png")
      #text-content
        #details-header
          img#heading(src="/images/roblox/modal-heading.png")
        br
        #info-text
          ul
            li Adopt and program your very own pet to help you on your adventure
            li Write code to change the world around you
            li Explore with friends as you learn how to program your own Roblox game

        #button-container
          button#buy-now-button.btn.btn-lg.btn-illustrated.purchase-button
            span= "Buy Now $" + (view.price ? view.price : "...") + "/"
            span.no-text-transform mo
          a(href="/roblox" target="_blank")#submit-button.btn.btn-lg.btn-illustrated.sale-button Learn More
