//- DNT
.modal-dialog
  .modal-content
    img#modal-background(src="/images/pages/play/modal/announcement_modal_bg.png")
    h1 CodeCombat Worlds<br> Now Live on Roblox!
    #close-modal
      span.glyphicon.glyphicon-remove
    #mine-content
      #text-content
        #button-container
          a(href="https://www.roblox.com/games/11704713454/CodeCombat-Worlds" target="_blank")#submit-button.btn.btn-lg.btn-illustrated.sale-button PLAY NOW!
