.modal-recommendation
  .modal-body
    p(data-i18n="browser_recommendation.pitch_body") 

  .modal-button
    button.btn.btn-primary.btn-large#downlaod-button(data-i18n="browser_recommendation.download")
    button.btn.btn-default.btn-large#cancel-button(data-dismiss="modal", aria-hidden="true", data-i18n="browser_recommendation.ignore")
