.panel.panel-default
  .panel-heading(class=isDefaultComponent ? "is-default-component" : "")
    em #{component.system}.
    strong.panel-title.spr= component.name
    span#description.text-muted= component.description
  .panel-body
    .treema
