#ladder-view
  h1
    text-align: center
    
  .tab-pane
    margin-top: 10px
  
  .rank-cell, .fight-cell
    text-align: center
    
  .score-cell
    width: 50px
    text-align: center
    
  .play-button
    margin-bottom: 10px
    background-image: none

  .spectate-button-container
    margin-top: 10px
    text-align: center

  .name-col-cell
    max-width: 300px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    
  .ellipsis-row
    text-align: center

  .simulator-leaderboard-cell
    text-align: center
    
  // friend column

  .friends-header
    margin-top: 0
    margin-bottom: 5px

  .connect-buttons
    margin-bottom: 15px
    .btn
      margin-right: 5px
  
  .friend-entry img
    float: left
    margin-right: 10px
    
  .friend-entry
    margin-bottom: 15px
    
  .connect-facebook
    background-color: #4c66a4 !important
    background-image: none
    color: white
    
  .connect-google-plus
    background-color: #CC3234 !important
    background-image: none
    color: white
    
  td
    padding: 1px 2px
    
  tr.stale
    opacity: 0.5

  tr.win .state-cell
    color: #172
  tr.loss .state-cell
    color: #712

  #must-log-in button
    margin-right: 10px

@media only screen and (max-width: 800px)
  #ladder-view
    #level-column img
      width: 100%