#ladder-tab-view
  .name-col-cell
    max-width: 150px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .histogram-display
    height: 130px
    
  .bar rect
    fill: steelblue
    shape-rendering: crispEdges
    
  .bar text
    fill: #fff
    
  .specialbar rect
    fill: #555555
    
    
  .axis path, .axis line
    fill: none
    stroke: #555555
    shape-rendering: crispEdges
    
  .humans-bar
    fill: #bf3f3f
    shape-rendering: crispEdges
  .ogres-bar
    fill: #3f44bf
    shape-rendering: crispEdges
  text
    fill: #555555
    
  .rank-text
    font-size: 15px
    fill: #555555
    
  .humans-rank-text
    fill: #bf3f3f
    
  .ogres-rank-text
    fill: #3f44bf
    
  .load-more-ladder-entries
    position: absolute
    right: 15px
    bottom: -5px

  td
    padding: 1px 2px
