#ladder-team-view
  #rank-button
    margin-top: 15px
  
  #competitors-column .well
    font-size: 18px
    padding: 7px

  #your-score
    margin-top: 20px
    text-align: center
    font-size: 20px