mixin timePlayed()
  if (session || {}).playtime > 0
    .small-details.nowrap 
      span(data-i18n="teacher.time_played_label")
      =" "
      span.spr(data-i18n='teacher.time_played')
      span= moment.duration({ seconds: session.playtime }).humanize()
    
mixin header()
  div.tooltip-label-text.nowrap.text-capitalize
    span= label

mixin interactiveDetails()
  if needsReview
    .review-learning-goal
      span(data-i18n='teacher.review_learning_goal', data-i18n-options={learningGoal: learningGoal})
  .link-to-view.nowrap.m-t-1(data-i18n='teacher.click_to_view_concept_check')

if completed
  +header
  if showSessionData
    .small-details.nowrap
      span(data-i18n='teacher.completed')
      =": "
      if session
        - var dateCompleted = session.dateFirstCompleted || session.created || session.changed;
        if dateCompleted
          span= moment(dateCompleted).format('lll')
    if type == 'interactive'
      +interactiveDetails
    else
      +timePlayed
      if showStudentCodeLink
        .link-to-view.nowrap.m-t-1
          span(data-i18n="teacher.view_student_code")
else if started
  +header
  if showSessionData
    if (session || {}).changed
      .small-details.nowrap
        span(data-i18n='user.last_played')
        =": "
        span= moment(session.changed).format('lll')
    if type == 'interactive'
      +interactiveDetails
    else
      +timePlayed
      if showStudentCodeLink
        .link-to-view.nowrap.m-t-1
          span(data-i18n="teacher.view_student_code")
else
  +header
  .small-details.nowrap(data-i18n='teacher.no_progress')
