h3= component.name
//button.btn#add-remove-button Add Component
p#description= component.description
.treema
//p#other-props
//  strong Other Config Properties:
//  for prop in configProperties
//    a(title=prop.description)= prop.name