extends /templates/base

block content

  .row

    .col-sm-6

      h2(data-i18n="about.who_is_codecombat")
        | Who is CodeCombat?
    
      p
        a(href="http://georgesaines.com/") George
        span , 
        a(href="http://scotterickson.info/") Scott
        span , 
        span(data-i18n="general.and") and
        span  
        a(href="http://www.nickwinter.net") Nick
        span  
        span(data-i18n="about.who_description_prefix")
          | together started CodeCombat in 2013. We also created 
        a(href="http://www.skritter.com/") Skritter
        span  
        span(data-i18n="about.who_description_suffix")
          | in 2008, growing it to the #1 web and iOS application 
          | for learning to write Chinese and Japanese characters.

      p(data-i18n="about.who_description_ending")
        | Now it's time to teach people to write code.
    
      h2(data-i18n="about.why_codecombat")
        | Why CodeCombat?
      
      p(data-i18n="about.why_paragraph_1")
        | When making Skritter, George didn't know how to program and was constantly 
        | frustrated by his inability to implement his ideas. Afterwards, 
        | he tried learning, but the lessons were too slow. His housemate, 
        | wanting to reskill and stop teaching, tried Codecademy, but "got bored." 
        | Each week another friend started Codecademy, then dropped off. 
        | We realized it was the same problem we'd solved with Skritter: 
        | people learning a skill via slow, intensive lessons when what they need is fast,
        | extensive practice. We know how to fix that.
    
      p(data-i18n="about.why_paragraph_2")
        | Need to learn to code? You don't need lessons. 
        | You need to write a lot of code and have a great time doing it.

      p
        span(data-i18n="about.why_paragraph_3_prefix")
          | That's what programming is about. It's gotta be fun.
          | Not fun like
        span  
        i(data-i18n="about.why_paragraph_3_italic")
          | yay a badge
        span  
        span(data-i18n="about.why_paragraph_3_center")
          | but fun like
        span  
        i(data-i18n="about.why_paragraph_3_italic_caps")
          | NO MOM I HAVE TO FINISH THE LEVEL!
        span  
        span(data-i18n="about.why_paragraph_3_suffix")
          | That's why CodeCombat is a multiplayer game,
          | not a gamified lesson course. We won't stop 
          | until you can't stop--but this time, that's a good thing.

      p(data-i18n="about.why_paragraph_4")
        | If you're going to get addicted to some game, 
        | get addicted to this one and become one of the wizards of the tech age.

      p.lead
        span(data-i18n="about.why_ending")
          | And hey, it's free. 
        a(href="/", data-i18n="about.why_ending_url")
          | Start wizarding now!
    

    ul.col-sm-6.team-column
 
      ul.thumbnails
    
        li.row
    
          a(href="http://georgesaines.com")
            img(src="/images/pages/about/george_small.png").img-thumbnail
  
          .col-sm-8
  
            h3
              a(href="http://georgesaines.com") George Saines

            p(data-i18n="about.george_description")
              | CEO, business guy, web designer, game designer, 
              | and champion of beginning programmers everywhere.
    
        li.row

          a(href="http://scotterickson.info")
            img(src="/images/pages/about/scott_small.png").img-thumbnail
  
          .col-sm-8

            h3
              a(href="http://scotterickson.info") Scott Erickson
  
            p(data-i18n="about.scott_description")
              | Programmer extraordinaire, software architect, 
              | kitchen wizard, and master of finances. 
              | Scott is the reasonable one.
    
        li.row
    
          a(href="http://www.nickwinter.net")
            img(src="/images/pages/about/nick_small.png").img-thumbnail
  
          .col-sm-8

            h3
              a(href="http://www.nickwinter.net") Nick Winter
    
            p(data-i18n="about.nick_description")
              | Programming wizard, eccentric motivation mage, 
              | and upside-down experimenter. 
              | Nick can do anything and chooses to build CodeCombat.

        li.row
    
          a(href="http://michaelschmatz.com")
            img(src="/images/pages/about/michael_small.png").img-thumbnail
  
          .col-sm-8

            h3
              a(href="http://michaelschmatz.com/") Michael Schmatz
    
            p(data-i18n="about.michael_description")
              | Programmer, sys-admin, and undergrad technical wunderkind, 
              | Michael is the person keeping our servers online.

        li.row
    
          img(src="/images/pages/about/jeremy_small.png").img-thumbnail
  
          .col-sm-8

            h3 Jeremy Arns
    
            p(data-i18n="about.jeremy_description")
              | Customer support mage, usability tester, 
              | and community organizer; you've probably 
              | already spoken with Jeremy.

        li.row
    
          img(src="/images/pages/about/glen_small.png").img-thumbnail
  
          .col-sm-8

            h3
              a(href="http://www.glendc.com/") Glen De Cauwsemaecker
    
            p(data-i18n="about.glen_description")
              | Programmer and passionate game developer,
              | with the motivation to make this world a better place,
              | by developing things that mather. The word impossible can't
              | be found in his dictionary. Learning new skills is his joy!


