extends /templates/base

block content

  .row

    .span5

      h2 Who is CodeCombat?
    
      :markdown
        [George](http://georgesaines.com/), [Scott](http://scotterickson.info), and [Nick](http://www.nickwinter.net) together started CodeCombat in 2013. We also created [Skritter](http://www.skritter.com/) in 2008, growing it to the #1 web and iOS application for learning to write Chinese and Japanese characters.

      p Now it's time to teach people to write code.
    
      h2 Why CodeCombat?
      
      p When making Skritter, George didn't know how to program and was constantly frustrated by his inability to implement his ideas. Afterwards, he tried learning, but the lessons were too slow. His housemate, wanting to reskill and stop teaching, tried Codecademy, but "got bored." Each week another friend started Codecademy, then dropped off. We realized it was the same problem we'd solved with Skritter: people learning a skill via slow, intensive lessons when what they need is fast, extensive practice. We know how to fix that.
    
      p Need to learn to code? You don't need lessons. You need to write a lot of code and have a great time doing it.

      :markdown
        That's what programming is about. It's gotta be fun. Not fun like _yay a badge_ but fun like _NO MOM I HAVE TO FINISH THE LEVEL!_ That's why CodeCombat is a multiplayer game, not a gamified lesson course. We *won't* stop until you *can't* stop--but this time, that's a good thing.

      p If you're going to get addicted to some game, get addicted to this one and become one of the wizards of the tech age.

      p.lead And hey, it's free. 
        a(href="/") Start wizarding now!
    

    ul.span5.team-column
 
      ul.thumbnails
    
        li.row
    
          img(src="/images/pages/about/george.jpg").img-polaroid
  
          .span3
  
            h3
              a(href="http://georgesaines.com") George Saines

            p CEO, business guy, web designer, game designer, and champion of beginning programmers everywhere.
    
        li

          img(src="/images/pages/about/scott.jpg").img-polaroid
  
          .span3

            h3
              a(href="http://scotterickson.info") Scott Erickson
  
            p Programmer extraordinaire, software architect, kitchen wizard, and master of finances. Scott is the reasonable one.
    
        li
    
          img(src="/images/pages/about/nick.jpg").img-polaroid
  
          .span3

            h3
              a(href="http://www.nickwinter.net") Nick Winter
    
            p Programming wizard, eccentric motivation mage, and upside-down experimenter. Nick can do anything and chooses to build CodeCombat.

        li
    
          img(src="/images/pages/about/jeremy.jpg").img-polaroid
  
          .span3

            h3
              Jeremy Arns
    
            p Customer support mage, usability tester, and community organizer, you've probably already spoken with Jeremy.

        li
    
          img(src="/images/pages/about/michael.jpg").img-polaroid
  
          .span3

            h3
              a(href="http://michaelschmatz.com/") Michael Schmatz
    
            p Programmer, sys admin, and undergrad technical wunderkind, Michael is the person keeping our servers online.


