block content
  .style-flat
    .container-fluid#jumbotron-container-fluid
      .container.bg-navy
        .row
          //TODO: Size these correctly
          .col-xs-10
            h1 If you want to learn to program, you need to write (a lot of) code.
        .row
          .col-xs-8
            h2 At CodeCombat, our job is to make sure you're doing that with a smile on your face.
      
    .container#about-container
      #mission-row.row
        .col-sm-6#mission-graphic
          img(src="/images/pages/about/Globe_white.png")
          h2 Our mission: make programming accessible to every student on Earth.
          #mission-graphic-filler
        .col-sm-5.col-sm-offset-1
          p
            span.spr Programming is magic. It's the ability to create things from pure imagination. We started CodeCombat to give learners the feeling of wizardly power at their fingertips, straight from the first keystroke. With game-based learning, players not only get more excited about computer science, but they learn faster, too. Way faster. It's like having a conversation instead of reading a book. We want to bring that conversation to every school and to every student, because we believe that everyone should have a chance to become a native speaker of code.
      #team-row-1.row
        h3 Meet the CodeCombat team
        h4 [how would we describe our team’s values? this might be a good place to state that]
        ul#team-row-2
          // Full time
          li
            a(href="http://www.nickwinter.net")
              img(src="/images/pages/about/nick_small.png").img-thumbnail
            .team_bio
              h6.label.team_name
                a(href="http://www.nickwinter.net") Nick Winter
              small(data-i18n="about.nick_title")
              small(data-i18n="about.nick_blurb")

          li
            a(href="http://www.mattlott.com/")
              img(src="/images/pages/about/matt_small.png").img-thumbnail
            .team_bio
              h6.label.team_name
                a(href="http://www.mattlott.com/") Matt Lott
              small(data-i18n="about.matt_title")
              small(data-i18n="about.matt_blurb")

          li
            a(href="http://cat.zdh.com/")
              img(src="/images/pages/about/cat_small.png").img-thumbnail
            .team_bio
              h6.label.team_name
                a(href="http://cat.zdh.com/") Catherine Weresow
              small(data-i18n="about.cat_title")
              small(data-i18n="about.cat_blurb")

          li
            img(src="/images/pages/about/scott_small.png").img-thumbnail
            .team_bio
              h6.label.team_name Scott Erickson
              small(data-i18n="about.scott_title")
              small(data-i18n="about.scott_blurb")

          li
            img(src="/images/pages/about/maka_small.png").img-thumbnail
            .team_bio
              h6.label.team_name Michael 'Maka' Gradin
              small(data-i18n="about.maka_title")
              small(data-i18n="about.maka_blurb")

            a(href="http://basicer.com/")
            
          li  
            img(src="/images/pages/about/rob_small.png").img-thumbnail
            .team_bio
              h6.label.team_name
                a(href="http://basicer.com/") Rob Blanckaert
              small(data-i18n="about.rob_title")
              small(data-i18n="about.rob_blurb")

          li
            img(src="/images/pages/about/josh_c_small.png").img-thumbnail
            .team_bio
              h6.label.team_name Josh Callebaut
              small(data-i18n="about.josh_c_title")
              small(data-i18n="about.josh_c_blurb")

            a(href="http://robinyang.com/")
            
          li
            img(src="/images/pages/about/robin_small.png").img-thumbnail
            .team_bio
              h6.label.team_name
                a(href="http://robinyang.com/") Robin Yang
              small(data-i18n="about.robin_title")
              small(data-i18n="about.robin_blurb")


          // Part time / contract

          li
            a(href="http://floor.is/lava/")
              img(src="/images/pages/about/josh_small.png").img-thumbnail
            .team_bio
              h6.label.team_name
                a(href="http://floor.is/lava/") Josh Lee
              small(data-i18n="about.josh_title")
              small(data-i18n="about.josh_blurb")

          li
            a(href="https://soundcloud.com/taking-off")
              img(src="/images/pages/about/jose_small.png").img-thumbnail
            .team_bio
              h6.label.team_name
                a(href="https://soundcloud.com/taking-off") Jose Antonini
              small(data-i18n="about.jose_title")
              small(data-i18n="about.jose_blurb")

          li
            a(href="http://retrostylegames.com/")
              img(src="/images/pages/about/pavel_small.png").img-thumbnail
            .team_bio
              h6.label.team_name
                a(href="http://retrostylegames.com/") Pavel Konstantinov
              small(data-i18n="about.retrostyle_title")
              small(data-i18n="about.retrostyle_blurb")

          li
            a(href="http://retrostylegames.com/")
              img(src="/images/pages/about/oleg_small.png").img-thumbnail
            .team_bio
              h6.label.team_name
                a(href="http://retrostylegames.com/") Oleg Ulyanickiy
              small(data-i18n="about.retrostyle_title")
              small(data-i18n="about.retrostyle_blurb")

          li
            img(src="/images/pages/about/carlos_small.png").img-thumbnail
            .team_bio
              h6.label.team_name Carlos Maia
              small(data-i18n="about.carlos_title")
              small(data-i18n="about.carlos_blurb")
            
      #community-row-1.row
        h3 ...and our open-source community
        //TODO: Update this text
        h4 Over 450 contributors have helped build CodeCombat, with more joining every week!
        //TODO: Use real image
        img(style='width: 1100px;height:175px')
      
      #community-row.row
        .col-sm-5
          p
            | CodeCombat is already a community project, with hundreds of players volunteering to create levels, contribute to our GitHub repositories, playtest, and even translate the game into 50 languages so far. Anyone can join the CodeCombat community! Check out our 
            a(href="/contribute") contribute page 
            | for more info.
        .col-sm-6.col-sm-offset-1#community-graphic
          //TODO: Update this text
          h2 Over 450 contributors have lent their support and time to this project.
          img(src="/images/pages/about/Github.png")
          #community-graphic-filler
          
      #story-row.row
        h3 Our story so far
        h4 Since 2013, CodeCombat has grown from a mere set of sketches to a living, thriving game.
        #story-graphic-1.col-sm-6
          img(src="/images/pages/about/Character_Silouhette.png")
          p
            span.big-text 5,000,000+ total players
            span.small-text have started their programming journey through CodeCombat
        #story-graphic-2.col-sm.6
          img(src="/images/pages/about/Globe_Green.png")
          p
            span.small-text We’ve been translated into over 50 languages - our players hail from
            span.big-text 5,000,000+ total players