extends /templates/base

block content

  img(src="/images/pages/about/coco_comic.jpg")

  .row

    .col-sm-6

      h2(data-i18n="about.why_codecombat")
        | Why CodeCombat?

      p(data-i18n="about.why_paragraph_1")
        | If you want to learn to program, you don't need lessons. 
        | You need to write a lot of code and have a great time doing it.

      p
        span(data-i18n="about.why_paragraph_2_prefix")
          | That's what programming is about. It's gotta be fun.
          | Not fun like
        span  
        i(data-i18n="about.why_paragraph_2_italic")
          | yay a badge
        span  
        span(data-i18n="about.why_paragraph_2_center")
          | but fun like
        span  
        i(data-i18n="about.why_paragraph_2_italic_caps")
          | NO MOM I HAVE TO FINISH THE LEVEL!
        span  
        span(data-i18n="about.why_paragraph_2_suffix")
          | That's why CodeCombat is a multiplayer game,
          | not a gamified lesson course. We won't stop 
          | until you can't stop--but this time, that's a good thing.

      p(data-i18n="about.why_paragraph_3")
        | If you're going to get addicted to some game, 
        | get addicted to this one and become one of the wizards of the tech age.

      h2(data-i18n="about.press_title")
        | Bloggers/Press

      p
        span.spr(data-i18n="about.press_paragraph_1_prefix")
          | Want to write about us? Feel free to download and use all of the resources included in our
        a(href="https://s3.amazonaws.com/CodeCombatMisc/press_packet.zip", data-i18n="about.press_paragraph_1_link") press packet
        span(data-i18n="about.press_paragraph_1_suffix")
          | . All logos and images may be used without contacting us directly.

      h2(data-i18n="nav.contact")
        | Contact
      p
        span CodeCombat, Inc.
        br
        span 188 King St #507
        br
        span San Francisco, CA 94107
        br
        a(href='mailto:team@codecombat.com') team@codecombat.com

    ul.col-sm-6.team-column

      ul.thumbnails

        li.row

          h2(data-i18n="about.team") Team

          a(href="http://www.nickwinter.net")
            img(src="/images/pages/about/nick_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="http://www.nickwinter.net") Nick Winter
            p(data-i18n="about.nick_title")
              | Cofounder
            p(data-i18n="about.nick_blurb")
              | Motivation Guru

          a(href="http://www.mattlott.com/")
            img(src="/images/pages/about/matt_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="http://www.mattlott.com/") Matt Lott
            p(data-i18n="about.matt_title")
              | Cofounder
            p(data-i18n="about.matt_blurb")
              | Bicyclist

        li.row

          a(href="http://www.georgesaines.com/")
            img(src="/images/pages/about/george_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="http://www.georgesaines.com/") George Saines
            p(data-i18n="about.george_title")
              | Cofounder
            p(data-i18n="about.george_blurb")
              | Businesser

          a(href="http://cat.zdh.com/")
            img(src="/images/pages/about/cat_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="http://cat.zdh.com/") Catherine Weresow
            p(data-i18n="about.cat_title")
              | Chief Artisan
            p(data-i18n="about.cat_blurb")
              | Airbender

        li.row

          img(src="/images/pages/about/scott_small.png").img-thumbnail
          .team_bio
            h4.team_name Scott Erickson
            p(data-i18n="about.scott_title")
              | Cofounder
            p(data-i18n="about.scott_blurb")
              | Reasonable one

          a(href="http://michaelschmatz.com")
            img(src="/images/pages/about/michael_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="http://michaelschmatz.com/") Michael Schmatz
            p(data-i18n="about.michael_title")
              | Programmer
            p(data-i18n="about.michael_blurb")
              | Sys Admin

        li.row

          a(href="http://floor.is/lava/")
            img(src="/images/pages/about/josh_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="http://floor.is/lava/") Josh Lee
            p(data-i18n="about.josh_title")
              | Game Designer
            p(data-i18n="about.josh_blurb")
              | Floor Is Lava

          a(href="https://soundcloud.com/taking-off")
            img(src="/images/pages/about/jose_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="https://soundcloud.com/taking-off") Jose Antonini
            p(data-i18n="about.jose_title")
              | Music
            p(data-i18n="about.jose_blurb")
              | Taking Off

        li.row

          a(href="http://retrostylegames.com/")
            img(src="/images/pages/about/pavel_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="http://retrostylegames.com/") Pavel Konstantinov
            p(data-i18n="about.retrostyle_title")
              | Illustration
            p(data-i18n="about.retrostyle_blurb")
              | RetroStyle Games

          a(href="http://retrostylegames.com/")
            img(src="/images/pages/about/oleg_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="http://retrostylegames.com/") Oleg Ulyanickiy
            p(data-i18n="about.retrostyle_title")
              | Illustration
            p(data-i18n="about.retrostyle_blurb")
              | RetroStyle Games

        li.row

          a(href="http://basicer.com/")
            img(src="/images/pages/about/rob_small.png").img-thumbnail
          .team_bio
            h4.team_name
              a(href="http://basicer.com/") Rob Blanckaert
            p(data-i18n="about.rob_title")
              | Compiler Engineer
            p(data-i18n="about.rob_blurb")
              | Codes things and stuff.
              
          img(src="/images/pages/about/placeholder.png").img-thumbnail
          .team_bio
            h4.team_name
              | Josh Callebaut
            p(data-i18n="about.josh_c_title")
              | Game Designer
            p(data-i18n="about.josh_c_blurb")
              | Designs games.

        li.row

          img(src="/images/pages/about/carlos_small.png").img-thumbnail
          .team_bio
            h4.team_name
              | Carlos Maia
            p(data-i18n="about.carlos_title")
              | Region Manager
            p(data-i18n="about.carlos_blurb")
              | CodeCombat Brazil
