div
  .clearfix.achievement-body
    .achievement-image(data-notify-html="image")
    .achievement-content
      .achievement-title(data-notify-html="title")
      .achievement-description(data-notify-html="description")

      .achievement-progress
        .achievement-message(data-notify-html="message")
        .progress-wrapper
          .earned-exp(data-notify-html="earnedExp")
          .progress-bar-wrapper(data-notify-html="progressBar")
