div
  div.clearfix
    div.achievement-title(data-notify-html="title")
    div.achievement-image(data-notify-html="image")
    div.achievement-name(data-notify-html="name")
    div.achievement-description(data-notify-html="description")