extends /templates/base

block content
  
  h3 Espionage mode
    h5 Please enter the email/username of the person you want to spy on
    .form
      .form-group
        label.control-label Email 
        input#user-email
      .form-group
        label.control-label Username 
        input#user-username
      
    button.btn.btn-primary.btn-large#enter-espionage-mode 007
  
  h3(data-i18n="admin.av_title") Admin Views

  h4(data-i18n="admin.av_entities_sub_title") Entities
  
  ul
    li
      a(href="/admin/users", data-i18n="admin.av_entities_users_url") Users
    li
      a(href="/admin/level_sessions", data-i18n="admin.av_entities_active_instances_url") Active Instances
    li
      a(href="/admin/employer_list", data-i18n="admin.av_entities_employer_list_url") Employer List
        
  h4(data-i18n="admin.av_other_sub_title") Other

  ul
    li
      a(href="/admin/base", data-i18n="admin.av_other_debug_base_url") Base (for debugging base.jade)
    li
      a(href="/admin/clas", data-i18n="admin.clas") CLAs

  hr

  h3 Achievements
  p This is just some stuff for temporary achievement testing. Should be replaced by a demo system.

  input#increment-field(type="text")
  a.btn.btn-secondary#increment-button(href="#") Increment
