extends /templates/base

block content
  
  h3 Admin Views

  h4 Entities
  
  ul
    li
      a(href='/admin/users') Users
    li
      a(href='/admin/level_sessions') Active Instances
        
  h4 Other

  ul
    li
      a(href='/admin/base') Base (for debugging base.jade)
