extends /templates/base

block content
  
  .form-horizontal
    .form-group
      label.control-label.col-sm-2(for="espionage-name-or-email" data-i18n="admin.av_espionage") Espionage
      .col-sm-4
        input.form-control#espionage-name-or-email(data-i18n="[placeholder]admin.av_espionage_placeholder", placeholder="Email or username", type="text")
      .col-sm-1
        button.btn.btn-primary.btn-large#enter-espionage-mode 007
      label.control-label.col-sm-5(for="espionage-name-or-email")
        em you are currently  #{me.get('name')} at #{me.get('email')}
    .form-group
      label.control-label.col-sm-2(for="user-search" data-i18n="admin.av_usersearch") User Search
      .col-sm-4
        input.form-control#user-search(data-i18n="[placeholder]admin.av_usersearch_placeholder", placeholder="Email, username, name, whatever", type="text")
      .col-sm-1
        button.btn(data-i18n="admin.av_usersearch_search").btn-primary.btn-large#user-search-button  Search
  #user-search-result

  
  h3(data-i18n="admin.av_title") Admin Views

  h4(data-i18n="admin.av_entities_sub_title") Entities
  
  ul
    li
      a(href="/admin/level-sessions", data-i18n="admin.av_entities_active_instances_url") Active Instances
    li
      a(href="/admin/candidates", data-i18n="admin.av_entities_candidates_list_url") Candidate List
    li
      a(href="/admin/employers", data-i18n="admin.av_entities_employer_list_url") Employer List
    li
      a(href="/admin/trial-requests") Trial Requests
    li
      a(href="/admin/user-code-problems", data-i18n="admin.av_entities_user_code_problems_list_url") User Code Problems List
    li
      a(href="/admin/users", data-i18n="admin.av_entities_users_url") Users

  h4(data-i18n="admin.av_other_sub_title") Other

  ul
    li
      a(href="/admin/base", data-i18n="admin.av_other_debug_base_url") Base (for debugging base.jade)
    li
      a(href="/admin/clas", data-i18n="admin.clas") CLAs
    li
      a(href="/admin/pending-patches", data-i18n="resources.patches") Patches
    if me.isAdmin()
      li
        a(href="/admin/analytics") Analytics
        ul
          li
            a(href="/admin/analytics/subscriptions") Subscriptions

  if me.isAdmin()
    hr
    h3 Prepaids
    a.btn.btn-secondary#create-free-sub-btn Create Free Subscription Link
    span.spl.spr
      if freeSubLink
        input#free-sub-input(type="text", readonly, value="#{freeSubLink}") 

    .form-inline
      .form-group
        label(for="users") Users
        input#users.form-control(name="users", type="number", min=1)
      .form-group
        label(for="months") Months
        input#months.form-control(name="months", type="number", min=1)
      a#terminal-create.btn.btn-default Create Terminal Subscription Code


  hr

  h3 Achievements
  p This is just some stuff for temporary achievement testing. Should be replaced by a demo system.

  input#increment-field(type="text")
  a.btn.btn-secondary#increment-button(href="#") Increment
