body
  #fb-root
  block header
    .nav.navbar.navbar-fixed-top#mobile-nav
      .content.clearfix
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#collapsible-navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          
          a.navbar-brand(href='/')
            img(src="/images/pages/base/logo.png", title="CodeCombat - Learn how to code by playing a game", alt="CodeCombat")
        .collapse.navbar-collapse#collapsible-navbar      
          ul.nav.navbar-nav
            li.play
              a.header-font(href='/play', data-i18n="nav.play") Levels
            li
              a.header-font(href='/community', data-i18n="nav.community") Community
      
    .nav.navbar.navbar-fixed-top#top-nav
      .content.clearfix
        .navbar-header
          a.navbar-brand(href='/')
            img(src="/images/pages/base/logo.png", title="CodeCombat - Learn how to code by playing a game", alt="CodeCombat")

        select.language-dropdown

        if me.get('anonymous') === false
          button.btn.btn-primary.navbuttontext.header-font#logout-button(data-i18n="login.log_out") Log Out
          a.btn.btn-primary.navbuttontext.header-font(href=me.get('jobProfile') ? "/account/profile/#{me.id}" : "/account/settings")
            div.navbuttontext-account(data-i18n="nav.account") Account
            if me.get('photoURL')
              img.account-settings-image(src=me.getPhotoURL(18), alt="")
            else
              span.glyphicon.glyphicon-user

        else
          button.btn.btn-primary.navbuttontext.header-font(data-toggle="coco-modal", data-target="modal/signup", data-i18n="login.sign_up") Create Account
          button.btn.btn-primary.navbuttontext.header-font(data-toggle="coco-modal", data-target="modal/login", data-i18n="login.log_in") Log In

        ul(class='navbar-link-text').nav.navbar-nav.pull-right
          li.play
            a.header-font(href='/play', data-i18n="nav.play") Levels
          li
            a.header-font(href='/community', data-i18n="nav.community") Community

  block outer_content
    #outer-content-wrapper
      #intermediate-content-wrapper
        #inner-content-wrapper
          .main-content-area
            block content
              p If this is showing, you dun goofed

  block footer
    .footer.clearfix
      .content
        p.footer-link-text
          if pathname == "/" || (me.get('permissions') || []).indexOf('employer') != -1
            a(href='/employers', title='Home', tabindex=-1, data-i18n="nav.employers") Employers
          else
            a(href='/', title='Home', tabindex=-1, data-i18n="nav.home") Home
          a(href='/contribute', title='Contribute', tabindex=-1, data-i18n="nav.contribute") Contribute
          a(href='/legal', title='Legal', tabindex=-1, data-i18n="nav.legal") Legal
          a(href='/about', title='About', tabindex=-1, data-i18n="nav.about") About
          a(title='Contact', tabindex=-1, data-toggle="coco-modal", data-target="modal/contact", data-i18n="nav.contact") Contact
          a(href='/editor', data-i18n="nav.editor") Editor
          a(href='http://blog.codecombat.com/', data-i18n="nav.blog") Blog
          a(href='http://discourse.codecombat.com/', data-i18n="nav.forum") Forum
          if me.isAdmin()
            a(href='/admin', data-i18n="nav.admin") Admin

      .share-buttons
        .g-plusone(data-href="http://codecombat.com", data-size="medium")
        .fb-like(data-href="https://www.facebook.com/codecombat", data-send="false", data-layout="button_count", data-width="350", data-show-faces="true", data-ref="coco_footer_#{fbRef}")
        a.twitter-follow-button(href="https://twitter.com/CodeCombat", data-show-count="true", data-show-screen-name="false", data-dnt="true", data-align="right", data-i18n="nav.twitter_follow") Follow
        iframe.github-star-button(src="http://ghbtns.com/github-btn.html?user=codecombat&repo=codecombat&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20")
      .partner-badges
        a.mixpanel-badge(href="https://mixpanel.com/f/partner")
          img(src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png", alt="Mobile Analytics")
        a.firebase-bade(href="https://www.firebase.com/")
          img(src="/images/pages/base/firebase.png", alt="Powered by Firebase")
