.style-flat
  block header
    nav#main-nav
      // Will be replaced by Navigation.vue in RootView

  block page_nav

  block outer_content
    if features.chinaHome
      .floatCS
        img.qr(src="https://assets.koudashijie.com/images/homeVersion/service_qr.png")
        img.icon(src="https://assets.koudashijie.com/images/home/icon/customerservice.png")
        .text 微信客服

    #site-content-area
      block content
        p If this is showing, you dun goofed

  block footer
    footer#site-footer
      // Will be replaced by Footer.vue in RootView
