.style-flat
  block header
    nav#main-nav
      // Will be replaced by Navigation.vue in RootView

  block page_nav

  block outer_content
    #site-content-area
      block content
        p If this is showing, you dun goofed

  block footer
    footer#site-footer
      // Will be replaced by Footer.vue in RootView
