extends /templates/base

block content

  h1(data-i18n="community.main_title") Community

  p Check out the ways you can get involved below, decide what sounds the most fun, and we look forward to working with you!

  div

    .community_columns

      a(href="/editor/level")
        img(src="/images/pages/community/level.png")

      h2 
        a.spl(href="/editor/level", data-i18n="community.level_editor")

      p Use the CodeCombat 
        a.spl(href="/editor/level", data-i18n="community.level_editor")
        |  to create and edit levels. Users have created levels for their classes, friends, hackathons, students, and siblings. If create a new level sounds intimidating you can start by forking one of ours!

    .community_columns

      a(href="/editor/thang")
        img(src="/images/pages/community/thang.png")


      h2
        a.spl(href="/editor/thang", data-i18n="editor.thang_title")

      p We call items within the game "thangs." Use the
        a.spl(href="/editor/thang", data-i18n="editor.thang_title") 
        |  to modify the CodeCombat source artwork. Allow units to throw projectiles, alter the direction of an animation, change a unit's hit points, or upload your own JS art.

    .community_columns

      a(href="/editor/article")
        img(src="/images/pages/community/article.png")

      h2
        a.spl(href="/editor/level", data-i18n="editor.article_title")

      p See a mistake in some of our docs? Want to make some instructions for your own creations? Check out the 
        a.spl(href="/editor/article", data-i18n="editor.article_title") 
        |  and help CodeCombat players get the most out of their play time. 

  div

    .half_width

      h2.lower_titles Find us on these sites

        .logo_row

          a(href="http://blog.codecombat.com")
            img(src="/images/pages/community/logo_sett.png")

          a(href="http://discourse.codecombat.com")
            img(src="/images/pages/community/logo_discourse.png")

          a(href="https://www.facebook.com/codecombat")
            img(src="/images/pages/community/logo_facebook.png")

          a(href="https://twitter.com/CodeCombat")
            img(src="/images/pages/community/logo_twitter.png")

          a(href="https://plus.google.com/115285980638641924488/posts")
            img(src="/images/pages/community/logo_g+.png")

          a(href="http://www.hipchat.com/g3plnOKqa")
            img(src="/images/pages/community/logo_hipchat.png")

    .half_width

      h2.lower_titles Contribute to the Project

        .logo_row

          a(href="/contribute#adventurer")
            img(src="/images/pages/community/adventurer.png")

          a(href="/contribute#ambassador")
            img(src="/images/pages/community/ambassador.png")

          a(href="/contribute#archmage")
            img(src="/images/pages/community/archmage.png")

          a(href="/contribute#scribe")
            img(src="/images/pages/community/scribe.png")

          a(href="/contribute#diplomat")
            img(src="/images/pages/community/diplomat.png")

          a(href="/contribute#artisan")
            img(src="/images/pages/community/artisan.png")


  .clearfix

