extends /templates/base

block content

  h1(data-i18n="community.main_title") Community

  p(data-i18n="community.introduction") Check out the ways you can get involved below and decide what sounds the most fun. We look forward to working with you!

  div

    .community-columns
      a(href="/editor/level")
        img(src="/images/pages/community/level.png")
      h2 
        a(href="/editor/level", data-i18n="editor.level_title")
      p
        span.spr(data-i18n="community.level_editor_prefix") Use the CodeCombat
        a(href="/editor/level", data-i18n="editor.level_title")
        span.spl(data-i18n="community.level_editor_suffix") to create and edit levels. Users have created levels for their classes, friends, hackathons, students, and siblings. If create a new level sounds intimidating you can start by forking one of ours!

    .community-columns
      a(href="/editor/thang")
        img(src="/images/pages/community/thang.png")
      h2
        a(href="/editor/thang", data-i18n="editor.thang_title")
      p
        span.spr(data-i18n="community.thang_editor_prefix") We call units within the game 'thangs'. Use the
        a(href="/editor/thang", data-i18n="editor.thang_title")
        span.spl(data-i18n="community.thang_editor_suffix") to modify the CodeCombat source artwork. Allow units to throw projectiles, alter the direction of an animation, change a unit's hit points, or upload your own vector sprites.

    .community-columns
      a(href="/editor/article")
        img(src="/images/pages/community/article.png")
      h2
        a(href="/editor/article", data-i18n="editor.article_title")
      p
        span.spr(data-i18n="community.article_editor_prefix") See a mistake in some of our docs? Want to make some instructions for your own creations? Check out the
        a(href="/editor/article", data-i18n="editor.article_title")
        span.spl(data-i18n="community.article_editor_suffix") and help CodeCombat players get the most out of their playtime.

  div

    .half-width

      h2.lower-titles
        a(href="https://www.facebook.com/codecombat", data-i18n="community.find_us") Find us on these sites

      .logo-row

        a(href="https://github.com/codecombat/codecombat")
          img(src="/images/pages/community/logo_github.png", data-i18n="[data-content]community.social_github" data-content="Check out all our code on GitHub")

        a(href="http://blog.codecombat.com")
          img(src="/images/pages/community/logo_sett.png", data-i18n="[data-content]community.social_blog" data-content="Read the CodeCombat blog on Sett")

        a(href="http://discourse.codecombat.com")
          img(src="/images/pages/community/logo_discourse.png", data-i18n="[data-content]community.social_discource" data-content="Join the discussion on our Discourse forum")

        a(href="https://www.facebook.com/codecombat")
          img(src="/images/pages/community/logo_facebook.png", data-i18n="[data-content]community.social_facebook" data-content="Like CodeCombat on Facebook")

        a(href="https://twitter.com/CodeCombat")
          img(src="/images/pages/community/logo_twitter.png", data-i18n="[data-content]community.social_twitter" data-content="Follow CodeCombat on Twitter")

        a(href="https://plus.google.com/115285980638641924488/posts")
          img(src="/images/pages/community/logo_g+.png", data-i18n="[data-content]community.social_gplus" data-content="Join CodeCombat on Google+")

        a(href="https://coco-slack-invite.herokuapp.com/")
          img(src="/images/pages/community/logo_hipchat.png", data-i18n="[data-content]community.social_hipchat" data-content="Chat with us in the public CodeCombat Slack channel")

    .half-width

      h2.lower-titles
        a(href="/contribute", data-i18n="community.contribute_to_the_project") Contribute to the project

      .logo-row.contribute-classes

        a(href="/contribute/archmage")
          img(src="/images/pages/community/archmage.png")

        a(href="/contribute/artisan")
          img(src="/images/pages/community/artisan.png")

        if !me.isOnPremiumServer()
          a(href="/contribute/adventurer")
            img(src="/images/pages/community/adventurer.png")

        a(href="/contribute/scribe")
          img(src="/images/pages/community/scribe.png")

        a(href="/contribute/diplomat")
          img(src="/images/pages/community/diplomat.png")

        a(href="/contribute/ambassador")
          img(src="/images/pages/community/ambassador.png")


  .clearfix
