block content
  if value > 0
    #model
      div
        p(style="color:white") 自动跳转中，请稍后。。。
  .container-fluid.con
    .header.row
      a.navbar-brand(href="/home")
        img#logo-img(src="/images/pages/base/logo.png")

    .row
      .col-md-6.left.center
        .card
          div(style="display:inline-block;width:55%")
            .name
              h3(style="color: #33cccc;font-weight:400") 机构/学校用户
            .use
              p(style="color: black;font-weight:300") 适合机构/学校教学使用
              button.btn.btn-lg.btn-primary.one(style="text-transform: none;background: #33cccc;") 立即访问
          div(style="display:inline-block;width:45%;overflow: hidden;margin-bottom:-14px")
            img.photo(src="https://assets.koudashijie.com/images/redirect-coco.png")
      .col-md-6.right.center
        .card
          div(style="display:inline-block;width:55%")
            .name
              h3(style="color: black;font-weight:400") 个人用户
            .use
              p(style="color: black;font-weight:300") 适合个人在家中学习使用
            button.btn.btn-lg.btn-success.two(href="https://codecombat.163.com/#/", style="text-transform: none;") 立即访问
          div(style="display:inline-block;width:45%;overflow:hidden;margin-bottom:-14px")
            img.photo(src="https://assets.koudashijie.com/images/redirect-netease.png")
