extends /templates/base-flat.jade

block content

  .container
    .row.head
      .col-md-offset-2.col-md-8
        h3.text-center(data-i18n="new_home.request_quote")
        h4.text-center(data-i18n="[html]teachers_quote.subtitle")

    .row.photo
      img(src="https://assets.koudashijie.com/aiyouth/WechatIMG3303.jpeg")

    .row.card
      .col-md-offset-2.col-md-3
        h4
          strong 公司信息
      .col-md-6.content
        p 名称：扣哒康拜（北京）科技有限公司
        p 邮箱：china@codecombat.com
        p 电话：13810906731
        p 地址：北京市海淀区海淀西大街48号一层221号
        img.mpqr(src="https://assets.koudashijie.com/images/mpqrcode.jpeg")

    .row.card
      .col-md-offset-2.col-md-3.title
        h4
          strong 大中华区首席执行官
      .col-md-6.content
        p 姓名：王成仓
        p 邮箱：bill@codecombat.com
        p 电话：13810906731

    .row.card
      .col-md-offset-2.col-md-3.title
        h4
          strong 大中华区首席营销官
      .col-md-6.content
        p 姓名：刘姗
        p 邮箱：shan@codecombat.com
        p 电话：18723676713

    .row.card
      .col-md-offset-2.col-md-3.title
        h4
          strong 大中华区首席运营官
      .col-md-6.content
        p 姓名：陈闰
        p 邮箱：chenrun@codecombat.com
        p 电话：17896027556

    .row.card
      .col-md-offset-2.col-md-3.title
        h4
          strong 大中华区技术负责人
      .col-md-6.content
        p 姓名：吴俊霖
        p 邮箱：lance@codecombat.com

    .row.card
      .col-md-offset-2.col-md-3.title
        h4
          strong 大中华区课研负责人
      .col-md-6.content
        p 姓名：陈之然
        p 邮箱：zhiran@codecombat.com

    .row.card
      .col-md-offset-2.col-md-3.title
        h4
          strong 大中华区创新负责人
      .col-md-6.content
        p 姓名：童羽强
        p 邮箱：yuqiang@codecombat.com

    .row.card
      .col-md-offset-2.col-md-3.title
        h4
          strong 社交平台账号
      .col-md-7.content
        .row
          .col-md-3
            p 微信公众号:
          .col-md-4
            p 扣哒世界CodeCombat
        .row
          .col-md-3
            p 微博:
          .col-md-4
            p 扣哒世界CodeCombat
        .row
          .col-md-3
            p 抖音号:
          .col-md-4
            p 扣哒世界CodeCombat
        .row
          .col-md-3
            p 哔哩哔哩:
          .col-md-4
            p 扣哒世界CodeCombat
        .row
          .col-md-3
            p 知乎号:
          .col-md-4
            p 扣哒世界CodeCombat


