extends /templates/base

block content
  
  h2(data-i18n="editor.main_title") CodeCombat Editors
  
  p(data-i18n="editor.main_description")
    | Build your own levels, campaigns, units and educational content.
    | We provide all the tools you need!
  
  div.editor-column
    h3
      a(href='/editor/level', data-i18n="editor.level_title") Level Editor
    div.description(data-i18n="editor.level_description")
      | Includes the tools for scripting, uploading audio, and constructing custom logic
      | to create all sorts of levels. Everything we use ourselves!
  
  div.editor-column
    h3
      a(href='/editor/thang', data-i18n="editor.thang_title") Thang Editor
    div.description(data-i18n="editor.thang_description")
      | Build units, defining their default logic, graphics and audio.
      | Currently only supports importing Flash exported vector graphics.

  div.editor-column
    h3
      a(href='/editor/article', data-i18n="editor.article_title") Article Editor
    div.description(data-i18n="editor.article_description")
      | Write articles that give players overviews of programming concepts which can be
      | used across a variety of levels and campaigns.
  
  div.clearfix
  
  hr
  
  p
    span(data-i18n="editor.got_questions") Questions about using the CodeCombat editors?
    |  
    a(title='Contact', tabindex=-1, data-toggle="coco-modal", data-target="modal/contact", data-i18n="editor.contact_us") Contact us!
    |  
    span(data-i18n="editor.hipchat_prefix") You can also find us in our
    |  
    strong
      a(href="http://www.hipchat.com/g3plnOKqa", data-i18n="editor.hipchat_url") HipChat room.