extends /templates/base

block content
  
  h3 Introducing The CodeCombat Level Editor
  
  p
  | Since we launched the prototype in June, 2013, we've been hard at work making
  | systems for producing much, much more content.
  | The centerpiece of these efforts is the new 
  strong Level Editor
  | , which makes building levels and their many constituent parts a snap.
  
  div.images
    div
      img(src="/file/52602a6ba36ab808aa000007", alt="Articles").img-polaroid
      br
      span.label.label-info Write Articles
    div
      img(src="/file/526032dca36ab808aa000009", alt="Map").img-polaroid
      br
      span.label.label-info Construct Maps
    div
      img(src="/file/52603311a36ab808aa00000c", alt="Scripting").img-polaroid
      br
      span.label.label-info Build Scripts
    div
      img(src="/file/52603434a36ab808aa00000e", alt="Units").img-polaroid
      br
      span.label.label-info Configure Units

  p#after-images
  | Eventually, you'll be able to build all manners of challenges, with custom sounds,
  | music, artwork, units, maps, scripts, documentation, and yes, even code.
  | It's got a long way to go, but it's just starting to get usable and we're itching to use it.
  | Expect (and demand!) new levels at regular intervals as we continue to grow.

  h3 Watch it In Action
  
  div.screencast-wrapper
    <object width="640" height="400"><param name="movie" value="//www.youtube.com/v/H5u5ga5dHm8?hl=en_US&amp;version=3&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/H5u5ga5dHm8?hl=en_US&amp;version=3&amp;hd=1" type="application/x-shockwave-flash" width="640" height="400" allowscriptaccess="always" allowfullscreen="true"></embed></object>
  
  h3 When Can I Use It?
  
  p
    | Now! We've opened it for general use, possibly against our better judgment.
    | It's still very broken, but we're seeking people to try it out and help us make it better,
    | so we're throwing it out there.
    | Learn more about the role of 
    a(href="/contribute#artisan") Artisan
    |  in the 
    a(href="/contribute") contribute page
    | .
  
  hr
  div#editor-links
    a(href="/editor/level").btn Edit Levels
    if me.isAdmin()
      a(href="/editor/article").btn Edit Articles
      
  .modal.hide.fade#image-modal
    .modal-body