extends /templates/base

block content

  .row

    .col-md-6

      h2 CodeCombat for Employers

      p.lead Want to hire expert CodeCombat players?

      p
        | CodeCombat doesn't just have beginners. We also have expert software developers who play our 
        a(href="http://blog.codecombat.com/beat-this-level-get-a-programming-job") developer challenge levels
        | . If your company is seeking technical talent, then we'd be happy to help place candidates with you.

      p We were actually overwhelmed by how many talented developers rushed to site, crushed our version of the algorithm in the Gridmancer challenge, and were looking for job opportunities, especially in the SF Bay Area where CodeCombat is located. So if you're an employer, now's a great time to get in touch and meet some amazing programmers.

      p If this sounds interesting, then let's get in touch, find out what you're looking for, talk about recruitment terms, and see what we can do for you. Don't worry–we are not your traditional recruiter. We're a tech company like you who happens to have a ton of great programmers looking to us for help with the job search.

      h3
        a(title='Contact', tabindex=-1, data-toggle="coco-modal", data-target="modal/contact") Contact Us
    
    .span5
 
      h2 Candidate Statistics

      h4 Resumes: 46
      h4 Ages: 16 - 45
      h4 Experience: 0 - 30 years
      h4 Skill: from interns and entry level to senior developers and management
      h4 Technologies: just about everything
      h4 Countries: USA, Canada, Australia, and many more

  p If you click on a profile, you can see:
  ul
    li extra links
    li extra skill tags
    li self description
    li work experience description: list of company name, job title, dates
    li educational experience: list of school name, degree & major, dates
    li our notes
    li links to CodeCombat code in action
    li contact modal link
    li visa needs
    li more location
    li projects: list of pic, name, description, link (like http://www.folyo.me/designers/stanislav-udotov)

  table.table.table-condensed.table-hover.table-responsive.tablesorter
    thead
      tr
        th Name
        th Location
        th Looking For
        // Remote, Full-time, Part-time, Contracting, Internship
        th Top 5 Skills
        th Yrs Exp
        th Last Updated
        th Current Job
