extends /templates/base

block content

  .page-header
    h1#site-slogan
      span(data-i18n="home.slogan") Learn to Code by Playing a Game
      small.spl.spr -
      small free!

  .row.platform-choices
    .col-xs-6.platform-ios
      a(href="#")
        .panel.panel-default
          .panel-body
            h1 Play on iPad
            img.img-responsive(src="/images/pages/front/play_web.jpg")
            p.lead Get the app!
        
    .col-xs-6.platform-web
      a(href="/play-hero")
        .panel.panel-default
          .panel-body
            h1 Play on web
            img.img-responsive(src="/images/pages/front/play_web.jpg")
            p.lead Play right now!

  .clearfix
