extends /templates/base

block content

  h1#site-slogan(data-i18n="home.slogan") Learn to Code JavaScript by Playing a Game

  #trailer-wrapper
    <iframe width="949" height="534" src="//www.youtube.com/embed/1zjaA13k-dA?rel=0&controls=0&modestbranding=1&showinfo=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
  
  hr

  .alert.alert-danger.lt-ie10
    strong(data-i18n="home.no_ie") CodeCombat does not run in Internet Explorer 9 or older. Sorry!

  if isMobile
    .alert.alert-danger.mobile
      strong(data-i18n="home.no_mobile") CodeCombat wasn't designed for mobile devices and may not work!
  if isOldBrowser
    .alert.alert-danger.old-browser
      strong(data-i18n="home.old_browser") Uh oh, your browser is too old to run CodeCombat. Sorry!
      br
      span(data-i18n="home.old_browser_suffix") You can try anyway, but it probably won't work.

  a#beginner-campaign(href="/play/level/rescue-mission")
    div.game-mode-wrapper
      if isEnglish
        img(src="/images/pages/home/campaign.jpg").img-rounded
      else
        img(src="/images/pages/home/campaign_notext.jpg").img-rounded
        h3(data-i18n="home.campaign") Campaign
        h4(data-i18n="home.for-beginners") For Beginners
      .play-text(data-i18n="home.play") Play

  a#multiplayer(href="/play/ladder/dungeon-arena")
    div.game-mode-wrapper
      if isEnglish
        img(src="/images/pages/home/multiplayer.jpg").img-rounded
      else
        img(src="/images/pages/home/multiplayer_notext.jpg").img-rounded
        h3(data-i18n="home.multiplayer") Multiplayer
        h4(data-i18n="home.for-developers") For Developers
      .play-text(data-i18n="home.play") Play

  .clearfix
