extends /templates/base

block content

  h1#site-slogan(data-i18n="home.slogan") Learn to Code JavaScript by Playing a Game

  if frontPageContent == 'video'
    //- if language is Chinese, we use youku, because China can't visit youtube.
    //- otherwise, we use youtube.
    if languageName == "zh-HANS"
      #trailer-wrapper
        <embed src="http://player.youku.com/player.php/sid/XNjk2Mzg5NjYw/v.swf" style="margin-left:15px; margin-top:8px;"allowFullScreen="true" quality="high" width="920" height="518" wmode="opaque"></embed>
        img(src="/images/pages/home/video_border.png")
      #mobile-trailer-wrapper
        <embed src="http://player.youku.com/player.php/sid/XNjk2Mzg5NjYw/v.swf" style="margin-left:15px; margin-top:8px;"allowFullScreen="true" quality="high" width="280" height="158" wmode="opaque"></embed>
    else
      #trailer-wrapper
        <iframe width="920" height="518" src="//www.youtube.com/embed/1zjaA13k-dA?rel=0&controls=0&modestbranding=1&showinfo=0&iv_load_policy=3&vq=hd720&wmode=transparent" frameborder="0" wmode="opaque" allowfullscreen></iframe>
        img(src="/images/pages/home/video_border.png")
      #mobile-trailer-wrapper
        <iframe src="//www.youtube.com/embed/1zjaA13k-dA" frameborder="0" width="280" height="158"></iframe> 
    hr

  else if frontPageContent == 'screenshot'
    #front-screenshot
      img(src="/images/pages/home/front_screenshot_01.png", alt="")

  else if frontPageContent == 'nothing'
    p &nbsp;

  .alert.alert-danger.lt-ie10
    strong(data-i18n="home.no_ie") CodeCombat does not run in Internet Explorer 9 or older. Sorry!

  if isMobile
    .alert.alert-danger.mobile
      strong(data-i18n="home.no_mobile") CodeCombat wasn't designed for mobile devices and may not work!
  if isOldBrowser
    .alert.alert-danger.old-browser
      strong(data-i18n="home.old_browser") Uh oh, your browser is too old to run CodeCombat. Sorry!
      br
      span(data-i18n="home.old_browser_suffix") You can try anyway, but it probably won't work.
  
  a#beginner-campaign(href="/play/level/rescue-mission")
    div.game-mode-wrapper
      if isEnglish
        img(src="/images/pages/home/campaign.jpg").img-rounded
      else
        img(src="/images/pages/home/campaign_notext.jpg").img-rounded
        h3(data-i18n="home.campaign") Campaign
        h4(data-i18n="home.for_beginners") For Beginners
      .play-text(data-i18n="home.play") Play

  a#multiplayer(href="/play/ladder/dungeon-arena")
    div.game-mode-wrapper
      if isEnglish
        img(src="/images/pages/home/multiplayer.jpg").img-rounded
      else
        img(src="/images/pages/home/multiplayer_notext.jpg").img-rounded
        h3(data-i18n="home.multiplayer") Multiplayer
        h4(data-i18n="home.for_developers") For Developers
      .play-text(data-i18n="home.play") Play

  .clearfix
