extends /templates/base

block outer_content
  #spacer
  
  a#play-button(href="/play", data-i18n="common.play")

  //#or-ipad(data-i18n="home.or_ipad")
  
  //img(src="/images/pages/home/app_store_badge.svg")#apple-store-button
  
  #slogan(data-i18n="home.slogan")

  .alert.alert-danger.lt-ie9
    strong(data-i18n="home.no_ie") CodeCombat does not run in Internet Explorer 8 or older. Sorry!
  
  if isMobile
    .alert.alert-danger.mobile
      strong(data-i18n="home.no_mobile") CodeCombat wasn't designed for mobile devices and may not work!
  if isOldBrowser
    .alert.alert-danger.old-browser
      strong(data-i18n="home.old_browser") Uh oh, your browser is too old to run CodeCombat. Sorry!
      br
      span(data-i18n="home.old_browser_suffix") You can try anyway, but it probably won't work.
  