extends /templates/base-flat.jade

block content
  main.container-fluid#home-page
    section.row#jumbotron-container-fluid
      .item-list
        img(src="/images/ozaria/home/ozaria_logo_sun.png" alt="Ozaria branding logo")
        h1(data-i18n="ozaria_home.subtitle" style="margin-bottom:15px;")
        h2.subtitle-mid(data-i18n="ozaria_home.heading_subtitle")
        if me.isTeacher()
          a.btn.btn-primary.btn-large.btn-moon(href="/teachers/classes", data-i18n="new_home.go_to_my_classes")
        else if me.isStudent()
          a.btn.btn-primary.btn-large.btn-moon(href="/students", data-i18n="new_home.go_to_my_dashboard")
        else
          p(data-i18n="ozaria_home.item_list_p")
          div
            a.btn.btn-primary.btn-large.btn-moon.teacher-btn(data-i18n="ozaria_home.im_an_educator" data-event-action="Click: I'm an Educator")
          div
            a.btn.btn-primary.btn-large.btn-moon.student-btn(data-i18n="ozaria_home.im_a_student" data-event-action="Click: I'm a Student")

    section#graphics-1
      .move-image
        img.code-graphic(src="/images/ozaria/home/code_graphic_1.png" loading="lazy" alt="hero and pet dog walking along grid with hero.moveLeft() code in speech bubble")
        img.code-graphic-mobile(src="/images/ozaria/home/code_graphic_1_mobile_new.png" loading="lazy" alt="hero and pet dog walking along grid with hero.moveLeft() code in speech bubble")
    #graphics-1-back

    section.section-spacer#engaging
      h1.heading-corner(data-i18n="ozaria_home.engaging_heading_corner" style="max-width: 727px; margin-bottom: 60px;")

      .row.flex-row
        .col-sm-7
          img(src="/images/ozaria/home/easy_implementation_graphic.png" class="img-responsive" alt="teacher using Ozaria teacher dashboard")
        .col-sm-4.col-sm-offset-1
          h2(data-i18n="ozaria_home.engaging_row1_h2" style="margin-bottom: 20px;")
          p(data-i18n="ozaria_home.engaging_row1_p")
      .row.flex-row(style="padding: 60px 0;")
        .col-sm-7.col-sm-push-5
          img(src="/images/ozaria/home/gifs/gameplay_1.gif" class="img-responsive" loading="lazy" style="border: 10px solid #F7D047;" alt="animation of gameplay. Hero casting illusion mist on an enemy")
        .col-sm-4.col-sm-offset-1.col-sm-pull-7
          h2(data-i18n="ozaria_home.engaging_row2_h2" style="margin-bottom: 20px;")
          p(data-i18n="ozaria_home.engaging_row2_p")
      .row.flex-row
        .col-sm-7
          img(src="/images/ozaria/home/standards_aligned_graphic.png" class="img-responsive" alt="student doing an encoding schemes puzzle in online classroom")
        .col-sm-4.col-sm-offset-1
          h2(data-i18n="ozaria_home.engaging_row3_h2" style="margin-bottom: 20px;")
          p(data-i18n="ozaria_home.engaging_row3_p")

    section.full-width.section-spacer#back_cta_1
      a.btn.btn-primary.btn-large.btn-moon.try-chapter-1(data-i18n="ozaria_home.back_cta_1_a" data-event-action="Click: Try Chapter 1 CTA 1")

    section.section-spacer#speech-bubble-testimonial-1(style="padding-top:130px;")
      .row.xs-marg-15
        blockquote.col-sm-8(style="z-index: 1;")
          div(data-i18n="ozaria_home.speech_bubble_testimonial_1_blockquote")
          footer
            cite(class="name") Chris Beckwith
            cite(class="position") Technology Instructor, Reeds Brook Middle School
      .row
        .col-sm-6.crystal-art
          img(src="/images/ozaria/home/crystal-art.png" class="img-responsive")
        .col-sm-6.chris-image
          img(src="/images/ozaria/home/testimonial_1.png" class="img-responsive" style="z-index: 0;" alt="Headshot of Technology Instructor")

    section#core-curriculum
      h1.heading-corner(data-i18n="ozaria_home.core_curriculum_header")
      p(data-i18n="ozaria_home.core_curriculum_p" style="margin-bottom: 40px;")

      .carousel-row
        #core-curriculum-carousel.carousel.slide(data-interval=8000)
          .carousel-inner
            .item.active
              .row
                .col-sm-7
                  img(src="/images/ozaria/home/carousel/carousel_1.png" class="img-responsive" loading="lazy" alt="Slideshow image with heading text: Algorithms. Beneath heading a picture of baking ingredients and a maze.")
                .col-sm-5
                  h2(data-i18n="ozaria_home.core_curriculum_carousel_item1_header")
                  p(data-i18n="ozaria_home.core_curriculum_carousel_item1_p")
            .item
              .row
                .col-sm-7
                  img(src="/images/ozaria/home/carousel/carousel_2.png" class="img-responsive" loading="lazy" alt="Example lesson slide. Text says 'Map Design. Use the objects on the map & below to design your own maze.' Image of a blank grassy map with trees and rocks for student to place.")
                .col-sm-5
                  h2(data-i18n="ozaria_home.core_curriculum_carousel_item2_header")
                  p(data-i18n="ozaria_home.core_curriculum_carousel_item2_p")
            .item
              .row
                .col-sm-7
                  img(src="/images/ozaria/home/carousel/carousel_3.png" class="img-responsive" loading="lazy" alt="Example of cinematic. Close up of Vega character with speech bubble that says 'A sequence of code is what's called an algorithm. It's a bunch of steps that need to be completed in order.'")
                .col-sm-5
                  h2(data-i18n="ozaria_home.core_curriculum_carousel_item3_header")
                  p(data-i18n="ozaria_home.core_curriculum_carousel_item3_p")
            .item
              .row
                .col-sm-7
                  img(src="/images/ozaria/home/carousel/carousel_4.png" class="img-responsive" loading="lazy" alt="Screenshot of a practicel level. Level on the left with student's code on the right.")
                .col-sm-5
                  h2(data-i18n="ozaria_home.core_curriculum_carousel_item4_header")
                  p(data-i18n="ozaria_home.core_curriculum_carousel_item4_p")
            .item
              .row
                .col-sm-7
                  img(src="/images/ozaria/home/carousel/carousel_5.png" class="img-responsive" loading="lazy" alt="Screenshot of a capstone level. Story maker capstone where students construct a dialogue between characters.")
                .col-sm-5
                  h2(data-i18n="ozaria_home.core_curriculum_carousel_item5_header")
                  p(data-i18n="ozaria_home.core_curriculum_carousel_item5_p")


        .control-buttons
          button.press-engage(aria-label="Carousel Engage Item")
          button.press-explore(aria-label="Carousel Explore Item")
          button.press-explain(aria-label="Carousel Explain Item")
          button.press-elaborate(aria-label="Carousel Elaborate Item")
          button.press-evaluate(aria-label="Carousel Evaluate Item")

      .row.flex-row.text-center.sm-mt-50(style="padding-top:20px;")
        a.btn.btn-primary.btn-large.btn-moon(data-i18n="ozaria_home.core_curriculum_scope_sequence" data-event-action="Click: View Scope and Sequence" href="https://docs.google.com/spreadsheets/d/1S7qS2zxVccBMVNUQ0Duh6ugyQfhqopGKaSXyhCf-5UA/edit#gid=137569977" target="_blank" rel="noopener")
        a.btn.btn-primary.btn-large.btn-moon(data-i18n="ozaria_home.core_curriculum_sample_lesson_slides" data-event-action="Click: View Sample Lesson Slides" href="https://docs.google.com/presentation/d/1KgFOg2tqbKEH8qNwIBdmK2QbHvTsxnW_Xo7LvjPsxwE/edit?usp=sharing" target="_blank" rel="noopener")

    section.section-spacer#global-community
      h1.smaller-38(data-i18n="ozaria_home.global_community_header") 
      .row.xs-marg-15
        div(class="tree-art-asset")
          img(src="/images/ozaria/home/tree_art_asset.svg"  style="height: fit-content;" class="img-responsive" alt="Tree Art Asset")
        div(class="frame-art-asset")
          img(src="/images/ozaria/home/frame_art_asset.svg" style="height: fit-content;" class="img-responsive" alt="Frame Art Asset")
        .col-xs-12.col-sm-3
          img(src="/images/ozaria/home/global_img_1.svg" class="img-responsive" alt="Graphic of a graduate cap")
          h2 20 Million
          p(data-i18n="ozaria_home.global_community_row1_p")
        .col-xs-12.col-sm-3
          img(src="/images/ozaria/home/global_img_2.svg" class="img-responsive" alt="Graphic of computer")
          h2 1 Billion
          p(data-i18n="ozaria_home.global_community_row2_p")
        .col-xs-12.col-sm-3
          img(src="/images/ozaria/home/global_img_3.svg" class="img-responsive" alt="Graphic of an apple")
          h2 140,000
          p(data-i18n="ozaria_home.global_community_row3_p")
        .col-xs-12.col-sm-3
          img(src="/images/ozaria/home/global_img_4.svg" class="img-responsive" alt="Graphic of the earth")
          h2 190
          p(data-i18n="ozaria_home.global_community_row4_p")

    section#admin-dashboard
      h1.heading-corner(data-i18n="ozaria_home.admin_dashboard_header")
      p(data-i18n="ozaria_home.admin_dashboard_p")

      .row.flex-row
        .col-sm-7
          img(src="/images/ozaria/home/gifs/curriculum_guide.gif" class="img-responsive" loading="lazy" style="border: 10px solid #476FB1;" alt="Screen capture of teacher dashboard curriculum guide. Shows levels, lessons slides, project rubric and chapters.")
        .col-sm-4
          p.color-change(data-i18n="ozaria_home.admin_dashboard_row1_p")

      .row.flex-row
        .col-sm-7.col-sm-push-5
          img(src="/images/ozaria/home/gifs/track_progress.gif" class="img-responsive" loading="lazy" style="border: 10px solid #F7D047;" alt="Screen capture of classroom track progress table. Teacher is clicking on student's progress and seeing their solutions.")
        .col-sm-4.col-sm-pull-6
          p(data-i18n="ozaria_home.admin_dashboard_row2_p")

      .row.flex-row.text-center(style="width: 100%;")
        a.btn.btn-primary.btn-large.btn-moon.request-quote(data-i18n="ozaria_home.admin_dashboard_row3_a" data-event-action="Click: Request a Quote")

    section#acodus-awards
      .row
        .col-sm-5.acodus-transform
          img(src="/images/ozaria/home/acodus_with_code.png" class="img-responsive" alt="Fantasy laptop with code written on it to help hero traverse gap shown in the animation image.")
        .col-sm-7
          .row(style="text-align: center;padding-bottom:20px;")
            img(src="/images/ozaria/home/gifs/crumble.gif" class="img-responsive" loading="lazy" style="border: 10px solid #5DB9AC;" alt="Animation of hero traversing a puzzle using the code in the previous image.")
          .flex-row.row
            .col-md-4
              img(src="/images/ozaria/home/award_1.png" class="img-responsive" alt="Codie 2017 SIIA CodiE winner award")
            .col-md-4
              img(src="/images/ozaria/home/award_2.png" class="img-responsive" alt="2018 Top Pick for Learning award")
            .col-md-4
              img(src="/images/ozaria/home/award_3.png" class="img-responsive" alt="Member CS for All consortium")
      .row.flex-row(style="margin: 85px 0 130px;")
        a.btn.btn-primary.btn-large.btn-moon.try-chapter-1(data-i18n="ozaria_home.acodus_awards_a" data-event-action="Click: Try Chapter 1 CTA 2")


    section#speech-bubble-testimonial-2
      .row.xs-marg-15
        blockquote.col-sm-8.col-sm-offset-4
          div(data-i18n="ozaria_home.speech_bubble_testimonial_2_blockquote")
          footer
            cite(class="name") Alecia Nachtigal
            cite(class="position") Educator, Victoria School for Ideal Education
      .row
        .col-sm-6
          img(src="/images/ozaria/home/testimonial_2.png" class="img-responsive" style="z-index: -1;transform: translateY(-40%);position: relative;" loading="lazy" alt="Headshot of Educator")
        .col-sm-6.crystal-art
          img(src="/images/ozaria/home/crystal-art.png" class="img-responsive" loading="lazy")          

    section
      h1.heading-corner(data-i18n="ozaria_home.shareable_resources_header")
      p(data-i18n="ozaria_home.shareable_resources_p")

      img(src="/images/ozaria/home/shareable_resource.png" class="img-responsive" loading="lazy" alt="Slide with following text. What is Ozaria? Flexible and personalized core computer science curriculum. Teaches authentic text-based coding in Python and Javascript. Highly engaging game-based learning. Self-paced and scaffolded instruction. Real world project-based applications. Promotes 21st Century Skills and lifelong learning behaviors.")
      .row.flex-row.text-center(style="justify-content: center; margin: 70px 0 100px;")
        a.btn.btn-primary.btn-large.btn-moon(data-event-action="Click: Download Presentation" style="margin: 20px;" href="https://docs.google.com/presentation/d/1ezuQZJMvb7IUHxvrYgihIbcTsbyhyKac8FgS30rVd_k/copy" target="_blank" rel="noopener") Download Presentation
        a.btn.btn-primary.btn-large.btn-moon(data-i18n="ozaria_home.shareable_resources_a" data-event-action="Click: Download Flyer" style="margin: 20px;" href="https://drive.google.com/file/d/1T_UNIAN7v3gMJzOyyYAdbBoRTea1wkRp/view" target="_blank" rel="noopener")

    section.full-width#back_cta_2
      a.btn.btn-primary.btn-large.btn-moon.try-chapter-1(data-i18n="ozaria_home.back_cta_2_a" data-event-action="Click: Try Chapter 1 CTA 3")

    section#faq(style="padding-top: 130px;")
      h1.heading-corner(data-i18n="ozaria_home.faq_header" style="margin-bottom: 60px;")
      .row
        .col-sm-6
          h2(data-i18n="ozaria_home.faq_row1_header")
          p(data-i18n="ozaria_home.faq_row1_p")
        .col-sm-6
          h2(data-i18n="ozaria_home.faq_row2_header")
          p(data-i18n="ozaria_home.faq_row2_p")
        .col-sm-6
          h2(data-i18n="ozaria_home.faq_row3_header")
          p
            span(data-i18n="ozaria_home.faq_row3_p_part1")
            a.contact-us(data-i18n="general.contact_us")
            span(data-i18n="ozaria_home.faq_row3_p_part2")
        .col-sm-6
          h2(data-i18n="ozaria_home.faq_row4_header")
          p(data-i18n="ozaria_home.faq_row4_p")
        .col-sm-6
          h2(data-i18n="ozaria_home.faq_row5_header")
          p(data-i18n="ozaria_home.faq_row5_p")
      .row.text-center(style="margin: 60px 0 100px;")
        p
          span(data-i18n="ozaria_home.faq_row6_p_part1")
          a.contact-us(data-i18n="general.contact_us")
          | .
