extends /templates/base

block content

  h1#site-slogan(data-i18n="home.slogan") Learn to Code by Playing a Game

  .alert.alert-danger.lt-ie9
    strong(data-i18n="home.no_ie") CodeCombat does not run in Internet Explorer 8 or older. Sorry!

  if isMobile
    .alert.alert-danger.mobile
      strong(data-i18n="home.no_mobile") CodeCombat wasn't designed for mobile devices and may not work!
  if isOldBrowser
    .alert.alert-danger.old-browser
      strong(data-i18n="home.old_browser") Uh oh, your browser is too old to run CodeCombat. Sorry!
      br
      span(data-i18n="home.old_browser_suffix") You can try anyway, but it probably won't work.
  
  a#beginner-campaign(href="/play")
    div.game-mode-wrapper
      img(src="/images/pages/home/play_img.png").img-rounded
      h3(data-i18n="home.campaign") Campaign
      h4(data-i18n="home.for_beginners") For Beginners
      .play-text(data-i18n="home.play") Play

  .clearfix
