extends /templates/base

block append site_nav
  #kids-coding-container
    img#boy-coding.kid-coding(src="/images/pages/home/boy_coding.png", alt="", draggable="false")
    img#girl-coding.kid-coding(src="/images/pages/home/girl_coding.png", alt="", draggable="false")

block outer_content
  #spacer
  
  a#play-button(href=view.playURL, data-i18n="[html]home.play")

  if view.alternatePlayURL
    #alternate-play-button
      a.btn.btn-illustrated.btn-primary(href=view.alternatePlayURL, data-i18n=view.alternatePlayText)

  //a(href="https://itunes.apple.com/us/app/codecombat/id936523909?mt=8")
  //  #or-ipad(data-i18n="home.or_ipad")
  //
  //a(href="https://itunes.apple.com/us/app/codecombat/id936523909?mt=8")
  //  img(src="/images/pages/home/app_store_badge.svg")#apple-store-button

  //- Example of how to throw down a temporary news link
  //- #news
  //-   a(href="/play/ladder/ace-of-coders", data-i18n="temp.ace_of_coders_tournament") New: play in the Ace of Coders tournament now!

  #slogan(data-i18n="home.slogan")

  //- TODO: This does not work on IE8
  .alert.alert-danger.lt-ie9
    strong(data-i18n="home.no_ie") CodeCombat does not run in Internet Explorer 8 or older. Sorry!
  
  if view.isIPadBrowser() || view.isMobile()
    .alert.alert-danger.mobile
      strong(data-i18n="home.no_mobile") CodeCombat wasn't designed for mobile devices and may not work!
  else if view.isOldBrowser()
    .alert.alert-danger.old-browser
      strong(data-i18n="home.old_browser") Uh oh, your browser is too old to run CodeCombat. Sorry!
      br
      span(data-i18n="home.old_browser_suffix") You can try anyway, but it probably won't work.

  if view.withTeacherNote
    .style-flat
      .bg-navy
        a#close-teacher-note-link.glyphicon.glyphicon-remove.pull-right
        h3 Teachers!
        h4 Want the most engaging way to teach programming at your school?
        .text-center
          a.btn.btn-primary-alt.btn-lg(href="/teachers/quote") Request a Quote
          h6
            a.small(href="/schools") Learn More
    