extends /templates/base

block content
  
  h1 Legal
  
  hr

  p.lead CodeCombat is free to play and completely open source.
  p Check out 
    a(href="https://github.com/codecombat/codecombat") our GitHub
    | , and help out if you like! CodeCombat is built on dozens of open source projects, and we love them. See 
    a(href="https://github.com/codecombat/codecombat/wiki/Third-party-software-and-services") our Archmage wiki
    |  for a list of the software that makes this game possible.
  hr

  div.aside.well
    h3 Respectful Best Practices
    p These are our promises to you, the player, in slightly less legalese.
    h4 Privacy
    p We will not sell any of your personal information. We intend to make money through recruitment eventually, but rest assured we will not distribute your personal information to interested companies without your explicit consent.
    h4 Security
    p We strive to keep your personal information safe. As an open source project, our site is freely open to anyone to review and improve our security systems. 
    h4 Email
    p We will not inundate you with spam. Through 
      a(href='/account/settings') your email settings
      |  or through links in the emails we send, you can change your preferences and easily unsubscribe at any time.
    h4 Cost
    p Currently, CodeCombat is 100% free! One of our main goals is to keep it that way, so that as many people can play as possible, regardless of place in life. If the sky darkens, we might have to charge subscriptions or for some content, but we'd rather not. With any luck, we'll be able to sustain the company with:
    h4 Recruitment
    :markdown
      Here on CodeCombat, you're going to become a powerful wizard--not just in the game, but also in real life. [No one can hire programmers fast enough](http://code.org/stats), so once you've sharpened your skills and if you agree, we will demo your best coding accomplishments to the thousands of employers who are drooling for the chance to hire you. They pay us a little, they pay you *a lot*, the site remains free and everybody's happy. That's the plan.
    
  h2 Copyrights and Licenses
  
  h3 Contributor License Agreement
  
  p All contributions, both on the site and on our GitHub repository, are subject to our 
    a(href="/cla") CLA
    | , to which you should agree before contributing.
  
  h3 Code - MIT
  
  p All code owned by CodeCombat or hosted on codecombat.com, both in the GitHub repository or in the codecombat.com database, is licensed under the 
    a(href="http://opensource.org/licenses/MIT") MIT license
    | . This includes all code in Systems and Components that are made available by CodeCombat for the purpose of creating levels.
  
  h3 Art/Music - Creative Commons 
    a(rel='license', href='http://creativecommons.org/licenses/by/4.0/').cc-license-link
      img(alt='Creative Commons License', style='border-width: 0; margin-left: 10px', src='http://i.creativecommons.org/l/by/4.0/88x31.png')

  p All common content is available under the 
    a(href="http://creativecommons.org/licenses/by/4.0/") Creative Commons Attribution 4.0 International License
    | . Common content is anything made generally available by CodeCombat for the purpose of creating Levels. This includes:
  
  ul
    li Music
    li Sound
    li Artwork
    li Sprites
    li Any and all other non-code creative works that are made available when creating Levels.
  
  p For attribution, please name and link to codecombat.com near where the source is used or where appropriate for the medium. For example:
  
  ul
    li If used in a movie or another game, include codecombat.com in the credits.
    li If used on a website, include a link near the usage, for example underneath an image, or in a general attributions page where you might also mention other Creative Commons works and open source software being used on the site. Something that's already clearly referencing CodeCombat, such as a blog post mentioning CodeCombat, does not need some separate attribution.
  
  p If the content being used is created not by CodeCombat but instead by a user of codecombat.com, attribute them instead, and follow attribution directions provided in that resource's description if there are any.
  
  h3 Rights Reserved
  
  p All rights are reserved for Levels themselves. This includes
  
  ul
    li Scripts
    li Unit configuration
    li Description
    li Writings
    li Media (sounds, music) and any other creative content made specifically for that Level and not made generally available when creating Levels.
  
  h3 In a Nutshell
  
  p Any resources we provide in the Level Editor are free to use as you like for creating Levels. But we reserve the right to restrict distribution of the Levels themselves (that are created on codecombat.com) so that they may be charged for in the future, if that's what ends up happening.
