.alert.alert-danger.loading-error-alert
  span(data-i18n="loading_error.could_not_load") Error loading from server
  span  (
  span(data-i18n="resources.#{name}")
  span ) 
  if !responseText
    strong(data-i18n="loading_error.connection_failure") Connection failed.
  else if status === 401
    strong(data-i18n="loading_error.unauthorized") You need to be signed in. Do you have cookies disabled?
  else if status === 403
    strong(data-i18n="loading_error.forbidden") You do not have the permissions.
  else if status === 404
    strong(data-i18n="loading_error.not_found") Not found.
  else if status === 405
    strong(data-i18n="loading_error.not_allowed") Method not allowed.
  else if status === 408
    strong(data-i18n="loading_error.timeout") Server timeout.
  else if status === 409
    strong(data-i18n="loading_error.conflict") Resource conflict.
  else if status === 422
    strong(data-i18n="loading_error.bad_input") Bad input.
  else if status >= 500
    strong(data-i18n="loading_error.server_error") Server error.
  else
    strong(data-i18n="loading_error.unknown") Unknown error.

  if resourceIndex !== undefined
    button.btn.btn-xs.retry-loading-resource(data-i18n="common.retry", data-resource-index=resourceIndex) Retry
  if requestIndex !== undefined
    button.btn.btn-xs.retry-loading-request(data-i18n="common.retry", data-request-index=requestIndex) Retry
    