extends /templates/modal/modal_base

block modal-header-content
  h4 March 17th, 2014: Dungeon Arena
  strong The new way to compete with code

block modal-body-content  
  ul
    li Code a hero to support your troops and destroy the enemy base. 
      | Think DotA but with JavaScript.
    li Rank your code against everyone else's, and climb the ladder as far as you can
    li Rework and finetune your code to handle every strategy opponents will throw your way.
    li Roll your own levels and heroes and see how they fare