extends /templates/modal/modal_base

block modal-header-content
  h1 Introducing Dungeon Arena
  em March 17, 2014: The new way to compete with code.

block modal-body-content

  <iframe width="640" height="360" src="//www.youtube.com/embed/1zjaA13k-dA?rel=0&controls=0&modestbranding=1&showinfo=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>

  h3 To Battle, Developers!

  p You know how to code? That's badass. You're a modern-day sorcerer! Isn't about time that you used your magic coding powers to command your minions in epic combat? And we're not talking robots here.

  p
    strong CodeCombat head-to-head multiplayer arenas are here.
    |  Choose your heroes, enchant your human or ogre armies, and climb your way over defeated fellow Wizards to reach the top of the ladders–then challenge your friends in our glorious, asynchronous multiplayer coding arenas. If you're feeling creative, you can even 
    a(href="/editor/level/dungeon-arena") fork our arenas
    |  and create your own worlds.

  p
    | JavaScript a bit rusty? Don't worry; there's a 
    a(href="/play/level/dungeon-arena-tutorial") tutorial
    | . New to programming? Hit our beginner campaign to skill up.

block modal-footer-content
  button.btn.btn-large.btn-success(type="button", data-dismiss="modal", aria-hidden="true", data-i18n="modal.so_ready") I Am So Ready for This
