extends /templates/base

block content
  
  h1
    | Privacy Policy

  p
    em
      span.spr (see also our
      a(href="/legal") legal page
      span )
  
  hr

  p This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
  p This privacy policy might change at any time without notification.

  p
    strong What personal information do we collect from the people that visit our website?

  table.table
    thead
      tr
        th Classroom Version - Teachers
        th Classroom Version - Students
        th Home Version - Players
    tbody
      tr
        td When registering a free teacher account, we ask for your name, email address, school name, and contact information so we can help you bring CodeCombat to your school.
        td When registering a free student account by invitation from a teacher, we ask for your first name, last initial, and optional email address for your teacher to manage their students.
        td When registering a free home account, we ask for your email address, for authentication, and your birthdate (to ensure you are 13+). When purchasing a subscription, we securely ask for (but do not store on our servers) your credit card information.

  p
    strong When do we collect information?

  p We collect information from you when you register on our site, place an order, fill out a form, or enter information on our site.

  p
    strong How do we use your information?

  p We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to an email, play the game, or use certain other site features in the following ways:

  table.table
    thead
      tr
        th Classroom Version - Teachers
        th Classroom Version - Students
        th Home Version - Players
    tbody
      tr
        td
          ul.list-unstyled
            li To personalize your experience.
            li To improve our website.
            li To respond to your customer service requests.
            li To send periodic emails about CodeCombat features and services (optional).
            li To contact you about your interest in CodeCombat for your school.
            li To assist with district-wide licensing.

        td
          ul.list-unstyled
            li To personalize your experience.
            li To improve our website.
            li To respond to your customer service requests.
            li To send periodic emails about CodeCombat feaures and services (optional).
        td
          ul.list-unstyled
            li To personalize your experience.
            li To improve our website.
            li To respond to your customer service requests.
            li To send periodic emails about CodeCombat feaures and services (optional).
            li To quickly process your transactions.

  p
    strong How do we protect visitor information?

  p Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.

  p We implement a variety of security measures when you place an order, and when you enter, submit, or access your information to maintain the safety of your personal information.

  p All transactions are processed through a gateway provider (Stripe) and are not stored or processed on our servers.

  p
    strong Do we use 'cookies'?

  p Yes. Cookies are small files that a site transfers to your computer's hard drive through your Web browser (if you allow) that enable the site's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to authenticate your browsing session. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.

  p We use cookies to:
    ul
      li Understand and save your preferences for future visits.
      li Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.

  p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.

  p
    strong If users disable cookies in their browser:

  p If you disable cookies, it will turn off some of the features that make your site experience more efficient and some of our services will not function properly.


  p
    strong Third Party Disclosure

  p We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information with the exception of those tools used to assist with customer service.

  p
    strong How does our site handle do not track signals?

  p We generally attempt to honor Do Not Track (DNT) browser signals when possible but cannot guarantee 100% coverage.

  p
    strong Does our site allow third party behavioral tracking?

  p Yes, for example, via Google Analytics.

  p
    strong California Online Privacy Protection Act

  p
    span.spr CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require a person or company in the United States (and conceivably the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy. See more
    a(href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf") here
    | .

  p According to CalOPPA: users can visit our site anonymously; we link to this Privacy Policy on the home page; and our Privacy Policy link includes the word 'Privacy', and can be easily be found on the home page.

  p Users will be notified of any privacy policy changes on our Privacy Policy Page. Users are able to change their personal information by logging into their account or by emailing us.

  p
    strong FERPA

  p Our collection, use, and disclosure of student data is governed by this privacy policy, any other agreement with an educational agency, the provisions of the Family Educational Rights and Privacy Act (FERPA), COPPA, and applicable state laws which relate to the collection of student data. See the rest of this privacy policy for other details on the limited ways in which we handle student data.

  p
    strong SOPIPA

  p CodeCombat is compliant with SOPIPA, meeting, among others, these requirements. We:

  ol
    li do not use any data collected via the service to target ads;
    li do not create advertising profiles on students;
    li do not sell student information;
    li do not disclose information, unless required by law or as part of the maintenance and development of the service;
    li do use sound information security, including encryption of data and other industry-standard practices;
    li will delete data that we have collected from students in a school when the school or district requests it;
    li share information only with educational researchers or with educational agencies performing a function for the school;
    li innovate safely without compromising student privacy by only using de-identified and aggregated data to develop and improve the service.

  p
    strong AB 1584

  p CodeCombat is compliant with AB 1584. For our classroom version, pupil records continue to be the property of and under the control of the local educational agency. Pupils may retain possession and control of their own pupil-generated content by editing or deleting their content from our servers themselves via the website or by emailing team@codecombat.com. Pupils may also request to transfer their pupil-generated content to a personal account. Third parties will not have access to any personally identifiable information in the pupil record for any purpose. Parents, legal guardians, and eligible pupils may review their information and request corrections to erroneous information through account settings on our website or by emailing team@codecombat.com. We take actions to ensure the security and confidentiality of pupil records, including but not limited to designating and training responsible individuals on ensuring the security and confidentiality of pupil records, by using current, commercially reasonable methods. In the event of an unauthorized disclosure of a pupil's records, CodeCombat shall report to an affected parent, legal guardian, or eligible pupil pursuant via email (if provided). CodeCombat shall not use any information in a pupil record for any purpose other than those required or specifically permitted by this privacy policy. CodeCombat will not use pupil records to engage in targeted advertising. A pupil's records shall not be retained or available to CodeCombat past the terms of any contract with a local educational agency, except for a case where a pupil chooses to establish or maintain an account with CodeCombat for the purpose of storing pupil-generated content, either by retaining possession and control of their own pupil-generated content, or by transferring pupil-generated content to a personal account.

  p
    strong COPPA (Children Online Privacy Protection Act)

  p When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.

  p We adhere to the following COPPA tenets:
    ul
      li We will not require a child to disclose more information than is reasonably necessary to particapate in our service.
      li Teachers and parents can agree to the collection and use of their students' information, but still not allow disclosure to third parties.
      li Teachers and parents can review, delete, and manage their students' information through account settings on our website or by emailing team@codecombat.com.
      li We notify teachers and parents directly before collecting PII from their children. This includes what specific information will be collected and how it might be disclosed, a link to our online privacy policy, and how teachers and parents can give their consent.
      li Parents can give consent by creating accounts for their children and providing the minimum necessary personal information needed during that account creation.
      li Student accounts for use in school settings can only be created with consent of a teacher.

  p
    strong Fair Information Practices

  p The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.

  p In order to be in line with Fair Information Practices, should a data breach occur, we will notify the affected users via email within 7 business days.

  p We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.

  p
    strong CAN-SPAM Act

  p The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.

  p We collect your email address in order to:
    ul
      li Authenticate your user account.
      li Send information, respond to inquiries, and/or other requests or questions.
      li Process orders and to send information and updates pertaining to orders
      li We may also send you additional information related to your product and/or service (optional).

  p To be in accordance with CANSPAM we agree to the following:
    ul
      li NOT use false, or misleading subjects or email addresses
      li Identify the message as an advertisement in some reasonable way
      li Include the physical address of our business or site headquarters
      li Monitor third party email marketing services for compliance, if used
      li Honor opt-out/unsubscribe requests quickly
      li Allow users to unsubscribe by using the link at the bottom of each email

  p If at any time you would like to unsubscribe from receiving future emails, you can change your email settings in your account preferences, email us, or follow the instructions at the bottom of each email, and we will promptly remove you from all correspondence.

  p
    strong Contacting Us

  p If there are any questions regarding this privacy policy, you may contact us using the information below.

  p
    span CodeCombat Inc.
    br
    span 301 Howard St Suite 830
    br
    span San Francisco, CA 94105
    br
    a(href='mailto:team@codecombat.com') team@codecombat.com

  p
    em Last Edited on 2018-01-19
