.container
  ol.skipped-contacts
    li.skipped-contact(v-for="skippedContact in skippedContacts")
      div(v-if="skippedContact")
        h2(v-if="skippedContact.trialRequest")
          {{skippedContact.trialRequest.properties.email}}
        button.unarchive-contact(:data-contact-id="skippedContact._id", v-if="skippedContact.archived")
          | Unarchive
        button.archive-contact(:data-contact-id="skippedContact._id", v-else)
          | Archive

        div(v-if="!skippedContact.archived")
          h2
            | Reason skipped:
            {{ skippedContact.reasonSkipped }}
          pre
            {{ JSON.stringify(skippedContact, null, 4) }}
          //- pre
          //-   = view.noteData(skippedContact)
