extends /templates/base

block content

  p.row

    .span5

      h2(data-i18n="teachers.title")
      p(data-i18n="teachers.intro_1")
      p(data-i18n="teachers.intro_2")

      h3(data-i18n="teachers.free_title")
      if me.get('chinaVersion')
        p(data-i18n="teachers.cost_china")
      else
        p(data-i18n="teachers.free_1")
        p(data-i18n="teachers.free_2")

      h3.teachers-title(data-i18n="teachers.teacher_subs_title")
      p 
        span(data-i18n="teachers.teacher_subs_1")
        span.spr.spl
          a(href='mailto:team@codecombat.com?subject=Free%20Teacher%20Subscription') team@codecombat.com
        span.spr.spl(data-i18n="teachers.teacher_subs_2")

      h3(data-i18n="teachers.sub_includes_title")
      p(data-i18n="teachers.sub_includes_1")
      ul
        li(data-i18n="teachers.sub_includes_2")
        li(data-i18n="teachers.sub_includes_3")
        li(data-i18n="teachers.sub_includes_4")
        li(data-i18n="teachers.sub_includes_5")
        li(data-i18n="teachers.sub_includes_6")

      h3(data-i18n="teachers.who_for_title")
      p(data-i18n="teachers.who_for_1")
      p(data-i18n="teachers.who_for_2")

      h3(data-i18n="teachers.material_title")
      if me.get('chinaVersion')
        p(data-i18n="teachers.material_china")
      else
        p(data-i18n="teachers.material_1")

      h3(data-i18n="teachers.concepts_title")

      //- TODO: i18n for concepts?

      table.table.table-condensed.concepts-table
        thead
          tr
            th
              a(href='/play/dungeon') Kithgard Dungeon
            th
              a(href='/play/forest') Backwoods Forest
            th
              a(href='/play/desert') Sarven Desert
            th
              a(href='/play/mountain') Cloudrip Mountain
        tbody
          tr
            td Syntax
            td If/Else
            td Arithmetic
            td Object Literals
          tr
            td Methods
            td Relational Operators
            td While-loops
            td Remote Method Invocation
          tr
            td Parameters
            td Object Properties
            td Break
            td For-Loops
          tr
            td Strings
            td Input Handling
            td Arrays
            td Functions
          tr
            td Loops
            td
            td String Comparison
            td Drawing
          tr
            td Variables
            td
            td Finding Min/Max
            td Modulo

      h3(data-i18n="teachers.how_much_title")
      p
        span(data-i18n="teachers.how_much_1")
        span.spr.spl
          a(href='/account/subscription', data-i18n="teachers.how_much_2")
        span.spr.spl(data-i18n="teachers.how_much_3")
      p(data-i18n="teachers.how_much_4")
      h4
        a(href='/account/subscription', data-i18n="subscribe.group_discounts")
      p(data-i18n="subscribe.group_discounts_1")
      table.table.table-condensed.discount-table
        tr 
          td(data-i18n="subscribe.group_discounts_1st")
          td(data-i18n="subscribe.group_discounts_full")
        tr
          td(data-i18n="subscribe.group_discounts_2nd")
          td(data-i18n="subscribe.group_discounts_20")
        tr
          td(data-i18n="subscribe.group_discounts_12th")
          td(data-i18n="subscribe.group_discounts_40")

      h3(data-i18n="teachers.sys_requirements_title")
      p(data-i18n="teachers.sys_requirements_1")
      p(data-i18n="teachers.sys_requirements_2")
