extends /templates/base

block content

  h2(data-i18n="teachers_survey.title")

  - var existingRequest = view.existingRequests.at(0)
  if me.isAnonymous()
    p.logged-out-blurb(data-i18n="teachers_survey.must_be_logged")
  else if view.fetchingData
    h4(data-i18n="teachers_survey.retrieving")
  else if existingRequest
    if existingRequest.get('status') === 'submitted'
      p
        span.spr(data-i18n="teachers_survey.being_reviewed_1")
        strong(data-i18n="teachers_survey.being_reviewed_2")
    else if existingRequest.get('status') === 'approved'
      p
        span.spr(data-i18n="teachers_survey.approved_1")
        strong.spr(data-i18n="teachers_survey.approved_2")
        span.spr(data-i18n="teachers_survey.approved_4")
        a(href='/courses/teachers', data-i18n="teachers_survey.approved_5")
        span.spl(data-i18n="teachers_survey.approved_6")
    else
      p
        span.spr(data-i18n="teachers_survey.denied_1")
        strong(data-i18n="teachers_survey.denied_2")
    p
      span.spr(data-i18n="teachers_survey.contact_1")
      a(href='mailto:team@codecombat.com') team@codecombat.com
      span.spl(data-i18n="teachers_survey.contact_2")
  else
    p(data-i18n="teachers_survey.description_1")
    p 
      strong.spr Hour of Code Special!
      span Complete the survey by December 31st and enroll all your students in the paid courses for 2 months.
    p
      span.spr(data-i18n="teachers_survey.description_1b")
      a(href='/teachers', data-i18n="teachers_survey.description_2")
      span.spl(data-i18n="teachers_survey.description_3")
    p(data-i18n="teachers_survey.description_4")
    p.container-email-address
      label.control-label(data-i18n="teachers_survey.email")
      br
      span.email-address= view.email
      a(href='/account/settings') Change
    p.container-school
      label.control-label(data-i18n="teachers_survey.school")
      br
      input.control-label.input-school(type='text')
    p.container-location
      label.control-label(data-i18n="teachers_survey.location")
      br
      input.control-label.input-location(type='text')
    p.container-age
      label.control-label(data-i18n="teachers_survey.age_students")
      div
        input(type="radio", name="age", value="Under 14")
        span.spl(data-i18n="teachers_survey.under")
        span.spl 14
      div
        input(type="radio", name="age", value="14-17")
        span.spl 14-17
      div
        input(type="radio", name="age", value="18+")
        span.spl 18+
      div
        input.radio-other(type="radio", name="age", value='other')
        span.spl.spr(data-i18n="teachers_survey.other")
        input.spr.input-age-other(type='text')
    p.container-num-students
      label.control-label(data-i18n="teachers_survey.amount_students")
      br
      input.control-label.input-num-students(type='text')
    p.container-heard-about
      label.control-label(data-i18n="teachers_survey.hear_about")
      br
      textarea.control-label.input-heard-about(rows=4)
    p.error-message(data-i18n="teachers_survey.fill_fields")
    p
      button.btn.btn-default.submit-button(data-i18n="play_level.tome_submit_button")
    p.thanks-submit(data-i18n="teachers_survey.thanks")
