extends /templates/base

block content

  p.row

    .span5

      h2(data-i18n="teachers.title") CodeCombat for Teachers

      h3(data-i18n="teachers.preparation_title") Preparation

      p
        span.spr(data-i18n="teachers.preparation_1")
          | CodeCombat is free to play for the core level progression 
          | and does not require students to sign up. We encourage teachers to
        a(href="/play", data-i18n="teachers.preparation_play_campaign") play through the campaign
        span.spl(data-i18n="teachers.preparation_2")
          | to try it out, but the only thing you absolutely need to do 
          | to be ready is ensure students have access to a computer.

      p(data-i18n="teachers.preparation_3")
        | It is not necessary for teachers to be comfortable with computer 
        | science concepts for students to have fun learning with CodeCombat.

      h3(data-i18n="teachers.violent_title")
        | Is it violent?

      p
        span.spr(data-i18n="teachers.violent_1")
          | We get this from teachers a lot due to our name. Although CodeCombat 
          | does contain cartoon violence, there is nothing graphic in either the 
          | visuals or language.
        span(data-i18n="teachers.violent_2")
          | If you are comfortable having your students play Angry Birds, you will 
          | be comfortable with CodeCombat.

      h3(data-i18n="teachers.for_girls_title")
        | Is it for girls?

      p(data-i18n="teachers.for_girls_1")
        | There are three game modes in CodeCombat: building, puzzles, and combat. 
        | We have intentionally designed each to appeal to both boys and girls and 
        | think that the building and puzzle levels especially differentiate the game 
        | from violent triple A titles that repel female players.
        
      h3(data-i18n="teachers.age_recommended_title")
        | What age is it recommended at?
        
      p(data-i18n="teachers.age_recommended_1")
        | The recommended minimum age is 9, however children as young as 7 can play the 
        | first stages with the assistance of an adult.
        
      h3(data-i18n="teachers.what_cover_title")
        | What do we cover?

      p(data-i18n="teachers.what_cover_1")
        | There are 27 levels in the first stage of CodeCombat that teach and 
        | reinforce 6 specific computer science concepts:

        ol
          li
            strong.spr(data-i18n="teachers.what_cover_notation_1") Formal notation
            span(data-i18n="teachers.what_cover_notation_2")
              | - builds an understanding of the importance of syntax in programming.
          li
            strong.spr(data-i18n="teachers.what_cover_methods_1") Calling methods
            span(data-i18n="teachers.what_cover_methods_2")
              | - familiarizes students with the syntax of object-oriented method calls.
          li
            strong.spr(data-i18n="teachers.what_cover_parameters_1") Parameters
            span(data-i18n="teachers.what_cover_parameters_2")
              | - trains how to pass parameters to functions.
          li
            strong.spr(data-i18n="teachers.what_cover_strings_1") Strings
            span(data-i18n="teachers.what_cover_strings_2")
              | - teaches students about string notation and passing strings as parameters.
          li
            strong.spr(data-i18n="teachers.what_cover_loops_1") Loops
            span(data-i18n="teachers.what_cover_loops_2")
              | - develops the abstraction of designing short programs with loops.
          li
            strong.spr(data-i18n="teachers.what_cover_variables_1") Variables
            span(data-i18n="teachers.what_cover_variables_2")
              | - adds the skill of referencing values that change over time.

      p(data-i18n="teachers.what_cover_2")
        | Students may continue past level 20, depending on their 
        | speed and interest, to learn two additional concepts in later levels:
        ol
          li
            strong.spr(data-i18n="teachers.what_cover_logic_1") Conditional logic
            span(data-i18n="teachers.what_cover_logic_2")
              | - when and how to use if/else to control in-game outcomes.
          li
            strong.spr(data-i18n="teachers.what_cover_input_1") Handling player input
            span(data-i18n="teachers.what_cover_input_2")
              | - responding to input events to create a user interface.
          li
            strong.spr(data-i18n="teachers.what_cover_array_1") Arrays
            span(data-i18n="teachers.what_cover_array_2")
              | - allows the player to create and loop through arrays. 


      h3(data-i18n="teachers.sys_requirements_title") System Requirements

      p(data-i18n="teachers.sys_requirements_1") 
        | Because CodeCombat is a game, it is more intensive for computers 
        | to run smoothly than video or written tutorials. We have optimized 
        | it to run quickly on all modern browsers and on older machines so 
        | that everyone can play. That said, here are our suggestions for getting 
        | the most out of the CodeCombat experience:

      ul
        li
          strong.spr(data-i18n="teachers.sys_requirements_2") Use newer versions of Chrome or Firefox.
          span(data-i18n="teachers.sys_requirements_3")
            | Although CodeCombat will work on browsers as old as Internet Explorer 9, the 
            | performance is not as good. Chrome is best.
        li
          strong.spr(data-i18n="teachers.sys_requirements_4") Use newer computers.
          span(data-i18n="teachers.sys_requirements_5")
            | Older computers, Chromebooks, and netbooks tend to have very few 
            | system resources, which makes for a less enjoyable experience. 
            | At least 2GB of RAM is required.
        li
          strong.spr(data-i18n="teachers.sys_requirements_6") Allow players to wear headphones/earbuds to hear the audio.
          span(data-i18n="teachers.sys_requirements_7")
            | We help players learn through voiceover and sound effects, which 
            | will make classrooms noisy and distracting.
