extends /templates/base

block content
  .container-fluid
    .row
      .col-md-6
        .pull-left
          a(href="/") <- to main CodeCombat website
      .col-md-6
        .pull-right
          a(href="/hoc") Students, click here!
    .row
      .col-md-12
        br
        .text-center
          .title 
            strong.spr Teachers
            span - share CodeCombat's Hour of Code with your class!
    .row
      .col-md-4
      .col-md-4
        p
          div In just one hour, students will learn:
          ul
            li basic Python syntex
            li arguments
            li strings
            li while loops
            li variables
  br

  if me.isAnonymous()
    .text-center
      button.btn.btn-lg.btn-success.uppercase.btn-create-account Create Teacher account
    .text-center
      button.btn.btn-lg.btn-primary.uppercase.btn-login-account Log into Teacher Account

  br
  br
  h2.text-center Hour of Code FAQ

  .container-fluid
    .row
      .col-md-2
      .col-md-8
        .faq-question(data-i18n="teachers.who_for_title")
        p(data-i18n="teachers.who_for_1")
        p(data-i18n="teachers.who_for_2")

        .faq-question Does it cost anything to play Hour of Code?
        p No! The first hour of CodeCombat is completely free.
        p Teachers, please see the free trial information above for further details.

        .faq-question(data-i18n="teachers.more_info_title")
        p
          span.spr(data-i18n="teachers.more_info_1")
          a(href='http://discourse.codecombat.com/c/teachers', data-i18n="teachers.more_info_2")
          span.spl(data-i18n="teachers.more_info_3")
