extends /templates/base

block content
  .container-fluid
    .row
      .col-md-6
        .pull-left
          a(href="/") <- to main CodeCombat website
      .col-md-6
        .pull-right
          a(href="/hoc") Students, click here!
    .row
      .col-md-12
        br
        .text-center
          .title 
            strong.spr Teachers
            span - try CodeCombat Courses in your classroom!
    .row
      .col-md-2
      .col-md-8
        p
          div In just one hour, students will learn:
          ul
            li basic Python syntax
            li arguments
            li strings
            li while loops
            li variables
  br

  if me.isAnonymous()
    .text-center
      button.btn.btn-lg.btn-success.uppercase.btn-create-account Create Teacher account
    .text-center
      button.btn.btn-lg.btn-primary.uppercase.btn-login-account Log into Teacher Account

  br
  br
  h2.text-center Frequently Asked Questions

  .container-fluid
    .row
      .col-md-2
      .col-md-8
        .faq-question(data-i18n="teachers.who_for_title")
        p(data-i18n="teachers.who_for_1")
        p(data-i18n="teachers.who_for_2")

        .faq-question Does it cost anything to play CodeCombat?
        p
          span.spr The first course “Introduction to Computer Science” is completely free, and generally takes students an hour to complete. Students can be enrolled in additional courses spanning an entire semester's worth of topics with per-student pricing. We offer
          a(href='/teachers/freetrial') free trials
          span.spl for teachers who are interested in using CodeCombat Courses.

        .faq-question(data-i18n="teachers.more_info_title")
        p
          span.spr(data-i18n="teachers.more_info_1")
          a(href='http://discourse.codecombat.com/c/teachers', data-i18n="teachers.more_info_2")
          span.spl(data-i18n="teachers.more_info_3")
