extends /templates/base

block content

  .row

    .span5

      h2 CodeCombat for Teachers

      p.lead Want to use CodeCombat in your classroom? Great!

      p It's free, there's no signup required, and we're excited to hear what your students think.

      p You should be able to just point your kids at the site and let them play--you don't need to introduce it or cover anything about programming in advance. However, we've made the game pretty hard, because it's a multiplayer game, and players should be able to team up to help each other when they get stuck.

      p In a classroom setting, multiplayer is easy: just do pair programming, with two students playing together at one computer taking turns typing. (We also have real-time multiplayer built into the game, but there's no need to use that when you're right next to each other in a classroom.)
      
      p
        | If you're doing the Hour of Code and want to print certificates for your students, 
        a(href="http://csedweek.org/certificates") go here
        | .

      p More questions? Get in touch! Feature requests? We'd love to hear them! CodeCombat is new and needs to hear from you to learn what teachers would love to have in their classrooms of programming wizards-to-be.

      h3
        a(title='Contact', tabindex=-1, data-toggle="coco-modal", data-target="modal/contact") Contact Us
    
    .span5
 
      h3 CodeCombat Usage Checklist

      h4 Age
      ul
        li ✓ College and adult
        li ✓ High school (14-18)
        li ✓ Middle school (13+)
        li ~ Middle school (11-12): can play, but don't register without parental consent
        li ~ Elementary school (7-10): may require some guidance
        li ✗ 6 and under: probably too hard

      h4 Browser
      ul
        li ✓ Chrome ~17+
        li ✓ Firefox ~21+
        li ✓ Safari 6+
        li ✓ Internet Explorer 10 and 11
        li ✗ Internet Explorer 8 and 9
      
      h4 Operating System
      ul
        li ✓ Windows
        li ✓ Mac
        li ✓ Linux
        li ✗ iPhone/iPad/iPod (might work, but not fun to type on mobile)
        li ✗ Android (not fun to type on mobile)

      h4 Internet Connection
      ul
        li ✓ Fast connection
        li ~ Slow connection (we're working to optimize this)
        li ✗ Offline

      h4 Computer
      ul
        li ✓ Fast computer
        li ~ Slow computer (we're working to optimize this)
        li ✗ Old, slow netbook
      
      h4 Languages
      ul
        li ✓ English - English
        li ~✓ русский язык, Russian
        li ~✓ Deutsch, German
        li ~✓ español (América Latina), Spanish (Latin America)
        li ~✓ español (ES), Spanish (Spain)
        li ~✓ 简体中文, Chinese (Simplified)
        li ~✓ 繁体中文, Chinese (Traditional)
        li ~✓ français, French
        li ~✓ 日本語, Japanese
        li العربية, Arabic
        li ~✓ português do Brasil, Portuguese (Brazil)
        li ~✓ Português europeu, Portuguese (Portugal)
        li ~✓ język polski, Polish
        li ~✓ italiano, Italian
        li ~✓ Türkçe, Turkish
        li ~✓ Nederlands, Dutch
        li ~ فارسی, Persian
        li čeština, Czech
        li ~✓ Svenska, Swedish
        li ~✓ Bahasa Indonesia, Indonesian
        li ~✓ ελληνικά, Greek
        li ~✓ limba română, Romanian
        li ~ Tiếng Việt, Vietnamese
        li ~✓ magyar, Hungarian
        li ~ ไทย, Thai
        li ~ dansk, Danish
        li 한국어, Korean
        li ~ slovenčina, Slovak
        li ~✓ slovenščina, Slovene
        li suomi, Finnish
        li български език, Bulgarian
        li Norwegian (Nynorsk), Norwegian Nynorsk
        li ~ Norsk Bokmål, Norwegian (Bokmål)
        li ~ עברית, Hebrew
        li lietuvių kalba, Lithuanian
        li ~✓ српски, Serbian
        li ~✓ українська мова, Ukranian
        li मानक हिन्दी, Hindi
        li ~ اُردُو, Urdu
        li ~ Bahasa Melayu, Bahasa Malaysia
