extends /templates/base

block content

  p.row

    .span5

      h2(data-i18n="teachers.title")
        |CodeCombat for Teachers

      h3(data-i18n="teachers.preparation") Preparation

      p
        span.spr(data-i18n="teachers.")
          | CodeCombat is free to play for the core level progression 
          | and does not require students to sign up. We encourage teachers to
        a(href="/play", data-i18n="teachers.") play through the campaign
        span.spl(data-i18n="teachers.")
          | to try it out, but the only thing you absolutely need to do 
          | to be ready is ensure students have access to a computer.

      p(data-i18n="teachers.")
        | It is not necessary for teachers to be comfortable with computer 
        | science concepts for students to have fun learning with CodeCombat.

      h3(data-i18n="teachers.")
        | Is it violent?

      p(data-i18n="teachers.")
        | We get this from teachers a lot due to our name. Although CodeCombat 
        | does contain cartoon violence, there is nothing graphic in either the 
        | visuals or language. If you are comfortable having your students play 
        | Angry Birds, you will be comfortable with CodeCombat.

      h3(data-i18n="teachers.")
        | Is it for girls?

      p(data-i18n="teachers.")
        | There are three game modes in CodeCombat: building, puzzles, and combat. 
        | We have intentionally designed each to appeal to both boys and girls and 
        | think that the building and puzzle levels especially differentiate the game 
        | from violent triple A titles that repel female players.

      h3(data-i18n="teachers.")
        | What do we cover?

      p(data-i18n="teachers.")
        | There are 20 levels in the Hour of Code tutorial that teach and 
        | reinforce 6 specific computer science concepts:

        ol
          li
            strong(data-i18n="teachers.") Formal notation
            span(data-i18n="teachers.")
              | - builds an understanding of the importance of syntax in programming.
          li
            strong(data-i18n="teachers.") Calling methods
              | - familiarizes students with the syntax of object-oriented method calls.
          li
            strong(data-i18n="teachers.") Parameters
            span(data-i18n="teachers.")
              | - trains how to pass parameters to functions.
          li
            strong(data-i18n="teachers.") Strings
            span(data-i18n="teachers.")
              | - teaches students about string notation and passing strings as parameters.
          li
            strong(data-i18n="teachers.") Loops
            span(data-i18n="teachers.")
              | - develops the abstraction of designing short programs with loops.
          li
            strong(data-i18n="teachers.") Variables
            span(data-i18n="teachers.")
              | - adds the skill of referencing values that change over time.

      p(data-i18n="teachers.")
        | Students may continue past level 20, depending on their 
        | speed and interest, to learn two additional concepts in later levels:
        ol
          li
            strong(data-i18n="teachers.") Conditional logic
            span(data-i18n="teachers.")
              | - when and how to use if/else to control in-game outcomes.
          li
            strong(data-i18n="teachers.") Handling player input
            span(data-i18n="teachers.")
              | - responding to input events to create a user interface.


      h3(data-i18n="teachers.") System Requirements

      p(data-i18n="teachers.") 
        | Because CodeCombat is a game, it is more intensive for computers 
        | to run smoothly than video or written tutorials. We have optimized 
        | it to run quickly on all modern browsers and on older machines so 
        | that everyone can play. That said, here are our suggestions for getting 
        | the most out of your Hour of Code experience:

      ul
        li
          strong(data-i18n="teachers.") Use newer versions of Chrome or Firefox.
          span(data-i18n="teachers.")
            | Although CodeCombat will work on browsers as old as IE9, the performance is not as good. Chrome is best.
        li
          strong(data-i18n="teachers.") Use newer computers.
          span(data-i18n="teachers.")
            | Older computers, Chromebooks, and netbooks tend to have very few system resources, which makes for a less enjoyable experience. At least 2GB of RAM is required.
        li
          strong(data-i18n="teachers.") Allow players to wear headphones/earbuds to hear the audio.
          span(data-i18n="teachers.")
            | We help players learn through voiceover and sound effects, which will make classrooms noisy and distracting.
