button.flag-button.btn.btn-lg.green-flag(title="G: Place a green flag")
  span.glyphicon.glyphicon-flag
  span.flag-caption
    span.flag-shortcut G
    | reen
button.flag-button.btn.btn-lg.black-flag(title="B: Place a black flag")
  span.glyphicon.glyphicon-flag
  span.flag-caption
    span.flag-shortcut B
    | lack
button.flag-button.btn.btn-lg.violet-flag(title="V: Place a violet flag")
  span.glyphicon.glyphicon-flag
  span.flag-caption
    span.flag-shortcut V
    | iolet
