#editor-course-edit-view
  .treema-root
    margin-bottom: 20px

  .course-tool-button
    float: right
    margin-bottom: 15px
    margin-left: 10px

  textarea
    width: 92%
    height: 300px

    
