extends /templates/base

// User pages might have some user page specific header, if not remove this
block content
  .clearfix
    //-
      if user && viewName
        ol.breadcrumb
          li
            - var userName = user.get('name');
            //_a(href="/user/#{user.id}") #{userName}
          li.active
            //-| #{viewName}
    if !userLoaded
      | LOADING
    else if !user
      // TODO Ruben make this all fancy as soon as we can query users by name
      | User not found.



