extends /templates/base

// User pages might have some user page specific header, if not remove this
block content
  .clearfix
    if user && viewName
      ol.breadcrumb
        li
          a(href="/user/#{user.id}") #{user.displayName()}
        li.active
          | #{viewName}
    if !userLoaded
      | LOADING
    else if !user
      // TODO Ruben make this all fancy as soon as we can query users by name
      | User not found.



