h3(data-i18n="editor.level_tab_thangs_add") Add Thangs
input(type="search", id="thang-search", data-i18n="[placeholder]editor.level_tab_thangs_search", placeholder="Search thangs")
div.editor-nano-container.nano
  #thangs-list.nano-content
    for group in groups
      h4= group.name
      for thangType in group.thangs
        div.add-thang-palette-icon(data-thang-type=thangType.get('name'), title=thangType.get('name'))
          img(src=thangType.getPortraitURL(), alt="")
      div.clearfix
