.components-container
  h3 Current Components
  #components-treema

.edit-component-container
  if me.isAdmin()
    button.btn.btn-primary#create-new-component-button Create New Component
  
  #editor-level-component-edit-view
