.components-container
  h3(data-i18n="editor.level_component_tab_title") Current Components
  #components-treema

.edit-component-container
  if me.isAdmin()
    button(data-i18n="editor.level_component_btn_new").btn.btn-primary#create-new-component-button-no-select Create New Component
  
  #editor-level-component-edit-view
