extends /templates/modal/modal_base

block modal-header-content
  h3(data-i18n="editor.fork_title") Fork New Version

block modal-body-content
  form#save-level-form.form
    .form-group
      label(for="level-name") Name
      input#level-name(name="name", type="text").form-control

block modal-footer-content
  button.btn(data-dismiss="modal") Cancel
  button.btn.btn-primary#fork-level-confirm-button Save
    
block modal-body-wait-content
  h3 Creating Fork...
