.systems-container
  h3 Current Systems
  #systems-treema

.edit-system-container
  if me.isAdmin()
    button.btn.btn-primary#create-new-system-button Create New System
  
  #editor-level-system-edit-view

button.btn.btn-primary#add-system-button Add System
