.systems-container
  h3(data-i18n="editor.level_systems_tab_title") Current Systems
  #systems-treema

.edit-system-container
  if me.isAdmin()
    button(data-i18n="editor.level_systems_btn_new").btn.btn-primary#create-new-system-button Create New System
  
  #editor-level-system-edit-view

button(data-i18n="editor.level_systems_btn_add").btn.btn-primary#add-system-button Add System
