button.btn#thangs-container-toggle
  span.icon-list
button.btn#thangs-palette-toggle
  span.icon-plus
.thangs-container.hide#all-thangs
  h3(data-i18n="editor.level_tab_thangs_title") Current Thangs
  #thangs-treema(data-i18n="[title]editor.config_thang", title="Double click to configure a thang")

.world-container
  #canvas-wrapper
    button.generate-terrain-button.btn.btn-info.btn-lg(data-toggle="coco-modal", data-target="editor/level/modals/GenerateTerrainModal", data-i18n="editor.generate_terrain") Generate Terrain
    ul.dropdown-menu#contextmenu
      li#delete
        a(data-i18n="editor.delete") Delete
      li#duplicate
        a(data-i18n="editor.duplicate") Duplicate
      li.divider
      li.dropdown-header#rotation-menu-item
        span(data-i18n="editor.rotate").spr Rotate
        button.btn.btn-xs.spr(data-rotation='-0.5')
          span.glyphicon.glyphicon-arrow-up
        button.btn.btn-xs.spr(data-rotation='1')
          span.glyphicon.glyphicon-arrow-left
        button.btn.btn-xs.spr(data-rotation='0')
          span.glyphicon.glyphicon-arrow-right
        button.btn.btn-xs(data-rotation='0.5')
          span.glyphicon.glyphicon-arrow-down
    canvas(width=924, height=589)#webgl-surface
    canvas(width=924, height=589)#normal-surface
    #canvas-left-gradient.gradient
    #canvas-top-gradient.gradient

#add-thangs-view
#level-thang-edit-view.secret
