extends /templates/modal/modal_base
include /templates/kinds/versions

block modal-header-content
  h3 Version History

block modal-body-content
  if dataList
    +version-history-body()

block modal-footer-content