.form

  h3.options-title(data-i18n="options.editor_config_title") Level Options:

  .form-group.checkbox
    label(for="option-live-completion")
      input#option-live-completion(name="liveCompletion", type="checkbox", checked=aceConfig.liveCompletion)
      span.custom-checkbox
        .glyphicon.glyphicon-ok
      span(data-i18n="options.editor_config_livecompletion_label") Enable Autocomplete
    span.help-block(data-i18n="options.editor_config_livecompletion_description") Displays autocomplete suggestions while typing.

  .form-group.checkbox
    label(for="option-behaviors")
      input#option-behaviors(name="behaviors", type="checkbox", checked=aceConfig.behaviors)
      span.custom-checkbox
        .glyphicon.glyphicon-ok
      span(data-i18n="options.editor_config_behaviors_label") Enable Smart Behaviors
    span.help-block(data-i18n="options.editor_config_behaviors_description") Autocompletes brackets, braces, and quotes.

  button.ozaria-button.ozaria-primary-button.done-button(data-i18n="play_level.done") Done
