.form

  h3.options-title(data-i18n="options.editor_config_title") Level Options:

  .form-group.slider-group#volume-group
    span.glyphicon.glyphicon-volume-down
    #option-volume.slider.spr.spl
    span.glyphicon.glyphicon-volume-up

  .form-group.checkbox
    label(for="option-music").control-label
      input#option-music(name="option-music", type="checkbox", checked=music)
      span.custom-checkbox
        .glyphicon.glyphicon-ok
      span(data-i18n="options.music_label") Music
    span.help-block(data-i18n="options.music_description") Turn background music on/off.

  .form-group.checkbox
    label(for="option-live-completion")
      input#option-live-completion(name="liveCompletion", type="checkbox", disabled=!view.options.classroomAceConfig.liveCompletion checked=view.options.classroomAceConfig.liveCompletion && aceConfig.liveCompletion)
      span.custom-checkbox
        .glyphicon.glyphicon-ok
      span(data-i18n="options.editor_config_livecompletion_label") Enable Autocomplete
    span.help-block(data-i18n="options.editor_config_livecompletion_description") Displays autocomplete suggestions while typing.
    if !view.options.classroomAceConfig.liveCompletion
      span.help-block(data-i18n="options.editor_config_livecompletion_disabled_by_teacher")

  .form-group.checkbox
    label(for="option-behaviors")
      input#option-behaviors(name="behaviors", type="checkbox", checked=aceConfig.behaviors)
      span.custom-checkbox
        .glyphicon.glyphicon-ok
      span(data-i18n="options.editor_config_behaviors_label") Enable Smart Behaviors
    span.help-block(data-i18n="options.editor_config_behaviors_description") Autocompletes brackets, braces, and quotes.

  .form-group.checkbox
    label(for="option-screen-reader-mode")
      input#option-screen-reader-mode(name="screen-reader-mode", type="checkbox", checked=aceConfig.screenReaderMode)
      span.custom-checkbox
        .glyphicon.glyphicon-ok
      span(data-i18n="options.editor_config_screen_reader_mode_label") Enable Screen Reader Mode
    span.help-block(data-i18n="options.editor_config_screen_reader_mode_description") Display levels in text rather than visually.

  button.ozaria-button.ozaria-primary-button.done-button(data-i18n="play_level.done") Done
