#course-info-view

  .center
    text-align: center

  .contact-container
    margin-top: 20px
    text-align: center

  .info-container
    margin: 0% 10%

  .praise-quote
    font-size: 24px
    font-style: italic

  .praise-source
    font-size: 16px
